<div class="portlet solid" id="camera-md-emails-panel">
  <div class="portlet-title">
    <div class="caption">Email Alert Settings</div>
  </div>
  <div class="portlet-body col-md-12">
    <table class="table table-fixed table-borderless">
      <tr>
        <td class="col-md-3">Email Alerts:</td>
        <td class="col-md-9">
          <span id="ec_cam_id">
            On
          </span>
        </td>
      </tr>
      <tr>
        <td>Emails:</td>
        <td>
          <div id="div-alert-emails"></div>
        </td>
      </tr>
      <tr id="email">
        <td>Add Emails:</td>
        <td>
          <input id="md-alert-email" class="form-control" type="text" name="md-alert-email" required="required" data-validation="email">
          <% if @has_edit_rights %>
          <button id="save-email" name="save-email" class="alert push btn btn-primary margin-right-10">Save</button>
          <%end%>
        </td>
      </tr>
    </table>
  </div>
</div>