<div class="portlet solid" id="camera-md-settings-panel">
  <div class="portlet-title">
    <div class="caption">Motion Detection Settings</div>
  </div>
  <div class="portlet-body col-md-12">
    <table class="table table-fixed table-borderless">
      <tr>
        <td class="col-md-3">Motion Detection:</td>
        <td id="motion-toggle" class="col-md-9">
          <label class="label toggle">
            <input id="enable-md" type="checkbox" class="toggle_input"/>
            <div class="toggle-control"></div>
          </label>
        </td>
      </tr>
      <tr>
        <td>Sensitivity:</td>
        <td>
          <div id="divSensitivity"></div>
        </td>
      </tr>
      <tr id="reset">
        <td  id="reset-times" >Reset Time:</td>
        <td>
          <select id="reset-time" name="reset-time" class="form-control" autocomplete="off">
            <option value="30">30 seconds</option>
            <option value="1">1 minute</option>
            <option value="5" selected>5 minutes</option>
          </select>
          <% if @has_edit_rights %>
            <button id="save-md-settings" name="save-md-settings" class="alert push btn btn-primary margin-right-10">Save</button>
          <%end%>
        </td>
      </tr>
    </table>
  </div>
</div>
