@import "single/_apps.css.scss";
@import "single/_explorer.css.scss";
@import "single/_info.css.scss";
@import "single/_live.css.scss";
@import "single/_settings.css.scss";
@import "single/_sharing.css.scss";
@import "single/_snapshot-recorder.css.scss";
@import "single/_streams.css.scss";

.icon-align-justify {
  background-image: asset-url('glyphicons-halflings.png');
  background-repeat:no-repeat;
  background-position:-336px -48px;
  display:inline-block;
  height:14px;
  line-height:14px;
  margin-top:1px;
  vertical-align:text-top;
  width:14px;
}
#ul-nav-tab .caret{
  display: none;
}