@import "single/_apps.css.scss";
@import "single/_explorer.css.scss";
@import "single/_info.css.scss";
@import "single/_logs.css.scss";
@import "single/_live.css.scss";
@import "single/_settings.css.scss";
@import "single/_sharing.css.scss";
@import "single/_snapshot-recorder.css.scss";
@import "single/_streams.css.scss";

.icon-align-justify {
  background-image: asset-url('glyphicons-halflings.png');
  background-repeat:no-repeat;
  background-position:-336px -48px;
  display:inline-block;
  height:14px;
  line-height:14px;
  margin-top:1px;
  vertical-align:text-top;
  width:14px;
}
#ul-nav-tab .caret{
  display: none;
}
.nav-tabs, .nav-pills {
  margin-bottom: 0px;
}
#camera-not-found{
  .dialog {
    max-width: 34em;
    margin: 50px auto 0 auto;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background-color: white;
    padding: 24px 40px 28px;
    box-shadow:0 3px 10px rgba(0,0,0,0.06);
  }
  p {
    line-height: 1.5em;
  }
}
#ul-nav-tab .add-to-share{
  margin-top: 10px;
}
@media (max-width: 480px) {
  #ul-nav-tab .add-to-share{
    display: none;
  }
}
