.env
# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/log/mails
/tmp
/coverage

#Created assets
#/public/assets/*

# IDE stuff
/.idea
