// Place all the styles related to the live controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#apps li{
  list-style: none;
}
#apps a {
  text-decoration: none;
  color:$secondary-color;
}
.apps h4 {
  margin:22px 0px 9px;
  font-family: 'proxima-nova-bold';
}
.apps {
  text-align: center;
  padding: 20px 20px;
  /*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.098);*/
  background-color: #FAFAFA;
  border-radius: 2px;
  margin-bottom: 6px;
  border: medium none;
  border-radius: 2px;
  color: inherit;
  cursor: pointer;
  outline: medium none;
  overflow: hidden;
  padding: 14px 14px 12px;
  position: relative;
  transition: all 0.3s ease 0.1s, background 0.3s ease 0.1s;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
}
#apps .portlet.solid {
  overflow-x: hidden;
}
.evercam-play img {
  width: 10%;
  float: left;
}
.apps:hover {
  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: all 0.3s ease 0s, background 0.3s ease 0s;
}
.apps img {
  width: 50%;
  margin: 0 auto;
}

#hover-arrow {
  color:#fff;
  transition: all 0.3s ease 0.1s, background 0.3s ease 0.1s;
}
.apps:hover #hover-arrow {
  color: #aaa;
}

#hover-arrow {
  color:#fff;
  transition: all 0.3s ease 0.1s, background 0.3s ease 0.1s;
}
.apps:hover #hover-arrow {
  color: #aaa;
}
.show-arrow:hover #hover-arrow {
  color: #aaa;
}

#single-app h4 {
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}
#single-app {
  background-color: #ffffff;
}

.let-us-know-single {
  margin-top: 50px;
  border-top: none;
  text-align: center;
}
.app-info {
  border-bottom: 1px solid $main-grey;
  margin-bottom: 25px;
  padding-bottom: 10px;
}

.app-cat-logo {
  background-color: #aaaaaa;
  border-radius: 1px;
  color: #FFFFFF;
  font-size: 18px;
  padding: 4px;
  position: absolute;
  right: 3px;
  top: 3px;
}
.app-cat-logo-2 {
  background-color: #aaaaaa;
  border-radius: 1px;
  color: #FFFFFF;
  font-size: 18px;
  padding: 4px;
  position: absolute;
  right: 27px;
  top: 3px;
}