<div>
  <p>Hello from Evercam,</p>
  <p>
    <strong><%= @user.fullname %></strong> has invited you to a camera called <em><%= @camera_id %></em>.
  </p>
  <p>
    To access this camera, you will need to click on the link below and create an account with Evercam.
  </p>
  <p><a href="https://dashboard.evercam.io/cameras/<%= @camera_id %>">https://dashboard.evercam.io/cameras/<%= @camera_id %></a></p>
  <p>
    Your Evercam account will give you access to this camera and a whole world of possibilities for cameras!
  </p><br/><br/>
<div><img src="https://www.evercam.io/img/logo.png" width="104" height="25" alt="Evercam.io" /></div>
</div>