#dev {
  .page-content {
    padding: 0px 20px 10px 20px;
  }
  input {
    font-size: 15px !important;
    line-height:19px;
    width: 275px;
  }
  input:focus {
    border-color:#e5e5e5 !Important;
    box-shadow:none;
  }
}
#swagger-ui-container .container {
  float: left;
}
.swagger-ui-wrap .info_description {
  padding-bottom: 0px;
  padding-bottom: 0px;
}
#code {
  min-height: 130px;
  border: 2px solid #e5e5e5;
  padding: 7px;
  width: 100%;
}
