<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <div class="page-content">
    <div class="full-height-content full-height-content-scrollable">
      <div class="slimScrollDiv">
        <div class="full-height-content-body" data-initialized="1">
            <div id="map_canvas"></div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- END CONTENT -->

<script src="//maps.googleapis.com/maps/api/js?v=3.11&sensor=false" type="text/javascript"></script>

<script type="text/javascript">
  $(document).ready(function () {
  // execute
  (function () {
    // map options
    var options = {
      zoom: 2,
      center: new google.maps.LatLng(25, 10), // centered US
      mapTypeId: google.maps.MapTypeId.TERRAIN,
      mapTypeControl: false
    };

    // init map
    var map = new google.maps.Map(document.getElementById('map_canvas'), options);

    // set multiple marker
    <% @dash_cameras.each do |dash_camera| %>
      // init markers
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%=  Geocoding.as_point(dash_camera.location).y %>, <%=  Geocoding.as_point(dash_camera.location).x %>),
        map: map,
        title: 'Click Me '
      });

      // process multiple info windows
      (function (marker) {
        // add click event
        google.maps.event.addListener(marker, 'click', function () {
          infowindow = new google.maps.InfoWindow({
            <% if dash_camera.preview %>
            content: '<img class="img-responsive" src="data:image/jpeg;base64,<%= Base64.strict_encode64(dash_camera.preview) %>" />'
            <% else %>
            content: '<img class="img-responsive" src="<%= image_path 'noise.png' %>" />'
            <% end %>
          });

          infowindow.open(map, marker);
        });
      })(marker);
      <% end %>
    })();
  });
</script>
