<div class="col-md-12">
  <table class="col-md-7 plan-table">
    <tr class="plan-monthly">
      <td class="col-md-5">7 Day Licences</td>
      <td class="col-md-2 text-center">
        <input name="7-days-recording-qty" id="7-days-recording-qty" type="text" value="<%= @seven_days_recording %>" class="quantity-text small no-editable" disabled>
      </td>
    </tr>
    <tr class="plan-monthly">
      <td>30 Day Licences</td>
      <td class="text-center">
        <input name="30-days-recording-qty" id="30-days-recording-qty" type="text" value="<%= @thirty_days_recording %>" class="quantity-text small no-editable" disabled>
      </td>
    </tr>
    <tr class="plan-monthly">
      <td>90 Day Licences</td>
      <td class="text-center">
        <input name="90-days-recording-qty" id="90-days-recording-qty" type="text" value="<%= @ninety_days_recording %>" class="quantity-text small no-editable" disabled>
      </td>
      <td rowspan="3"><a href="#" class="edit-quantity margin-left-15">Edit</a></td>
    </tr>
  </table>
</div>