<script src="https://jwpsrv.com/library/AvbyZBZAEeSVQiIACtqXBA.js"></script>

<div id="player" class="tab-pane">
  <div id='playerjsuHWVtecUxm'></div>


    <div id='playerjsuHWVtecUxm'></div>
    <script type='text/javascript'>
      jwplayer('playerjsuHWVtecUxm').setup({
        file: 'https://hls.evercam.io:9999/hls/rtmp_rtsp%3A%2F%2Fadmin%3Amehcam@89%2E101%2E245%2E146%3A9100%2Fh264%2Fch1%2Fmain%2Fav_stream',
        image: '//www.longtailvideo.com/content/images/jw-player/lWMJeVvV-876.jpg',
        width: '100%',
        aspectratio: '4:3'
      });
    </script>
  <% if url = @camera.deep_fetch(:proxy_url, :hls) {} %>
   <p><strong>hls: </strong> <%= link_to_unless(url.nil?, url, url, target: '_blank', :only_path => false) %><span class=​"glyphicon glyphicon-new-window"></span></p>
  <% else %>
    <p>hls not found</p>
  <% end %>
  <% if url = @camera.deep_fetch(:proxy_url, :rtmp) {} %>
    <p><strong>rtmp: </strong> <%= link_to_unless(url.nil?, url, url, target: '_blank', :only_path => false) %></p>
  <% else %>
    <p>rtmp not found</p>
  <% end %>

  </div>

<script type="text/javascript">

</script>