<%= content_for(:title, "Evercam: Timelapse") %>

<div class="page-content-wrapper">
  <div class="page-content">
    <div class='col-sm-12 border-bottom-grey'>
      <div class='portlet'>
        <div class="portlet-title">
          <div class="timelapse-heading"> Timelapses</div>
        </div>
      </div>
    </div>

    <%= render partial: "cameras/single/timelapse" %>
  </div>
</div>

<script>
  $(document).ready(function () {
    window.initializeTimelapse();
  });
</script>
