<div id="user-applications">
  <div class="col-md-12">
    <h4 class="margin-bottom-10">Snapmail</h4>
    <p>Scheduled Email from your Camera</p>
    <p><strong>Approved:</strong> Jan 29 at 8:49 AM</p>
    <div class="btn btn-primary">Revoke</div>
    </p>
  </div>
</div>

