<div id="user-settings">
  <div class="user-settings-portal col-md-8">
    <div class="portlet-body form">
      <form id="userPassword" role="form" method="post" action="<%= user_change_password_path(current_user.username) %>">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <div class="form-group">
          <label class="grey" for="current-password">Current Password</label>
          <input data-validation="current-password" data-validation-error-msg="Cannot be blank" required="true" type="password" class="form-control input-medium" id="current-password" name="current-password">
        </div>
        <div class="form-group">
          <label class="grey" for="new-password">New Password</label>
          <input data-validation="new-password" required="true" type="password" class="form-control input-medium" id="new-password" name="new-password">
        </div>
        <div class="form-group">
          <label class="grey" for="password_again">Confirm Password</label>
          <input data-validation="password_again" required="true" type="password" class="form-control input-medium" id="password_again" name="password_again">
          <span id="wrong-confirm-password" class="error-msg-color">Please enter the same password as above.</span>
        </div>
        <div class="margin-top-20">
          <div class="row">
            <div class="col-md-12">
              <input type="hidden" name="_method" value="put"/>
              <input type="submit" id="change-password" class="btn blue" value="Change Password" name="change-password"/>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </form>
    </div>
  </div>
</div>