<div id="user-settings">
  <div class="user-settings-portal col-md-4 col-lg-4">
    <div class="portlet-body form">
      <form id="userPassword" role="form" method="post" action="<%= user_change_password_path %>">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <div class="form-group">
          <input data-validation="current-password" data-validation-error-msg="Cannot be blank" required="true" type="password" class="form-control" id="current-password" name="current-password" required>
          <span class="form-highlight"></span>
          <span class="form-bar"></span>
          <label class="float-label" for="current-password">Current Password</label>
        </div>
        <div class="form-group">
          <input data-validation="new-password" required="true" type="password" class="form-control" id="new-password" name="new-password" required>
          <span class="form-highlight"></span>
          <span class="form-bar"></span>
          <label class="float-label" for="new-password">New Password</label>
        </div>
        <div class="form-group">
          <input data-validation="password_again" required="true" type="password" class="form-control" id="password_again" name="password_again" required>
          <span class="form-highlight"></span>
          <span class="form-bar"></span>
          <label class="float-label" for="password_again">Confirm Password</label>
          <span id="wrong-confirm-password" class="error-msg-color">Please enter the same password as above.</span>
        </div>
        <div class="margin-top-20">
          <div class="row">
            <div class="col-md-12">
              <input type="hidden" name="_method" value="put"/>
              <input type="submit" id="change-password" class="btn blue" value="Change Password" name="change-password"/>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </form>
    </div>
  </div>
</div>
