<div id="user-settings">
  <div class="user-settings-portal col-md-4 col-lg-4">
    <div class="portlet-body form">
      <div class="form-group checkbox">
        <input type="checkbox" id="hide-offline-cameras" />
        <label id="lbl-for-hide-cameras" for="hide-offline-cameras">Hide offline cameras</label>
      </div>
    </div>
  </div>
</div>