<% provide(:title, "Evercam: User Activities") %>
<div class="container-margin">
  <table id="user-activity" class="table table-logs table-striped table-bordered table cell-border display compact">
    <thead>
    <th>Browser</th>
    <th>IP address</th>
    <th>Country</th>
    <th>Date &amp; Time</th>
    <th>Event</th>
    </thead>
    <tbody></tbody>
  </table>
</div>
