<div id="user-settings" class="row">
  <div class="user-settings-portal col-md-4 col-lg-4">
    <div class="portlet-body form">
      <div class="form-group checkbox">
        <input type="checkbox" id="show-offline-cameras" />
        <label id="lbl-for-show-cameras" for="show-offline-cameras">Show offline cameras</label>
      </div>
    </div>
  </div>
</div>