<div id="user-settings">
  <div class="user-settings-portal col-md-4 col-lg-4">
    <div class="portlet-body form">
      <div id="hello" class="form-group">
        <label class="label toggle">
          <input type="checkbox" class="toggle_input" id="hide-offline-cameras"/>
          <div class="toggle-control"></div>
        </label>
        <label id="lbl-for-hide-cameras" for="hide-offline-cameras" class="red fa fa-chain-broken"> </label>
      </div>
    </div>
  </div>
</div>