<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
      <li class="start active open">
        <a class="active" href="/">
          <i class="icon-camera"></i>
          <span class="title">My Cameras</span>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <% @cameras.each do |camera| %>
            <li class="sub-menu-item">
              <a href="/cameras/<%= camera['id'] %>?share=false">
                <%= camera['name'] %>
                <% if camera['is_online'] %>
                <% else %>
                  <i class="red fa fa-chain-broken"></i>
                <% end %>
              </a>
            </li>
          <% end %>
          <% @shares.each do |camera| %>
            <li class="sub-menu-item">
              <a href="/cameras/<%= camera['id'] %>?share=true">
                <%= camera['name'] %>
                <i class="icon-users"></i>
                <% if camera['is_online'] %>
                <% else %>
                  <i class="red fa fa-chain-broken"></i>
                <% end %>
              </a>
            </li>
          <% end %>
        </ul>
      </li>
      <li>
        <a href="/publiccam">
          <i class="icon-map"></i>
          <span class="title">Public Cameras</span>
        </a>
      </li>
      <li>
        <a href="/cameras/new">
          <i class="icon-plus"></i>
          <span class="title">Add Camera</span>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <i class="icon-briefcase"></i>
          <span class="title">Developer</span>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li class="active">
            <a href="/dev">API Docs</a>
          </li>
          <li>
            <a href="javascript:;">
              Widgets <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/widgets-new">Live View Widget</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

    </ul>
    <!-- END SIDEBAR MENU -->
  </div>
</div>
<!-- END SIDEBAR -->

<script>
  jQuery(document).ready(function() {
    Metronic.init(); // init metronic core components
    Layout.init(); // init current layout
    QuickSidebar.init() // init quick sidebar
  });
</script>