<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
      <li class="start ">
        <a href="/">
          <i class="icon-camera"></i>
          <span class="title">My Cameras</span>
        </a>
      </li>
      <li>
        <a href="/publiccam">
          <i class="icon-map"></i>
          <span class="title">Public Cameras</span>
        </a>
      </li>
      <li>
        <a href="/cameras/new">
          <i class="icon-plus"></i>
          <span class="title">Add Camera</span>
        </a>
      </li>
      <li id="showLeft">
        <a>
          <i class="icon-briefcase"></i>
          <span class="title">Developer</span>
        </a>
        <ul id="mobile-dev-menu" class="sub-menu">
          <li class="active">
            <a href="/dev">API Docs</a>
          </li>
          <li>
            <a href="javascript:;">
              Widgets <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/widgets-new">Live View Widget</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

    </ul>
    <!-- END SIDEBAR MENU -->
  </div>
</div>
<!-- END SIDEBAR -->

<!-- SLIDEY SIDEY MENU -->
<div class="cbp-spmenu-push">
  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <h3>Menu</h3>
    <ul>
      <li>
        <a href="/dev">API Docs</a>
      </li>
      <li>
        <a class="dev-menu-title">
          Widgets <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="/widgets-new">Live View Widget</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<!-- END SLIDEY SIDEY MENU -->

<script>
  jQuery(document).ready(function() {
    Metronic.init(); // init metronic core components
    Layout.init(); // init current layout
    QuickSidebar.init() // init quick sidebar
  });
  var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
      showLeft = document.getElementById( 'showLeft' )
  body = document.body;

  showLeft.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( menuLeft, 'cbp-spmenu-open' );
    disableOther( 'showLeft' );
  };

  function disableOther( button ) {
    if( button !== 'showLeft' ) {
      classie.toggle( showLeft, 'disabled' );
    }

  }
</script>