<div class="page-sidebar-wrapper">
    <!-- sidebar menu start-->
  <div class="page-sidebar navbar-collapse collapse">

  <ul id="nav-accordion" class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
    <!--<li class="sidebar-toggler-wrapper">
       BEGIN SIDEBAR TOGGLER BUTTON -->
      <!--<div class="sidebar-toggler">
      </div>-->
      <!-- END SIDEBAR TOGGLER BUTTON
    </li>-->
        <li>
          <a href="/"><i class="icon-camera"></i>My Cameras <i class="fa fa-angle-down"></i></a>
        </li>
            <% @cameras.each do |camera| %>
              <li class="sub-menu-item">
                <a href="/cameras/<%= camera['id'] %>?share=false">
                  <div id="offline-menu"> <% if camera['is_online'] %>
                    <% else %>
                      <span class="red-dot"><small>off</small></span>
                    <% end %>
                  </div>
                  <%= camera['name'] %>
                </a>
              </li>
            <% end %>

            <% @shares.each do |camera| %>
              <li class="sub-menu-item">
                <span class="share-icon"></span>
                <a href="/cameras/<%= camera['id'] %>?share=true">
                  <div id="offline-menu"> <% if camera['is_online'] %>

                    <% else %>
                      <span class="red-dot"><small>off</small></span>
                    <% end %>
                  </div>
                  <%= camera['name'] %>
                </a>
              </li>
            <% end %>

        <li>
          <a class="public-cam" href="/publiccam"><i class="icon-map"></i>Public Cameras</a>
        </li>

        <li>
          <a href="/cameras/new"><i class="icon-plus"></i>Add Camera</a>
        </li>
        <li>
          <a href="/dev">
            <i class="icon-wrench"></i><span class="title">Developer</span>
          </a>
        </li>
    </ul>
  </div>
    <!-- sidebar menu end-->
</div>
