<aside>
  <div id="sidebar" class="nav-collapse">
    <!-- sidebar menu start-->            <div class="leftside-navigation">
    <ul class="sidebar-menu" id="nav-accordion">
      <div class="">
      <li>
        <a href="/cameras/new"><span class="glyphicon glyphicon-plus"></span>Add IP Camera</a>
      </li>
      <li>
        <a href="/add-android"><span class="glyphicon glyphicon-plus"></span>Add Android Camera</a>
      </li>
        </div>
      <div class="nav-group">
      <li>
        <a class="public-cam" href="/publiccam">Public Cameras</a>
      </li>
      </div>
      <div class="nav-group">
      <li>
        <a class="active" href="/">My Cameras</a>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <span>Added By Me</span>
          <b class="caret"></b>
        </a>
        <ul class="sub">
          <% @cameras.each do |camera| %>
            <li class="sub-menu-item">
              <a href="/cameras/<%= camera['id'] %>?share=false">
                <div id="offline-menu"> <% if camera['is_online'] %>
                    <span class="green-dot"><small>on</small></span>
                  <% else %>
                    <span class="red-dot"><small>off</small></span>
                  <% end %>
                </div>
                <%= camera['name'] %>
              </a>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <span>Shared with me</span>
          <b class="caret"></b>
        </a>
        <ul class="sub">
          <% @shares.each do |camera| %>
            <li class="sub-menu-item">
              <a href="/cameras/<%= camera['id'] %>?share=true">
                <div id="offline-menu"> <% if camera['is_online'] %>
                    <span class="green-dot"><small>on</small></span>
                  <% else %>
                    <span class="red-dot"><small>off</small></span>
                  <% end %>
                </div>
                <%= camera['name'] %>
              </a>
            </li>
          <% end %>
        </ul>
      </li>
        </div>
    </ul></div>
    <!-- sidebar menu end-->
  </div>
</aside>

<script>
  $(function() {

    if ($.fn.dcAccordion) {
      $('#nav-accordion').dcAccordion({
        eventType: 'click',
        autoClose: false,
        saveState: true,
        disableLink: true,
        speed: 'slow',
        showCount: false,
        autoExpand: true,
        classExpand: 'dcjq-current-parent'
      });
    }

  if ($.fn.niceScroll) {
    $(".leftside-navigation").niceScroll({
      cursorcolor: "#428bca",
      cursorborder: "0px solid #fff",
      cursorborderradius: "0px",
      cursorwidth: "3px"
    });

    $(".leftside-navigation").getNiceScroll().resize();
    if ($('#sidebar').hasClass('hide-left-bar')) {
      $(".leftside-navigation").getNiceScroll().hide();
    }
    $(".leftside-navigation").getNiceScroll().show();

    $(".right-stat-bar").niceScroll({
      cursorcolor: "#1FB5AD",
      cursorborder: "0px solid #fff",
      cursorborderradius: "0px",
      cursorwidth: "3px"
    });

  }



  });






</script>