<p>Make requests to our REST API and explore responses.</p>
<p>You can use this Cameras ID: <span class="bold explorer-id"><%= @camera['id'] %></span></p>

<%= stylesheet_link_tag "swagger" %>
<%= javascript_include_tag "swagger" %>

<div id="exp-swagger">
  <div id="swagger">
    <div id="swagger-ui-container" class="swagger-ui-wrap">
      &nbsp;
    </div>
  </div>
</div>
