<div class="portlet">
  <div class="portlet-body">
    <div class="row">
      <li class="col-md-3 col-sm-3 col-xs-12">
        <a href="http://snapmails.cloudapp.net/login.html" target="_blank">
          <div class="apps">
            <%= image_tag("snapmail.png", alt: "Snapmail") %>
            <h4>Snapmail</h4>
            <p>Schedule email notifications from your camera</p>
            <span id="hover-arrow" class="fa fa-share-square-o"></span>
          </div>
        </a>
      </li>
      <li class="col-md-3 col-sm-3 col-xs-12">
        <a href="http://timelapse.evercam.io/" target="_blank">
          <div class="apps">
            <%= image_tag("timegoes.png", alt: "AsTimeGoes.by") %>
            <h4>AsTimeGoes.by</h4>
            <p>Easily create and share timelapses from your cameras.</p>
            <span id="hover-arrow" class="fa fa-share-square-o"></span>
          </div>
        </a>
      </li>
    </div>
  </div>
</div>
