<div class="row padding-right15">
  <div class="col-md-12 margin-top-15">
    <table id="archives-table" class="table table-striped table-bordered ">
      <thead>
        <th class="fullname" id="fullname">Title</th>
        <th class="title" id="title">Created</th>
        <th class="public" id ="public">Is Public</th>
        <th class="status" id="status">Status</th>
        <th class="type" id="type" >Type</th>
        <th class="options" id="options">Actions</th>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>

<% if current_user %>
  <input id="archive-api-url" type="hidden" value="<%= "#{EVERCAM_API}cameras/#{params[:id]}/archives?api_id=#{current_user.api_id}&api_key=#{current_user.api_key}" %>">
<% end %>

<div class="row text-right margin-top-15">
  <div id="archive-add" class="btn btn-primary archive-add margin-bottom-30">+</div>

  <div class="m-menu__submenu">
    <span class="triangle-right-border"></span>
    <ul class="m-menu__subnav">
      <li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
        <a  href="#" class="type-link" data-type="cloud" data-toggle="modal" data-target="#archive-modal">
          <i class="fa fa-cloud"></i>
          <span class="menu-ink-text">
            Cloud Recordings Clip
          </span>
        </a>
      </li>
      <li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
        <a href="#" class="type-link" data-type="local" data-toggle="modal" data-target="#archive-modal">
          <i class="fas fa-video"></i>
          <span class="menu-ink-text">
            Local Recordings Clip
          </span>
        </a>
      </li>
      <li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
        <a  href="#" class="type-link" data-type="compare">
          <img height="15" src="/assets/compare-scale.png" class="compare-img">
          <span class="menu-ink-text">
            Evercam Compare
          </span>
        </a>
      </li>
      <li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
        <a  href="javascript:;" class="type-link" data-toggle="modal" data-target="#social-media-url-modal">
          <i class="fa fa-link"></i>
          <span class="menu-ink-text">
            URL (Youtube, Vimeo...)
          </span>
        </a>
      </li>
      <li class="m-menu__item hide" aria-haspopup="true"  data-redirect="true">
        <a  href="#" class="type-link" data-type="upload" data-toggle="modal" data-target="#upload-file-modal">
          <i class="fa fa-upload"></i>
          <span class="menu-ink-text">
            Upload File
          </span>
        </a>
      </li>
    </ul>
    <div class="clear-f"></div>
  </div>
</div>

<div id="modal-archive-info" class="modal fade modal-archive-info">
  <div class="modal-dialog max-width-470">
    <div class="modal-content">
      <div id="form-create-clip" class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="div-thumbnail">
              <img id="archive-thumbnail" class="archive-thumbnail" src=""/>
            </div>
            <div class="line-separator"></div>
            <div class="div-row">
              <div class="col-md-2 archive-label margin-top-2">Frames</div>
              <div id="div_frames" class="input-group col-sm-10 col-xs-10 col-md-10"></div>
            </div>
            <div class="div-row">
              <div class="col-md-2 archive-label margin-top-2">Duration</div>
              <div id="div_duration" class="input-group col-sm-10 col-xs-10 col-md-10"></div>
            </div>
            <div id="row-embed-code" class="div-row">
              <div class="col-md-2 archive-label margin-top-40">Embed</div>
              <div class="input-group col-sm-10 col-xs-10 col-md-10">
                <textarea id="archive_embed_code" class="form-control embed-code copy-text" readonly="true"></textarea>
                <i class="btn copy-url-icon copy-embed-code far fa-copy" data-clipboard-target="#archive_embed_code" title="Copy URL"></i>
              </div>
            </div>
            <div id="row-gif" class="div-row">
              <div class="col-md-2 archive-label margin-top-10">GIF</div>
              <div class="input-group col-sm-10 col-xs-10 col-md-10">
                <input type="text" name="archive_gif_url" id="archive_gif_url" class="form-control copy-text" readonly="true" />
                <i class="btn copy-url-icon far fa-copy" data-clipboard-target="#archive_gif_url" title="Copy URL"></i>
                <i class="btn copy-url-icon fa fa-download download-animation" data-download-target="#archive_gif_url" title="Download GIF"></i>
              </div>
            </div>
            <div class="div-row">
              <div class="col-md-2 archive-label margin-top-10">MP4</div>
              <div class="input-group col-sm-10 col-xs-10 col-md-10">
                <input type="text" name="archive_mp4_url" id="archive_mp4_url" class="form-control copy-text" readonly="true" />
                <i class="btn copy-url-icon far fa-copy" data-clipboard-target="#archive_mp4_url" title="Copy URL"></i>
                <i class="btn copy-url-icon fa fa-download download-animation" data-download-target="#archive_mp4_url" title="Download MP4"></i>
              </div>
            </div>
          </div>
        </div>
        <fieldset>
          <div class="export-buttons">
            <button id="cancel_export" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<div id="upload-file-modal" class="modal fade">
  <div class="modal-dialog max-width-470">
    <div class="modal-content">
      <div id="form-create-clip" class="modal-body">
        <div class="row">
          <div class='col-lg-12 col-md-12 col-sm-12'>
            <div class='portlet'>
              <div class="portlet-title">
                <div class="caption"> Upload File</div>
              </div>
              <div class="portlet-body">
                <div class="add-clip">
                  <table class="table table-fixed table-borderless">
                    <tr>
                      <td style="width: 70px;"><label class="control-label camera-name" for="upload_file_title">Title</label></td>
                      <td><input type="text" required placeholder="e.g. My Video" class="form-control clip-text-box" id="upload_file_title" name="upload_file_title"></td>
                    </tr>

                  </table>
                  <div class="text-center">
                    <input type="file" name="file-upload" id="file-upload" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" />
                    <label for="file-upload">
                      <figure class="btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                          <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/>
                        </svg>
                      </figure>
                      <a href=""><span id="spn-upload-file-name">Choose a file&hellip;</span></a>
                    </label>
                  </div>
                  <div id="file-upload-progress" class="progress progress-striped progress-success">
                    <div class="bar" style="width: 0%;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <fieldset>
          <div class="export-buttons">
            <div class='pull-left form-group1'>
              <input type="button" class="push btn btn-primary margin-right-10 margin-left-5" id="start-file-upload" value="Start upload"/>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <span id="spn-success-export" class="alert alert-info hide"></span>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<div id="social-media-url-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="form-create-clip" class="modal-body">
        <div class="row">
          <div class='col-lg-12 col-md-12 col-sm-12'>
            <div class='portlet'>
              <div class="portlet-title">
                <div class="caption"> Media URL</div>
              </div>
              <div class="portlet-body">
                <div class="add-clip">
                  <table class="table table-fixed table-borderless">
                    <tr>
                      <td style="width: 70px;"><label class="control-label camera-name" for="media_title">Title</label></td>
                      <td><input type="text" required placeholder="e.g. My Video" class="form-control clip-text-box" id="media_title_title" name="media_title"></td>
                    </tr>
                    <tr>
                      <td><label class="control-label camera-name" for="social_media_url">URL</label></td>
                      <td>
                        <div class="input-group col-sm-12 col-xs-12 col-md-12">
                          <input type="text" required placeholder="e.g. Youtube, Matterport, Vimeo, Other..." class="form-control clip-text-box" id="social_media_url" name="social_media_url">
                          <i id="icon-media-type" class="fa fa-link copy-url-icon" title="URL"><img src="" id="media_url_type"></i>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <fieldset>
          <div class="export-buttons">
            <div class='pull-left form-group1'>
              <input type="button" class="push btn btn-primary margin-right-10 margin-left-5" id="save_social_media_url" value="Save"/>
            </div>
            <button id="cancel_export" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <span id="spn-success-export" class="alert alert-info hide"></span>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
