<div class="row padding-right15">
  <div class="col-md-12 margin-top-15">
    <table id="archives-table" class="table table-striped table-bordered ">
      <thead>
      <th class="fullname" id="fullname">Requested By</th>
      <th class="title" id="title">Title</th>
      <th class="from" id="from">From</th>
      <th class="to" id="to">To</th>
      <th class="duration" id="duration">Duration</th>
      <th class="frames" id="frames" >Frames</th>
      <th class="public" id ="public">Is Public</th>
      <th class="status" id="status">Status</th>
      <th class="options" id="options">Options</th>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>

<% if current_user %>
  <input id="archive-api-url" type="hidden" value="<%= "#{EVERCAM_API}cameras/#{params[:id]}/archives?api_id=#{current_user.api_id}&api_key=#{current_user.api_key}" %>">
<% end %>

<div class="row form-vertical margin-top-15">
  <div class="col-md-12">
    <div id="archive-button" href="#" class="btn btn-primary margin-bottom-40" data-toggle="modal" data-target="#archive-modal">
      Create a new Clip
    </div>
  </div>
</div>
