<% if @camera['is_online'] %>
  <div class="camera-preview">
    <% rtmp_stream = @camera.fetch('proxy_url', {}).fetch('rtmp', {}) %>

    <div id="live-view-placeholder">
      <div id="fullscreen" class="html5-fullscreen-api <% if rtmp_stream.blank? %>active<% else %>inactive<% end %>">
        <div class="wrap">
          <img id="live-player-image" src="<%= @camera['thumbnail_url'] %>" />
          <div class="live-options">
            <div class="live-option" id="toggle"><i class="icon-size-fullscreen"></i></div>
            <div class="live-option"><a id="link-popout"><i class="icon-share-alt" aria-hidden="true"></i></a></div>
          </div>
          <div class="btn-live-player play-pause hide"><i class="icon-control-pause"></i></div>
        </div>
      </div>
      <% unless rtmp_stream.blank? %>
        <div id="camera-rtmp-stream" class="active">
          <video id="camera-rtmp-player" class="video-js vjs-default-skin" poster="<%= @camera['thumbnail_url'] %>" autoplay controls preload="auto" width="auto" height="auto">
            <source src="<%= rtmp_stream %>" type='rtmp/flv'>
          </video>
        </div>
        <div class="pull-right margin-top-10">
          <table>
            <tr>
              <td>Feed:&nbsp;</td>
              <td>
                <select id="select-stream-type" class="form-control">
                  <option value="jpeg">JPEG</option>
                  <option selected="selected" value="rtmp">RTMP</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>

  </div>
<% else %>
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <div class="tint"><%= preview(@camera, true) %></div>
      <p class="margin-top-20"><span class="red">Camera offline</span> - we can't get a live feed at the moment</p>
      <p class="margin-top-10 refresh-camera"><i class="icon-refresh"></i> Refresh</p>
    </div>
  </div>
<% end %>
