<!--remove opacity when built-->
<div style="opacity: 0.2;" id="user-applications">
  <div class="row">
    <div class="application col-md-12">
      <h4 class="margin-bottom-15">Snapmail</h4>
      <p>Scheduled Email from your Camera</p>
      <p>Approved: Jan 29 at 8:49 AM</p>
      <div class="btn btn-edit margin-top-10">Revoke</div>
    </div>
    <div class="application col-md-12">
      <h4 class="margin-bottom-15">AsTimeGoes.by</h4>
      <p>Create and share timelapses from your Evercam connected cameras.</p>
      <p>Approved: Jan 14 at 14:39 AM</p>
      <div class="btn btn-edit margin-top-10">Revoke</div>
    </div>
  </div>
</div>

<div class="col-md-12" style="opacity: 0.45" >
  <p>Coming Soon...</p>
</div>
