<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div class="container" id="pass-reset">
  <div class="branding">
    <a class="logo" href="/"><img src="https://www.evercam.io/img/logo.png"></a>
  </div>
  <div class="row">
    <div class="col-xs-12 panel">
      <div class="" id="user-settings"><h4>Forgotten password</h4></div>
      <div class="col-md-3 col-xs-12 reset-password">
        <form role="form" method="post" class="center-block">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" value="" class="form-control" id="email" name="email" placeholder="Enter email">
          </div>

          <input type="submit" class="btn btn-primary" value="Reset">
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  Notification.init(".bb-alert");
  <% if flash[:message] %>
  Notification.show('<%= flash[:message] %>');
  <% end %>
</script>