<title>Evercam - Password Update</title>
<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div id="pass-rest" class="container">
  <div class="branding">
    <a class="logo" href="/"><img src="https://www.evercam.io/img/evercam-white.png"></a>
  </div>
  <div class="row">
    <div class="col-xs-12 panel">
      <% if @expired %>

      <div class="col-md-12 reset-password">
        <p>It looks like this password reset link has expired and can no longer be used.</p>
        <p>To get a new password link enter you email address on the following page <a href="/reset">https://dashboard.evercam.io/reset</a></p>
      </div>

      <% else %>

      <div class="row" id="user-settings"><h4>Create a new Password</h4></div>
      <div class="col-md-4 reset-password">
        <form role="form" method="post" class="center-block">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

          <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" value="" class="form-control" id="password" name="password" placeholder="Enter Password">
          </div>

          <input type="hidden" name="username" value="<%= params[:u] %>">
          <input type="hidden" name="token" value="<%= params[:t] %>">

          <input type="submit" class="btn btn-primary" value="Reset">
        </form>
      </div>

      <% end %>

    </div>
  </div>
</div>
<script>
  Notification.init(".bb-alert");
  <% if flash[:message] %>
  Notification.show('<%= flash[:message] %>');
  <% end %>
</script>