<% provide(:title, "Evercam: User Settings") %>
<div id="user-settings">
  <div class="page-content-wrapper" id="manage-account">
    <div class="page-content">
      <div class="portlet-body margin-top-20">
        <%= render partial: "users/settings/password_tab" %>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    window.initializeUserAccount();
    <% if flash[:message] %>
    Notification.show('<%= flash[:message] %>');
    <% end %>
  });
</script>
