<% provide(:title, "Evercam: Password Reset") %>
<%= render partial: "users/background_video" %>
<div class="container section-position" id="pass-reset">
  <div class="bb-alert alert alert-info" style="display:none;">
    <span></span>
  </div>
  <div class="row">
    <div class="center-div width-400 col-md-4 panel col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="col-md-12 text-center">
        <div class="branding logo-padding">
          <%= link_to image_tag("evercam_logo.png", class: "svg-logo", alt: "Evercam.io"), root_path %>
        </div>
      </div>
      <div class="col-md-12 col-xs-12 reset-password padding-left-right-40">
        <form role="form" method="post" class="center-block">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

          <div class="form-group">
            <div class="input-icon right">
              <i class="icon">@</i>
              <input type="email" value="" class="form-control reset-password-email" id="email" name="email" placeholder="Enter your email address">
            </div>
          </div>
          <input type="submit" class="btn btn-primary width-full" value="Reset">
        </form>
      </div>
      <div class="clear-f"></div>
    </div>
  </div>
</div>

<script>
  Notification.init(".bb-alert");
  <% if flash[:message] %>
  Notification.show('<%= flash[:message] %>');
  <% end %>
</script>

<script>
  $(document).ready(function () {
    window.initializeVideoBackground();
  });
</script>
