<script src="http://jwpsrv.com/library/kV1XdoU3EeSr_BLddj37mA.js"></script>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div id='jwplayer'></div>

    <!-- TODO: move this to a coffeescript file for the live view when streams tab gets merged with it -->
    <script type='text/javascript'>
      var url = '<%= @camera.deep_fetch(:proxy_url, :rtmp) {} %>';
      console.log('rtmp:', url);
      jwplayer('jwplayer').setup({
        file: url,
        width: '100%',
        aspectratio: '16:9',
        autostart: 'true',
        rtmp: {
          bufferlength: 0.1
        }
      });
    </script>
  </div>
</div>
