<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">

    <ul class="page-sidebar-menu">
      <li>
        <%= link_to cameras_index_path do %>
          <i class="fa fa-camera"></i> Cameras
        <% end %>
      </li>
      <li>
        <a href="/dev"><i class="fa fa-book"></i> Developer</a>
      </li>

      <li class="widgets-menu">
        <a href="<%= widget_live_view_path %>"><i class="fa fa-code"></i> Live View</a>
      </li>

      <li class="widgets-menu">
        <a href="<%= widget_snapshot_navigator_path %>"><i class="fa fa-code"></i> Snapshot Navigator</a>
      </li>

    </ul>
  </div>
</div>
