<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">

    <ul class="page-sidebar-menu">
      <li class="cameras-sidebar">
        <div class="sidebar-title">
          <div class="col-md-8">
            <%= link_to cameras_index_path do %>
              <i class="fa fa-camera icon-font"></i> Cameras
            <% end %>
            <span id="offline-btn">Hide Offline</span>
          </div>
          <div id="total-offline-cameras" class="col-md-4 text-right hide red"
               data-toggle="tooltip" data-placement="bottom" title="">
            <i class="fa fa-chain-broken"></i><sub>0</sub>
          </div>
          <div class="clear-f"></div>
        </div>
      </li>
      <li>
        <ul class="sub-menu sidebar-cameras-list">
          <% @cameras.each do |camera| %>
            <li class="sub-menu-item <%= is_active?("/cameras/#{camera['id']}") %> <%= "sidebar-offline" unless camera['is_online'] %>">
              <%= link_to camera['name'], cameras_single_path(camera['id']) %>
            </li>
          <% end %>
        </ul>
      </li>

    </ul>
  </div>
</div>


