<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu">
      <li class="cameras-sidebar">
        <div class="sidebar-title">
          <div id="hello" class="col-md-8">
            <%= link_to cameras_index_path do %>
              <i class="fa fa-camera icon-font"></i> Cameras
            <% end %>
            <div id="siderbar">
              <label class="label toggle">
                <input type="checkbox" class="toggle_input" id="offline-btn"/>
                <div class="toggle-control"></div>
              </label>
              <label id="lbl" for="hide-offline-cameras" class="red fa fa-chain-broken"> </label>
            </div>
          </div>
          <div class="clear-f"></div>
        </div>
      </li>
      <li>
        <ul class="sub-menu sidebar-cameras-list">
          <% @cameras.each do |camera| %>
            <li class="sub-menu-item <%= is_active?("/cameras/#{camera['id']}") %> <%= "sidebar-offline" unless camera['is_online'] %>">
              <%= link_to camera['name'], cameras_single_path(camera['id']) %>
              <% unless camera['is_online'] %>
                <i class="red main-sidebar fa fa-chain-broken"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>


