<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">

    <ul class="page-sidebar-menu">
      <li class="cameras-sidebar">
        <%= link_to cameras_index_path do %>
          <i class="fa fa-camera"></i> Cameras
        <% end %>
      </li>
      <li>
        <ul class="sub-menu sidebar-cameras-list">
          <% @cameras.each do |camera| %>
            <li class="sub-menu-item <%= is_active?("/cameras/#{camera['id']}") %> <% unless camera['is_online'] %>sidebar-offline<% end %>">
              <%= link_to camera['name'], cameras_single_path(camera['id']) %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>


