<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu">
      <li><%= link_to 'Account', user_path(current_user.username) %></li>
      <li><%= link_to 'Billing', billing_path(current_user.username) %></li>
      <li class="inactive"><a href="#">Applications</a></li>
    </ul>
  </div>
</div>

