<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Add Camera Widget</title>

  <%= stylesheet_link_tag "views/widgets/add_camera", media: "all" %>
  <%= javascript_include_tag "widgets/add_camera" %>
</head>
<body>
<div class="portlet-body">
  <div class="col-md-12">
    <div class="center-tabs">
      <ul class="nav-steps">
        <li id="li-camera-details" class="active" href="#camera-details">
          Step 1<br>Camera Details
        </li>
        <li id="li-camera-info" href="#camera-info">
          Step 2<br>Camera Info
        </li>
        <li id="li-user-create" href="#user-create">
          Step 3<br>Create Your Account
        </li>
      </ul>
    </div>

    <div class="page-content">
      <div class="padding-top-20">
        <div id="camera-details" class="active">
          <div class="col-md-6">
            <div class="col-md-12">
              <div class="col-md-4">Thumbnail</div>
              <div class="col-md-8">
                <div class="input-group col-md-12">
                  <label class="grey control-label">Camera Vendor</label>
                  <select id="camera-vendor" class="form-control"><option value="">Unknown</option></select>
                </div>
                <div class="input-group col-md-12 margin-top-10">
                  <label class="grey control-label">Camera Model</label>
                  <select id="camera-model" class="form-control"><option>Unknown</option></select>
                </div>
                <br /><br />
              </div>
            </div>
            <div class="col-md-12">
              <label class="col-md-1 control-label margin-top-5">http://</label>
              <div class="col-md-5">
                <div class="input-group">
                  <input id="camera-url" class="form-control" placeholder="External IP/URL"/>
                  <a class="help-font-size external-url">What is this?</a>
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                  <span class="prepend prepend-2">:</span>
                  <input id="camera-port" class="form-control" placeholder="Port"/>
                  <a class="help-font-size port">?</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="prepend prepend-2">/</span>
                  <input id="camera-snapshot-url" class="form-control" placeholder="Snapshot URL"/>
                  <a class="help-font-size snapshot-url">What is this?</a>
                </div>
              </div>
            </div>

            <div class="col-md-12 margin-top-10">
              <label class="col-md-1 control-label"></label>
              <div class="col-md-11">
                <div class="input-group">
                  <label><input id="required-authentication" type="checkbox" /> Required Authentication
                  </label>
                </div>
                <div id="authentication" class="hide">
                  <div class="col-md-6">
                    <div class="input-group">
                      <input id="camera-username" class="form-control" placeholder="Camera Username"/>
                      <span class="help-font-size"><a class="help-font-size default-username">Use default:</a> root</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input id="camera-password" class="form-control" placeholder="Camera Username"/>
                      <span class="help-font-size"><a class="help-font-size default-password">Use default:</a> pass</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box help-texts">
              <div class="info-header">ChOOSE YOUR VENDOR AND MODEL</div>
              <div class="info-text">Please choose camera Vendor/Model to auto detect camera snapshot URL.</div>
            </div>
            <div class="info-box test-image hide">
              <div class="test-img-settings">
                <img id="testimg" src="" class="text-center">
              </div>
              <div class="test-snapshot">
                <div id="test-snapshot" class="btn-test-snap">CHECK FOR SNAPSHOT</div>
                <div id="continue-step2" class="btn-test-snap">CONTINUE &gt;</div>
                <div class="snapshot-msg"></div>
              </div>
            </div>
          </div>
        </div>

        <div id="camera-info">
          <div class="col-md-12">
            <table class="table">
              <tr>
                <td align="center">
                  <div class="input-group col-md-3">
                    <label class="grey control-label">Camera Name</label>
                    <input id="camera-name" class="form-control"/>
                  </div>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <div class="input-group col-md-3">
                    <label class="grey control-label">Camera ID</label>
                    <input id="camera-id" class="form-control"/>
                  </div>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <div id="continue-step3" class="btn-test-snap margin-top-20">CONTINUE &gt;</div>
                  <div id="message-camera-info" class="hide"></div>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div id="user-create">
          <div class="col-md-12">
            <table class="table">
              <tr>
                <td align="center">
                  <div class="input-group col-md-3">
                    <label class="grey control-label">Username</label>
                    <input id="username" class="form-control"/>
                  </div>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <div class="input-group col-md-3">
                    <label class="grey control-label">Email</label>
                    <input id="user-email" class="form-control"/>
                  </div>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <div class="input-group col-md-3">
                    <label class="grey control-label">Password</label>
                    <input id="user-password" class="form-control" type="password"/>
                  </div>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <div id="create-account" class="btn-test-snap margin-top-20">CREATE ACCOUNT</div>
                  <div id="message-user-create" class="hide"></div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="clear-f"></div>
      </div>
      <div class="clear-f"></div>
    </div>
  </div>
</div>
</body>
</html>