<div class="page-container">
  <!-- sidebar menu start-->
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">

      <ul id="nav-accordion" class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
        <!--<li class="sidebar-toggler-wrapper">
          <div class="sidebar-toggler">
          </div>
        </li>-->
        <li>
          <a href="/">Camera Dashboard</a>
        </li>
        <li>
          <a class="public-cam" href="/publiccam">Public Cameras</a>
        </li>

        <li>
          <a href="/cameras/new">Add Camera</a>
        </li>
        <li>
          <a href="javascript:;" class="active">
            <span class="title open">Developer</span>
            <span class="caret"></span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="/dev">
                API</a>
            </li>
            <li>
              <a href="/widgets" class="active">
                <span class="title open">Widgets</span>
                <span class="caret"></span>
              </a>
              <ul class="sub-menu">
                <li class="active">
                  <a href="/widgets-new">
                    Live View</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
  <!-- sidebar menu end-->
  <div class="page-content-wrapper">
    <div class="page-content">
  <!--main content start-->


      <h3 class="page-title">
        Create a Live View Widget
      </h3>
      <div class="row">

      </div>
      <div class="row">
        <div id="live-widget" class="widget-config">
          <% if @cameras.empty? %>
        <div class="col-md-12"><h5>No public, online cams found</h5></div>
        <% else %>
        <div class="col-md-5">


          <form id="widget-new" role="form" method="post" class="center-block">

            <div class="widget-input">
              <div class="input-group col-md-10">
                <label for="widget-camera">Select your Camera</label>
                <select id="widget-camera" name="widget-camera" class="form-control is-required">
                  <% @cameras.each do |camera| %>
                  <option class="caret" value="<%= camera['id'] %>">
                    <%= camera['name'] %>
                  </option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="widget-input margin-top-20">
              <label for="widget-refresh-rate">Refresh Rate of Snapshot <small><em>(in Seconds)</em></small></label>
              <div class="input-group col-md-10">
                <input type="number" value="1" class="form-control" id="widget-refresh-rate" name="widget-refresh-rate" placeholder="1">
                <span class="input-group-addon">seconds</span>
              </div>
            </div>

            <div class="widget-input margin-top-20">
              <label for="widget-camera-width">Width of Camera Image to Display <small><em>(in px)</em></small></label>
              <div class="input-group col-md-10">
                <input type="number" value="400" class="form-control" id="widget-camera-width" name="widget-camera-width" placeholder="600">
                <span class="input-group-addon">px</span>
              </div>
            </div>
          </form>
          <div class="margin-top-20 row widget-code">
            <div class="col-md-12">
              <h5>Embed this code on your webpage</h5>
              <textarea id="code" class="pretty-code col-md-12" type="text">
              </textarea>

            </div>
          </div>
        </div>

        <div class="col-md-7">
          <h5>Preview</h5>
          <div class="col-lg-12 preview">
          </div>
        </div>
        <% end %>
      </div>
    </div>




  <!--main content end-->


</div>
</div>
<script>
  $(document).ready(function() {
    /** TODO - fix and move to widgets.js.coffee
    var copy_sel = $('.code-block a.code-copy');

    // Disables other default handlers on click (avoid issues)
    copy_sel.on('click', function(e) {
      e.preventDefault();
    });

    // Apply clipboard click event
    copy_sel.clipboard({
      path: '/path/to/flashes/jquery.clipboard.swf',

      copy: function() {
        var this_sel = $(this);

        // Hide "Copy" and show "Copied, copy again?" message in link
        this_sel.find('.code-copy-first').hide();
        this_sel.find('.code-copy-done').show();

        // Return text in closest element (useful when you have multiple boxes that can be copied)
        return this_sel.closest('.code-block').text();
      }
    });*/
  });
</script>
<%= javascript_include_tag "widgets" %>