<!-- sidebar menu start-->
<aside>
  <div id="sidebar" class="nav-collapse">
    <div class="leftside-navigation">
      <ul class="sidebar-menu" id="nav-accordion">
        <li>
          <a href="/dev">Interactive Docs</a>
        </li>
        <li>
          <a class="active" href="/widgets">Widgets</a>
        </li>
      </ul></div>
  </div>
</aside>
<!-- sidebar menu end-->
<!--main content start-->
<section id="main-content">
  <section class="wrapper site-min-height">
      <!--main content start-->

    <div class="row">
      <div class="col-md-6">
        <!--progress bar start-->
        <section class="panel">
          <header class="panel-heading">
            Live View Widget
            <span class="tools pull-right">
                           <a href="/widgets-new" type="submit" id="new_widget"><span class="glyphicon glyphicon-plus"></span>Create New Widget</a>
                            </span>
          </header>
          <div class="panel-body">
            <p> Our Live View Widget allows you to easily embed a Live View (refreshing JPEGs) from any connected camera, straight onto your site or in your app.</p>
            <p>The first step to getting the live view on your website is to put the following 2 lines of code inside the the &lt;head&gt; tag on your site:</p>
                <pre><code>&lt;script src="<a href="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" target="_blank">http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js</a>"&gt;&lt;/script&gt;
                  &lt;script src="<a href="http://cdn.evercam.io/js/v1/evercam.js'" target="_blank">http://cdn.evercam.io/js/v1/evercam.js</a>"&gt;&lt;/script&gt;</code></pre>
            <p>Then all you need to do is output the following code between the &lt;body&gt; tags on your site and you have your live view widget:</p>
            <pre><code>&lt;img evercam="{your camera id here}" width="640" height="100%" refresh="2000"&gt;</code></pre>
          </div>
        </section>
        <!--progress bar end-->

      </div>
      <div class="col-md-6">
        <!--progress bar start-->
        <section class="panel">
          <header class="panel-heading">
            Recorded Widget
          </header>
          <div class="panel-body">
            <p>Coming soon.</p>
          </div>
        </section>
        <!--progress bar end-->

      </div>
    </div>






      <!--main content end-->
  </section>
</section>

