<title>Evercam - Live View Widget</title>
<div class="page-container">
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->
      <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">

        <li class="sidebar-toggler-wrapper">
          <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
          <div class="sidebar-toggler">
          </div>
          <!-- END SIDEBAR TOGGLER BUTTON -->
        </li>
        <li class="start ">
          <a href="/">
            <i class="icon-camera"></i>
            <span class="title">My Cameras</span>
          </a>
        </li>
        <li>
          <a href="/publiccam">
            <i class="icon-map"></i>
            <span class="title">Public Cameras</span>
          </a>
        </li>
        <li>
          <a href="/cameras/new">
            <i class="icon-plus"></i>
            <span class="title">Add Camera</span>
          </a>
        </li>
        <li class="open">
          <a href="javascript:;">
            <i class="icon-folder"></i>
            <span class="title">Developer</span>
            <span class="arrow "></span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="/dev">API Docs</a>
            </li>
            <li class="open">
              <a href="javascript:;">
                Widgets <span class="arrow"></span>
              </a>
              <ul class="sub-menu">
                <li class="active">
                  <a href="/widgets-new">Live View Widget</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

      </ul>
      <!-- END SIDEBAR MENU -->
    </div>
  </div>
  <!-- END SIDEBAR -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <!--main content start-->

      <div class="portlet light bg-inverse">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-play"></i>Create a Live View Widget
          </div>
          <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
            <a href="#portlet-config" data-toggle="modal" class="config">
            </a>
            <a href="javascript:;" class="reload">
            </a>
            <a href="javascript:;" class="remove">
            </a>
          </div>
        </div>

        <div class="portlet-body">
      <div class="row">
        <div id="live-widget" class="widget-config">
          <% if @cameras.empty? %>
            <div class="col-md-5">
              <p class="note note-info">No public cameras found. Only public cameras can be used to make a widget. You can make a camera public from the sharing tab of camera or add a public camera from the list of public cameras.</p>
            </div>
          <% else %>
            <div class="col-md-5">
              <p class="note note-info">Only public cameras can be used to make a widget.</p>

              <form id="widget-new" role="form" method="post" class="center-block">


                <div class="widget-input form-group">
                  <div class="my-row">
                    <label class="col-md-5 control-label" for="widget-camera">Select your Camera</label>
                  </div>
                  <div class="input-group col-md-7">
                    <select id="widget-camera" name="widget-camera" class="form-control is-required">
                      <% @cameras.each do |camera| %>
                        <option class="caret" value="<%= camera['id'] %>">
                          <%= camera['name'] %> <% unless camera['is_online'] %>(Offline)<% end %>
                        </option>
                      <% end %>
                    </select>
                  </div>

                </div>

                <div class="form-group widget-input">
                  <div class="my-row">
                    <label class="col-md-5 control-label" for="widget-refresh-rate">Image Refresh Rate </label>
                  </div>
                  <div class="input-group col-md-7">
                    <input type="number" value="1" class="form-control input-inline" id="widget-refresh-rate" name="widget-refresh-rate" placeholder="1" data-validation="number" data-validation-allowing="range[0.05;100],float" data-validation-error-msg="Image Refresh Rate must be between 0.05 and 100 seconds">
                    <span class="input-group-addon">seconds</span>
                  </div>
                </div>

                <div class="form-group widget-input margin-top-20">
                  <div class="my-row">
                    <label class="col-md-5 control-label" for="widget-camera-width">Width of Image to Display</label>
                  </div>
                  <div class="input-group col-md-7">
                    <input type="number" value="400" class="form-control" id="widget-camera-width" name="widget-camera-width" placeholder="600" data-validation="number" data-validation-allowing="range[20;1600],float" data-validation-error-msg="Image Width must be between 20 and 1600 pixels">
                    <span class="input-group-addon">px</span>
                  </div>
                </div>
              </form>
              <div class="margin-top-30 row widget-code">
                <div class="col-md-12">
                  <h5>Embed this code on your webpage:</h5>
                  <textarea id="code" class="pretty-code col-md-12" type="text">
                  </textarea>

                </div>
              </div>
            </div>


            <div class="col-md-7">
              <h5>Preview</h5>
              <div class="preview">
              </div>
            </div>
          <% end %>
        </div>
        </div>
      </div>
      </div>
      <!--main content end-->
    </div>
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
  <script>
    $(document).ready(function() {
      /** TODO - fix and move to widgets.js.coffee
       var copy_sel = $('.code-block a.code-copy');

       // Disables other default handlers on click (avoid issues)
       copy_sel.on('click', function(e) {
      e.preventDefault();
    });

       // Apply clipboard click event
       copy_sel.clipboard({
      path: '/path/to/flashes/jquery.clipboard.swf',

      copy: function() {
        var this_sel = $(this);

        // Hide "Copy" and show "Copied, copy again?" message in link
        this_sel.find('.code-copy-first').hide();
        this_sel.find('.code-copy-done').show();

        // Return text in closest element (useful when you have multiple boxes that can be copied)
        return this_sel.closest('.code-block').text();
      }
    });*/

      jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        QuickSidebar.init() // init quick sidebar
      });

      $.validate();
    });
  </script>

<%= javascript_include_tag "widgets" %>