<!-- sidebar menu start-->
<aside>
  <div id="sidebar" class="nav-collapse">
    <div class="leftside-navigation">
      <ul class="sidebar-menu" id="nav-accordion">
        <li>
          <a href="/dev">Interactive Docs</a>
        </li>
        <li>
          <a href="/widgets">Widgets</a>
        </li>
      </ul></div>
  </div>
</aside>
<!-- sidebar menu end-->
<section id="main-content">
  <section class="wrapper site-min-height">
  <!--main content start-->

    <section class="panel">
      <header class="panel-heading">
        Create a Live View Widget

      </header>
      <div class="panel-body">

          <p>Create a widget and add it to your website using the tool below. Simply select your Camera,
            the refresh rate of the snapshot and the width of the image and copy and paste the code in the HTML of your page.</p>

      <div class="row">
        <div id="live-widget" class="widget-config">
        <% if @cameras.empty? %>
        <h3>No public, online cams found</h3>
        <% else %>
        <div class="col-md-5">
          <h5>Configuration</h5>

          <form id="widget-new" role="form" method="post" class="center-block">

            <div class="widget-input">
              <div class="input-group col-md-10">
                <label for="widget-camera">Select your Camera</label>
                <select id="widget-camera" name="widget-camera" class="form-control is-required">
                  <% @cameras.each do |camera| %>
                  <option class="caret" value="<%= camera['id'] %>">
                    <%= camera['name'] %>
                  </option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="widget-input">
              <label for="widget-refresh-rate">Refresh Rate of Snapshot <small><em>(in Seconds)</em></small></label>
              <div class="input-group col-md-10">
                <input type="number" value="5" class="form-control" id="widget-refresh-rate" name="widget-refresh-rate" placeholder="5">
                <span class="input-group-addon">seconds</span>
              </div>
            </div>

            <div class="widget-input">
              <label for="widget-camera-width">Width of Camera Image to Display <small><em>(in px)</em></small></label>
              <div class="input-group col-md-10">
                <input type="number" value="400" class="form-control" id="widget-camera-width" name="widget-camera-width" placeholder="600">
                <span class="input-group-addon">px</span>
              </div>
            </div>
          </form>
          <div class="row widget-code">
            <div class="col-md-12">
              <h5>HTML</h5>
              <textarea id="code" class="code col-md-12" type="text">
              </textarea>
              <p class="help-text">Copy and paste the between the &#60;body&#62; tags of your site.</p>
            </div>
          </div>
        </div>

        <div class="col-md-7">
          <h5>Preview</h5>
          <div class="col-lg-12 preview">
          </div>
        </div>
        <% end %>
      </div>
    </div>

      </div>
    </div>
    </section>
  </section>
</section>
  <!--main content end-->

<%= javascript_include_tag "widgets" %>