<div class="page-content-wrapper widget-tabs">
  <div class="page-content">
    <div class="portlet-body">
      <div class="tabbable tabbable-custom">
        <div class="center-tabs">
          <ul id="ul-nav-tab" class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" data-target="#embedded-live-view" class="nav-tab-live nav-tab-">Live View Widget</a>
            </li>
            <li>
              <a data-toggle="tab" data-target="#embedded-recordings" class="nav-tab-details">Recording Widget</a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div id="embedded-live-view" class="tab-pane active">
            <%= render partial: "widgets/widgets_new" %>
          </div>
          <div id="embedded-recordings" class="tab-pane">
            <%= render partial: "widgets/widget_snapshot_navigator" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
