<div class="page-container" id="public-index">
  <!-- sidebar menu start-->
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">

      <ul id="nav-accordion" class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
        <!--<li class="sidebar-toggler-wrapper">
          <div class="sidebar-toggler">
          </div>
        </li>-->
        <li>
          <a href="javascript:;" class="active">
            <span class="title">Developer</span>
            <span class="caret"></span>

          </a>
          <ul class="sub-menu">
            <li>
              <a href="/dev">
                API</a>
            </li>
            <li>
              <a  class="active" href="/widgets">
                Widgets</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/">My Cameras</a>
        </li>
        <li>
          <a class="public-cam" href="/publiccam">Public Cameras</a>
        </li>

        <li>
          <a href="/cameras/new">Add Camera</a>
        </li>

      </ul>
    </div>
  </div>
  <!-- sidebar menu end-->
  <div class="page-content-wrapper">
    <div class="page-content">

      <!--main content start-->

    <div class="row">
      <div class="col-md-12">
        <!--progress bar start-->

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <h3 class="page-title">Live View Widget</h3>
              </div>
              <div class="col-md-6">
                <a href="/widgets-new" type="submit" class="btn btn-primary pull-right" id="new_widget">Create a Widget</a>
              </div>
            </div>
          </div>

          <div class="panel-body">
            <p> Our Live View Widget allows you to easily embed a Live View (refreshing JPEGs) from any connected camera, straight onto your site or in your app.</p>
            <p>The first step to getting the live view on your website is to put the following 2 lines of code inside the the &lt;head&gt; tag on your site:</p>
                <pre><code>&lt;script src="<a href="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" target="_blank">http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js</a>"&gt;&lt;/script&gt;
                  &lt;script src="<a href="http://cdn.evercam.io/js/v1/evercam.js'" target="_blank">http://cdn.evercam.io/js/v1/evercam.js</a>"&gt;&lt;/script&gt;</code></pre>
            <p>Then all you need to do is output the following code between the &lt;body&gt; tags on your site and you have your live view widget:</p>
            <pre><code>&lt;img evercam="{your camera id here}" width="640" height="100%" refresh="2000"&gt;</code></pre>
          </div>

        <!--progress bar end-->

      </div>

    </div>






      <!--main content end-->
</div>
</div>
</div>