<div class="card">
  <p class="hide" id="no-history">No billing history.</p>
  <table id="billing-history" style="width:100%;" class="table table-full-width">
    <thead>
    <tr>
      <th class="col-md-2">Date</th>
      <th class="col-md-4">Details</th>
      <th class="col-md-2 text-right">Amount</th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
