<div class="col-md-7">
  <h3>Payment History</h3>
  <%= render 'subscriptions/history/billing_history' %>
</div>

<div class="col-md-5">
  <h3>Invoices</h3>
  <%= render 'subscriptions/history/invoices' %>
</div>