.clip-text-box {
  background-color: $white;
  margin-top: 1px;
  min-width: 220px;
  width:100%;
  font-size: 14px;
}

.add-clip  {
  max-width: 550px;
}

.form-label-td {
  width: 12%;
}

.camera-name {
  margin-bottom: 0px !important;
}

.add-clip > label {
  margin-bottom: 0px;
}

.dropdown-label {
  padding-left: 0px !important;
}

.dropdown-padding-left {
  padding-left: 0px;
  padding-right: 1px;
}

.time-dropdown {
  min-width: 40px;
  padding: 0px 4px;
}

.archive-actions {
  margin-right: 12px;
  .fas,
  .fa {
    font-size: 16px;
    color: $main-color;
    margin-top: 5px;
  }

  .fas:hover,
  .fa:hover {
    color: $dark-blue;
  }
}

#uniform-embed-datetime, #uniform-is-public {
  display: none;
}

#form-create-clip .table {
  margin-bottom: 5px;
}

#archives {
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px;
  }

  .delete-archive2 {
    margin-top: -2px;
  }

  .dropdown {
    float: left;
  }

  ul.dropdown-menu {
    left: -135px;
    width: 110px;
  }

  .dropdown-menu li {
    border-right: solid 1px $main-grey;
    display: inline-block;
    width: 80px;
  }

  .dropdown-menu li > a {
    color: $form-dark-grey;
    text-align: center;
    font-size: 14px;
  }

  .dropdown-menu li > a:hover {
    background-color: $main-color;
    color: $white;
  }

  .float-left {
    float: left;
  }

  .copy-url-icon {
    padding: 8px;
    height: 34px;
    background-color: $lighter-grey;
    cursor: pointer;
    position: absolute;
    margin-left: -31px;
    z-index: 99999;
    margin-top: 1px;
    border: 1px solid $main-grey;
  }

  .copy-embed-code {
    padding: 40px 8px 8px;
    height: 89px;
  }

  .copy-url-icon:hover {
    color: $main-color;
  }

  .copy-text:focus {
    border: 1px solid $main-grey !important;
  }

  input.copy-text {
    width: 92%;
    background-color: $white;
  }

  .embed-code {
    height: 90px;
    background-color: $white;
  }

  .download-animation {
    margin-left: 0;
  }

  .archive-thumbnail {
    height: auto;
    width: 100%;
  }

  .archive-label {
    color: $grey;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
  }

  .div-thumbnail {
    text-align: center;
    margin-bottom: 10px;
  }

  .div-row {
    margin-bottom: 10px;
  }

  .line-separator {
    border: solid 1px $main-grey;
    width: 100%;
    height: 2px;
    margin-bottom: 15px;
  }

  .td-archive-info {
    .fa {
      color: $main-color;
    }

    .fa:hover {
      color: $dark-blue;
    }
  }

  .div-title {
    display: inline-block;
    line-height: 1;
    margin-top: 5px;

    small {
      color: $small-grey;
    }
  }

  .gravatar-placeholder .gravatar {
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-top: 6px;
    height: 25px;
    width: 25px;
  }

  .gravatar-placeholder .gravatar-logo {
    border-radius: 50%;
    display: inline-block;
    float: left;
    height: 25px;
    width: 25px;
  }

  .media-url-title {
    display: inline-block;
    line-height: 1;
    margin-left: 5px;
    margin-top: 5px;
  }

  .type-icon {
    color: $small-grey;
    font-size: 75%;
    width: 10px;
  }

  .type-icon-url {
    margin-right: 5px;
  }

  .type-icon-alignment {
    margin-right: 6px;
    margin-top: 6px;
  }

  .requester {
    display: inline-block;
    line-height: 1;
    margin-top: 5px;

    label {
      width: 22px;
      font-size: 85%;
    }
  }

  .username-id {
    display: inline-block;
    line-height: 1;
    margin-top: 5px;
    margin-left: 5px;

    small {
      color: $small-grey;
    }
  }

  table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px 10px;
    color: $form-dark-grey;
  }

  .archive-add {
    border-radius: 50%;
    color: #ffffff;
    height: 56px;
    width: 56px;
    font-size: 30px;
    margin-right: 50px;
    padding-top: 7px;
    padding-right: 15px;
  }

  .box-types {
    max-width: 450px;
    min-width: 450px;
    position: absolute;
    margin-top: -250px;
  }

  .box-margin-top {
    margin-top: 215px;
  }

  .type-row {
    margin-bottom: 10px;
  }

  .type-col {
    float: left;
    width: 50%;
  }

  .type-link {
    text-decoration: none;
    color: $form-medium-grey;
  }

  .type-link:hover {
    color: $form-medium-grey;
    text-decoration: none;
  }

  .type-link:hover span {
    color: $hover-blue;
  }

  .disable-type-link {
    text-decoration: none;
    color: $small-grey;
    cursor: auto;
  }

  .upload-file {
    max-width: 450px;
  }

  /**********File input style******************/
  .inputfile {
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: relative;
    top: -35px;
    z-index: 1;
  }

  .inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
  }

  .inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
  }

  .inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
  }

  .file-drop .is-dragover {
    background-color: lighten($main-color, 10%);
    border-color: lighten($main-color, 10%);
  }

  .file-drag-drop {
    border: dashed;
    border-color: $main-grey;
    color: $dark-grey;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 90px;
  }

  .file-drag-drop:hover {
    color: $text-grey;
  }

  .file-drag-drop.is-dragover {
    border: dashed;
    border-color: $dark-grey;
    color: $text-grey;
  }

  .file-label {
    position: relative;
    top: 25px;
  }
  /**********************************/

  .m-menu__submenu {
    background-color: $white;
    border: solid 1px $light-grey;
    display: none;
    margin-right: 106px;
    position: absolute;
    right: 0;
    border-radius: 4px;
    text-align: left;
    top: 250px;
    width: 245px;
    -webkit-animation: m-aside-menu-submenu-fade-in .3s ease 1, m-aside-menu-submenu-move-up .3s ease-out 1;
    -moz-animation: m-aside-menu-submenu-fade-in .3s ease 1, m-aside-menu-submenu-move-up .3s ease-out 1;
    -ms-animation: m-aside-menu-submenu-fade-in .3s ease 1, m-aside-menu-submenu-move-up .3s ease-out 1;
    -o-animation: m-aside-menu-submenu-fade-in .3s ease 1, m-aside-menu-submenu-move-up .3s ease-out 1;
    animation: m-aside-menu-submenu-fade-in .3s ease 1, m-aside-menu-submenu-move-up .3s ease-out 1;

    -webkit-box-shadow: 0px 0px 15px 3px rgba(69, 65, 78, 0.2);
    -moz-box-shadow: 0px 0px 15px 3px rgba(69, 65, 78, 0.2);
    box-shadow: 0px 0px 15px 3px rgba(69, 65, 78, 0.2);
  }

  .triangle-right-border {
    position: absolute;
    width: 0;
    height: 0;
    left: 240px;
    top: 25px;
    color: #ffffff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    z-index: 1;
  }

  .m-menu__submenu .m-menu__subnav {
    padding: 20px;
    width: 100%;
    margin: 0;
    list-style: none;
  }

  .m-menu__submenu .m-menu__subnav li {
    line-height: 40px;
  }

  .compare-img {
    margin-right: 4px;
    margin-left: 4px;
  }

  .progress {
    overflow: hidden;
    height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .progress-success.progress-striped .bar, .progress-striped .bar-success {
    height: 20px;
    background-color: #62c462;
    line-height: 1.5;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  }

  .progress-success .bar, .progress .bar-success {
    height: 20px;
    color: $white;
    text-align: center;
    background-color: #5eb95e;
    line-height: 1.5;
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(to bottom, #62c462, #57a957);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
  }
}

#archives .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: white;
  border: solid 1px #dddddd;
}

#archive-modal {
  z-index: 9999;
}

.archive-title {
  text-decoration: none;
  color: $form-medium-grey;
}

.archive-title:hover {
  color: $main-color;
  text-decoration: none;
}

.archive-modal .modal-dialog {
  width: 465px;
}

.xdsoft_datetimepicker {
  z-index: 9999999999;
}

table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc,table.dataTable thead .sorting{
  background: none;
}

.popbox2 {
  display: inline;
}

.table-responsive {
  overflow-x: inherit;
}

.table-striped > tbody > tr:nth-of-type(2n+1){
  background-color: transparent;
}

.table-bordered {
  border: none;

  thead > tr > th {
    border-right: none;
    padding-right: 7px !important;
  }

  tbody > tr > td {
    border-right: none;
    vertical-align: middle;
  }

  .options {
    width: 85px;
  }

  .archive-info {
    width: 20px;
  }

  .fa-3 {
    font-size: 1.3em;
  }

  .fa-4 {
    font-size: 1.8em;
  }
}

.padding-right15 {
  padding-right: 15px;
}

@media (max-width: 850px) {

  .username-id {
    float: left;
    text-align: left;
  }

  .from {
    display: none;
  }

  .to {
    display: none;
  }

}

@media (max-width: 670px) {

  .public {
    display: none;
  }

  .frames {
    display: none;
  }

  .duration {
    display: none;
  }

}

@media (max-width: 550px) {

  .status {
    display: none;
  }

}

@media (max-width: 480px) {

  .archive-modal .modal-dialog {
    width: 94%;
  }

}

@media (max-width: 400px) {

  .fullname {
    display: none;
  }


  .title {
    text-align: left;
  }

}

.margin-bottom-40 {
  margin-bottom: 40px;
}

@media (max-width: 380px) {

  .archive-modal .modal-dialog {
    width: 92%;
  }

}

.modal-archive-info .form-control {
  font-size: 14px;
}

.has-image-td {
  padding: 0 0 0 8px !important;
  margin-left: 8px;
}

.margin-left15 {
  padding-left: 15px;
}
