.clip-text-box {
  background-color: $white;
  margin-top: 1px;
  min-width: 220px;
  width:100%;
}

.add-clip  {
  max-width: 550px;
}

.form-label-td {
  width: 12%;
}

.camera-name {
  margin-bottom: 0px !important;
}

.add-clip > label {
  margin-bottom: 0px;
}

.dropdown-label {
  padding-left: 0px !important;
}

.dropdown-padding-left {
  padding-left: 0px;
  padding-right: 1px;
}

.time-dropdown {
  min-width: 40px;
  padding: 0px 4px;
}

.archive-actions {
  margin-right: 12px;
  .fa {
    font-size: 18px;
    color: $main-color;
  }

  .fa:hover {
    color: $dark-blue;
  }
}

#uniform-embed-datetime, #uniform-is-public {
  display: none;
}

#form-create-clip .table {
  margin-bottom: 5px;
}

#archives {
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px;
  }

  .dropdown {
    float: left;
  }

  ul.dropdown-menu {
    left: -135px;
    width: 110px;
  }

  .dropdown-menu li {
    border-right: solid 1px $main-grey;
    display: inline-block;
    width: 80px;
  }

  .dropdown-menu li > a {
    color: $form-dark-grey;
    text-align: center;
  }

  .dropdown-menu li > a:hover {
    color: $main-color;
  }

  .float-left {
    float: left;
  }

  .copy-url-icon {
    padding: 8px;
    height: 34px;
    background-color: $lighter-grey;
    cursor: pointer;
    position: absolute;
    margin-left: -31px;
    z-index: 99999;
    border: 1px solid $main-grey;
  }

  .copy-embed-code {
    padding: 40px 8px 8px;
    height: 100px;
  }

  .copy-url-icon:hover {
    color: $main-color;
  }

  .copy-text:focus {
    border: 1px solid $main-grey !important;
  }

  input.copy-text {
    width: 92%;
    background-color: $white;
  }

  .embed-code {
    height: 100px;
    background-color: $white;
  }

  .download-animation {
    margin-left: 0;
  }

  .archive-thumbnail {
    height: auto;
    width: 438px;
  }

  .archive-label {
    color: $grey;
    padding-left: 0;
    padding-right: 0;
  }

  .div-thumbnail {
    text-align: center;
    margin-bottom: 10px;
  }

  .div-row {
    margin-bottom: 10px;
  }

  .line-separator {
    border: solid 1px $main-grey;
    width: 100%;
    height: 2px;
    margin-bottom: 15px;
  }

  .td-archive-info {
    .fa {
      color: $main-color;
    }

    .fa:hover {
      color: $dark-blue;
    }
  }

  .div-title {
    display: inline-block;
    line-height: 1;
    margin-top: 5px;

    small {
      color: $small-grey;
    }
  }

  .gravatar-placeholder .gravatar {
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-top: 6px;
    height: 25px;
    width: 25px;
  }

  .username-id {
    display: inline-block;
    line-height: 1;
    margin-top: 5px;
    margin-left: 5px;

    small {
      color: $small-grey;
    }
  }

  table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px 10px;
    color: $form-dark-grey;
  }

  .archive-title {
    color: $form-dark-grey;
  }

  .archive-title:hover {
    color: $form-dark-grey;
  }
}

#archives .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: white;
  border: solid 1px #dddddd;
}

#archive-modal {
  z-index: 9999;
}

.archive-modal .modal-dialog {
  width: 465px;
}

.xdsoft_datetimepicker {
  z-index: 9999999999;
}

table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc,table.dataTable thead .sorting{
  background: none;
}

.popbox2 {
  display: inline;
}

.table-responsive {
  overflow-x: inherit;
}

.table-striped > tbody > tr:nth-of-type(2n+1){
  background-color: transparent;
}

.table-bordered {
  border: none;

  thead > tr > th {
    border-right: none;
    padding-right: 7px !important;
  }

  tbody > tr > td {
    border-right: none;
    vertical-align: middle;
  }

  .options {
    width: 85px;
  }

  .archive-info {
    width: 20px;
  }

  .fa-3 {
    font-size: 1.3em;
  }

  .fa-4 {
    font-size: 1.8em;
  }
}

.padding-right15 {
  padding-right: 15px;
}

@media (max-width: 850px) {

  .username-id {
    float: left;
    text-align: left;
  }

  .from {
    display: none;
  }

  .to {
    display: none;
  }

}

@media (max-width: 670px) {

  .public {
    display: none;
  }

  .frames {
    display: none;
  }

  .duration {
    display: none;
  }

}

@media (max-width: 550px) {

  .status {
    display: none;
  }

}

@media (max-width: 480px) {

  .archive-modal .modal-dialog {
    width: 94%;
  }

}

@media (max-width: 400px) {

  .fullname {
    display: none;
  }


  .title {
    text-align: left;
  }

}

.margin-bottom-40 {
  margin-bottom: 40px;
}

@media (max-width: 380px) {

  .archive-modal .modal-dialog {
    width: 92%;
  }

}
