.compare_tab {
  font-size: 14px;

  // Images compare main container
  .images-compare-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }

  // Images compare front element
  .images-compare-before {
    will-change: clip;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    overflow: hidden;
  }

  // Images compare back element
  .images-compare-after {
    pointer-events: none;
  }

  // Responsive image settings
  .images-compare-before img, .images-compare-after img {
    width: 100%;
    height: 100%;
    display: block;
  }

  // Separator (thin vertical blank line)
  .images-compare-separator {
    position: absolute;
    background: $white;
    height: 100%;
    width: 1px;
    z-index: 4;
    left: 0;
    top: 0;
  }

  // Drag handle (circle)
  .images-compare-handle {
    height: 38px;
    width: 38px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -22px;
    margin-top: -22px;
    border: 3px solid $white;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
    z-index: 6;
    cursor: pointer;
  }

  // Drag handle arrows
  .images-compare-left-arrow, .images-compare-right-arrow {
    width: 0;
    height: 0;
    border: 6px inset transparent;
    position: absolute;
    top: 50%;
    margin-top: -6px;
  }

  .images-compare-left-arrow {
    border-right: 6px solid $white;
    left: 50%;
    margin-left: -17px;
  }

  .images-compare-right-arrow {
    border-left: 6px solid $white;
    right: 50%;
    margin-right: -17px;
  }

  // Label
  .images-compare-label {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    pointer-events: auto;
    cursor: pointer;
    display: none;
  }

  .images-compare-container .images-compare-label {
    display: inherit;
  }

  .images-compare-before .images-compare-label {
    left: 10px;
  }

  .images-compare-after .images-compare-label {
    left: auto;
    right: 10px;
  }

  .div-embed-code {
    bottom: 5px;
    display: table;
    padding: 1px 4px 3px 5px;
    position: absolute;
    text-decoration: none;
    z-index: 10;
  }

  .embed-code {
    height: 100px;
  }

  .evercam-brand {
    bottom: 5px;
    display: table;
    line-height: 14px;
    padding: 1px 4px 1px 5px;
    position: absolute;
    right: 0;
    text-align: right;
    text-decoration: none;
    z-index: 10;
  }

  .evercam-brand img.svg-logo {
    height: auto;
    width: 65%;
    margin-left: 3px;
  }

  .loading-image-div .export-compare-animation {
    width: 50px;
    position: absolute;
    top: 40px;
    left: 50%;
  }

  .alert {
    font-size: 13px;
    padding: 7px;
    margin-bottom: 10px;
  }

  .chk-span {
    margin-top: 6px !important;
  }

  .copy_embed_code {
    padding: 40px 8px 8px 8px;
    height: 100px;
  }

  .copy-text:focus {
    border: 1px solid $main-grey !important;
  }

  input.copy-text {
    width: 92.7%;
  }

  .download-animation {
    margin-left: 0;
  }
}

.opacitypoint5 {
  opacity: 0.5;
}

.xdsoft_datetimepicker .xdsoft_calendar .xdsoft_date.xdsoft_current {
  color: $main-color;
  background-color: $secondary-grey;
  box-shadow: none;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div {

  div.active-class-css {
    color: $main-color;
    background-color: $secondary-grey;
    font-weight: 700;
  }

  div.xdsoft_current {
    color: $pop-up-text;
    background-color: $secondary-grey;
    font-weight: normal;
    box-shadow: none;
  }
}
