// Place all the styles related to the explorer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*EXPLORER */
#exp-swagger .container {
  width: 100%;
  margin-top: -49px;
}
#unseen p {
  color: #aaaaaa;
  padding-top: 6px;
}
#explorer #resources {
  width: 100% !important
}
#urls-panel{
  display: none;
}