.image-editor-placeholder {
  width: 80%;
  margin-left: 10%;

  .border {
    border: 1px solid $black;
  }

  .body-container {
    width: 1000px;
    margin: 0 auto;
  }

  .tui-image-editor-controls {
    z-index: 1;
  }

  .back-btn-container {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;

    .back-container-left{
      float: left;
    }

    .back-container-right{
      float: right;
    }

    .size20 {
      font-size: 20px;
    }
  }

  .menu {
    padding: 0;
    text-align: center;
    color: $form-dark-grey;
    font-weight: 400;
    list-style-type: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
  }

  .header .menu {
    display: inline-block;
  }

  .menu-item {
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
  }

  .sub-menu-item {
    padding: 0;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
  }

  .new-menu{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }

  .menu-item a {
    text-decoration: none;
  }

  .menu-item.no-pointer {
    cursor: default;
  }

  .menu-item.active,
  .menu-item:hover {
    background-color: $evercam-grey;
  }

  .menu-item.disabled {
    cursor: default;
    color: $lighter-grey;
  }

  .align-left-top {
    text-align: left;
    vertical-align: top;
  }

  .range-narrow {
    width: 80px;
  }

  .sub-menu-container {
    font-size: 14px;
    display: none;
  }

  .tui-image-editor {
    z-index: -1;
  }

  .tui-image-editor-canvas-container {
    margin: 0 auto;
    top: 260px;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border: 1px dashed $black;
    overflow: hidden;
  }

  .tui-colorpicker-container {
    margin: 5px auto 0;
  }

  .tui-colorpicker-palette-toggle-slider, div.tui-colorpicker-clearfix {
    display: none;
  }

  .input-wrapper{
    position: relative;
  }

  .input-wrapper input{
    cursor: pointer;
    position: absolute;
    font-size: 999px;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .icon-text{
    font-size: 20px;
  }

  .select-line-type{
    outline: 0;
    vertical-align: middle;
  }

  #tui-color-picker{
    display: inline-block;
    vertical-align: middle;
  }

  .div-save-edit-image {
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100%;
    text-align: center;

    span {
      background-color: $white;
      opacity: 0.7;
      padding: 5px 15px;
      font-weight: bold;
    }
  }

  .saving-image-animation {
    width: 150px;
    height: 150px;
    position: relative;
    top: 37%;
  }

  .saving-light-box {
    position: fixed;
    background: $black;
    opacity: 0.3;
  }

  .editor-info-box {
    border-bottom: solid 1px #e5e5e5;
    padding-top: 5px;
    padding-bottom: 5px;

    strong {
      font-size: 30px;
      color: $black;
      margin-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .edit-image-label {
      overflow: hidden;
      height: 28px;
    }

    .edit-image-buttons {
      float: right;
      padding-top: 10px;

      a {
        font-size: 17px;
      }
      .dropdown {
        float: left;
      }
    }

    .image-edit-actions {
      margin-right: 12px;
      .fas,
      .fa,
      .fab {
        font-size: 20px !important;
        color: $main-color;
        margin-top: 5px;
      }

      .fas:hover,
      .fa:hover,
      .fab:hover {
        color: $dark-blue;
      }
    }
  }
}
