// Place all the styles related to the live controller here.

.tint {
  width: 100%;
}
.tint img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  width:100%;
  min-width: 500px;
}
.tint img:hover {
  -webkit-filter: grayscale(10%);
  -moz-filter: grayscale(10%);
  filter: grayscale(10%);
  -moz-transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

#details .portlet.solid.bordered > .portlet-title {
  margin-bottom: 5px;
  border-bottom: 1px solid $white;
}
#details .portlet.solid {
  overflow-x: hidden;
  background-color: $white;
  padding: 0px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
#details .table-borderless td {
  line-height: 1.2 !Important;
  padding: 6px 2px !important;
}

#details .table {
  margin-bottom: 5px;
}

#details .help-block {
  font-size: 12px;
  background: none;
}
.info-preview {
  width:100%;
  overflow: hidden;
  margin-bottom: 5px;
}
.info-preview img {
  width: 100%;
  min-width: 169px;
  max-width: 100%;
}
.capture {
  max-width: 450px;
}
#details .portlet-body{
  position: relative;
}
.image-placeholder-detail-page{
  border: 1px solid $lighter-grey;
  max-height: 137px;
  padding: 5px;
  text-align: center;
  width: 139px;
  position: absolute;
  z-index: 999;
  top: 0px;
  right: 0px;
  #vemdor-image{
    max-height: 12px;
    margin-top: -11px;
    float: left;
    margin-left: -20px;
  }
  #model-image{
    max-height: 127px;
    max-width: 100%;
  }
}

@media (max-width: 780px) {

  .image-placeholder-detail-page{
    position: relative;
    margin: 20px auto 0px;
  }

}
#deleteModal .modal-footer {
  padding: 0px 14px 25px;
}
.title-label {
  font-size: 12px;
  text-transform: uppercase;
  color: #AAAAAA;
}
.proxy-info {
  font-size: 12px;
  text-transform: uppercase;
  color: $main-color;
}

.table-fixed {
  table-layout: fixed;
  word-wrap: break-word;
}

.margin-bottom-0 {
  margin-bottom: 0px; /*temp fix*/
}
.margin-top-0 {
  margin-bottom: 0px; /*temp fix*/
}
#map-info {
  height: 350px;
}
.dark-grey {
  color:#777777;
  font: 400 14px 'Open Sans', Arial, sans-serif;
}
.first-row {
  max-width:200px;
  min-width:200px;
}
#details .table>tbody>tr>td {
  padding: 1px 2px;
}
#details .table>thead>tr>th {
  padding: 0px 0 4px;
}
#settings-modal .portlet, #settings-modal-1 .portlet {
  margin-bottom: 0px;
}
#settings-modal .table-borderless td, #settings-modal-1 .table-borderless td  {
  padding: 2px 2px !important;
}

#settings-modal-1 .has-error .help-block {
  background-color: transparent;
}
#settings-modal-1 .control-label {
  margin-top: 8px;
}
#details {
  border: none;
  width: 100%;
  height: auto;
}
.uppercase-title {
  margin-top: 12px;
}
/*LOCATION */
#location #map-canvas {
  max-height: 680px;
}
#location p {
  margin-bottom: 0px;
}
#co-ordinates {
  margin-top: 5px;
}

#location-settings {
  margin-right: 0px;
}
#location-settings .table {
  margin-bottom: 10px;
}
.center-image {
  text-align: center;
  height: 100%;
}

/*CAMERA SETTINGS*/

#camera-settings .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#camera-settings .input-group-addon {
  background-color: $white;
  border: none;
  padding: 6px 8px 6px 10px;
}
#camera-settings .table > tbody > tr > td {
  padding: 4px 0px;
}

.modal {
  margin-right: -15px;
}

.save-settings {
  margin-top: 10px;
}
.save-settings .form-group {
  margin-bottom: 0px;
}
.test-img-settings {
  background-color: $white;
  min-height:165px;
  overflow: hidden;
  width: 100%;
}
#testimg {
  height: auto;
  width:100%;
}
.radio label {
  float:left;
}
.settings-id {
  width: 168px;
  padding-left: 10px;
  margin-top: 3px;
}
#camera-settings .test-snapshot{
  float: left;
}
#camera-settings #test-error {
  float: left;
  clear: both;
  text-align: left;
  margin-top: 8px;
}
#camera-settings #test {
  width:auto;
}

#details {
  td:first-child {
    color: #666666;
  }
}
.controls {
  margin-top: 6px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 36px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#search-location {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  position: absolute;
  z-index: 10000;
}

#search-location:focus {
  border-color: #4d90fe;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
.coordinates {
  position: absolute;
  top: 0;
  margin-left: -2px;
}
p#search-notes {
  margin-top: 42px !important;
}
.location-search {
 transition:0.3s;
}
#map-info{
  display: none;
}
#coordinates-value .btn-edit {
  margin-top: 2px;
  float: right;
}
#save-map-location {
  float: right;
  margin-right: 26px !important;
}
/*-- Checkbox --------------------------- */
.checkbox input[type='checkbox'] {
  height: 20px;
  width: 20px;
  opacity: 0.8;
  margin-left: 1px;
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0,255,255,1);
  font-size: 15px;
  background-color: #6495ed;
  color: #0000ff;
  text-align: center;
  line-height: 15px;
  display: flex;
  border: medium none;
}
.checkbox label{
  padding-left: 5px;
}
