.tab-content #local_recordings_tab {
  margin: 0px -15px;
}

#local_recordings_tab {
  .video-js {
    outline: none;
  }

  .active {

  }

  .table-condensed tbody {
    background-color: #fff;
    border: none;
  }

  thead {
    background-color: #f6f6f6;
    border: 1px solid #e5e5e5;
  }

  .lr-md-slider-outer{
    background-color: #e2e2e2;
    border: 0px solid #b6b6b6;
    height: 115px;
    padding: 0px;
  }

  .lr-md-slider{
    height: 114px;
  }

  .lr-md-slider-inner {
  }

  .lr-md-slider::-webkit-scrollbar {
    border-radius: 3px;
    height: 0.5em;
  }

  #div-lr-slider-md ul, ol{
    margin-top: 5px;
    padding-left: 3px;
  }

  #lr-md-slider-item li{
    cursor: pointer;
    font-size: 10px;
    float: left;
    list-style: none;
    padding-left: 1.6px;
    text-align: center;
    color: #2a6496;
  }

  .md-Img {
    background-image: asset-url("metronic/input-spinner.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    width: 180px;
    padding: 5px 0;
  }

  li.active {
    border: solid 2px $evercam-black;
  }

  .thumbnail-scroll {
    background-color: $evercam-black;
    color: $white;
    cursor: pointer;
    height: 107px;
    opacity: 0.8;
    padding: 44px 4px;
    position: absolute;
    z-index: 1;
  }

  .thumbnail-scroll-right {
    right: 2px;
  }

  foreignObject.ytitle {
    display: none;
  }

  .vjs-loading-spinner {
    display: none;
    position: absolute;
    top: 48%;
    left: 49.3%;
    margin: -25px 0 0 -25px;
    opacity: .85;
    text-align: left;
    border: 10px solid rgba(43,51,63,.7);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
    width: 7em;
    height: 7em;
    border-radius: 100px;
  }

  .vjs-loading-spinner:before, .vjs-loading-spinner:after {
    margin: -10px;
  }

  .visavail_container_class {
    background-color: $evercam-black;
  }

  #local-recording-video-player div.vjs-error-display {
    display: none;
  }

  .rect_has_no_data {
    fill: $black;
  }

  .has-snapshot {
    color: #428bca;
    font-family: proxima-nova-bold;
    font-weight: bold;
  }

  .video-js .vjs-big-play-button {
    height: 2.5em;
    line-height: 2.3em;
    width: 2.5em;
    top: 40%;
    left: 47%;
    border-radius: 100px !important;
  }

  .vjs-live-display {
    display: none;
  }

  .image_save {
    cursor: pointer;
    font-size: 13px;
    position: absolute;
    margin-left: -18px;
    color: #ffffff;
    margin-top: 7px;
    right: 44px;
  }
  
  .btn {
    padding: 3px 6px;
  }

  .select2-container--default .select2-selection--single {
    border-radius: 0px;
  }

  .select2-container {
    z-index: 47;
  }

  .time-box{
    border: 1px solid #efefef;
    padding: 3px 7px;
  }

  .clip-create-message {
    background-color: $white;
    border: 3px solid rgba(43, 51, 63, 0.7);
    border-radius: 2px;
    box-sizing: border-box;
    color: $evercam-black;
    display: none;
    font-size: 16px;
    font-weight: 700;
    left: 25%;
    margin: -25px 0 0 -25px;
    opacity: .80;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 37em;
  }

  .nvr-time-picker {
    background-color: $white;
    margin-top: 1px;
    height: 27px;
    width:80px;
  }

  .padding-right-left-zero {
    padding-left: 0;
    padding-right: 0;
  }

  .div-tooltip {
    position: absolute;
    text-align: center;
    display: none;
    background-color: #FFFFE1;
    border: 1px solid #000000;
    font-size: 8pt;
    padding-left: 3px;
    padding-right:3px;
    z-index: 1000001;
  }

  .rect_has_data {
    cursor: pointer;
    fill: #8cbae3;
  }

  .rect_has_data:hover {
    fill: #458cc7;
  }

  .rect_has_data_active {
    fill: #458cc7 !important;
  }
}
