#logs {
  .checkbox-inline {
    padding-left: 0 !important;
  }

  .paginate_button {
    padding: 0px;
  }

  .paginate_button:hover {
    background: #ffffff;
    border: solid 1px #dddddd;
  }

}

.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-top: 4px;
}

@media (max-width: 768px) {

  .to-time {
    margin-left: 15px;
    margin-top: 10px;
  }

  .btn-setting {
    margin-top: 10px;
  }

}

@media (max-width: 540px) {
  .checkbox-list {
    padding-left: 35px;
  }

  .dates {
    margin-top: 30px;
  }
}

@media (max-width: 400px) {

  .dates {
    margin-top: 60px;

    .set-margin {
      margin-top: 40px;
    }

  }

}

@media (max-width: 340px) {
  .dates {
    margin-top: 90px;
  }
}

[id^=uniform-type-] {
  display: none !important;
}

#logs-filter .checkbox .chk-span {
  border: 1px solid #aaaaaa;
  color: #aaaaaa;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 14px;
  margin-right: 5px;
  outline-color: #eaeaea;
  padding: 0;
  position: relative;
  top: 0;
  transition: all 0.2s ease-in-out 0s;
  width: 14px;
  z-index: 1;
}

#logs-filter .checkbox .chk-span.checked {
  border-bottom-color: #428bca;
  border-left-color: #428bca;
}
#logs-filter .checkbox .chk-span.checked {
  border-color: transparent transparent #428bca #428bca;
  border-style: solid;
  border-width: 1px 1px 4px 2px;
  top: -2px;
  transform: rotate(-45deg) scaleY(0.5);
}

#logs-filter .checkbox {
  display: inline-block;
  margin-right: 15px;
}

.offlines {
  color: $evercam-red;
}

.onlines {
  color: $green;
}

.datetimepicker {
  font-size: 12px;
  width: 123px;
}

.padding-right15 {
  padding-right: 15px;
}

.margin-top-bottom10 {
  margin: 10px 0px;
}

.min-width200 {
  min-width: 200px;
}

.btn-setting {
  height: 30px;
  padding: 4px 6px;
  font-size: 14px;
}

.info-panel table {
  font-size: 12px;
}

.padding-right-left-10 {
  padding: 0 5px;
}

.info-panel table.dataTable thead > tr > th {
  padding-left: 0px;
}

table.dataTable tbody td {
  padding-left: 0px;
}
