#logs {
  .checkbox-inline {
    padding-left: 0 !important;
  }
}
#apply-types {
  margin: 20px 0px;
}

.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-top: 4px;
}
@media (max-width: 480px) {
  .checkbox-list {
    padding-left: 35px;
  }
}

[id^=uniform-type-] {
  display: none !important;
}

#logs-filter .checkbox .chk-span {
  border: 1px solid #aaaaaa;
  color: #aaaaaa;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 14px;
  margin: 5px 10px 10px 1px;
  outline-color: #eaeaea;
  padding: 0;
  position: relative;
  top: 0;
  transition: all 0.2s ease-in-out 0s;
  width: 14px;
  z-index: 1;
}

#logs-filter .checkbox .chk-span.checked {
  border-bottom-color: #428bca;
  border-left-color: #428bca;
}
#logs-filter .checkbox .chk-span.checked {
  border-color: transparent transparent #428bca #428bca;
  border-style: solid;
  border-width: 1px 1px 4px 2px;
  top: -2px;
  transform: rotate(-45deg) scaleY(0.5);
}

#logs-filter .checkbox {
  display: inline-block;
  margin-right: 15px;
}
