#motion .portlet.solid.bordered > .portlet-title {
  margin-bottom: 5px;
  border-bottom: 1px solid $white;
}
#motion .portlet.solid {
  overflow-x: hidden;
  background-color: $white;
  padding: 0px;

  #refresh-motion {
    padding: 0px 2px 2px;
  }
}

#motion .table-borderless td {
  line-height: 1.2 !Important;
  padding: 6px 2px !important;
}

#motion .table {
  margin-bottom: 5px;
}

#motion .help-block {
  font-size: 12px;
  background: none;
}

#motion .table>tbody>tr>td {
  padding: 1px 2px;
}

#motion .table>thead>tr>th {
  padding: 0px 0 4px;
}

#motion {
  border: none;
  width: 100%;
  height: auto;
}

#motion {
  td:first-child {
    color: #666666;
  }

  .fa-trash-o {
    color: $main-color;
    cursor: pointer;
    margin-left: 0.5em;
  }
}

#motion .checker {
  display: none !important;
}

#motion .radio, .checkbox {
  margin-bottom: 0;
  margin-top: 0;
}

#motion .checkbox .chk-span {
  border: 1px solid #aaaaaa;
  color: #aaaaaa;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 14px;
  margin: 3px 10px 10px 1px;
  outline-color: #eaeaea;
  padding: 0;
  position: relative;
  top: 0;
  transition: all 0.2s ease-in-out 0s;
  width: 14px;
  z-index: 1;
}

#motion .checkbox .chk-span.checked {
  border-bottom-color: #428bca;
  border-left-color: #428bca;
}
#motion .checkbox .chk-span.checked {
  border-color: transparent transparent #428bca #428bca;
  border-style: solid;
  border-width: 1px 1px 4px 2px;
  top: -2px;
  transform: rotate(-45deg) scaleY(0.5);
}

#motion .checkbox {
  display: inline-block;
  margin-right: 15px;
}

button#save-email-settings {
  margin-left: 7px;
}

#add-md-email .btn-default {
  padding: 5px 13px;
}

#email-alert-settings-modal .padding-left-0 {
  padding-left: 0;
}

#email-alert-settings-modal .email-box {
  margin-bottom: 4px;
}

.remove-md-email {
  font-size: 20px;
  cursor: pointer;
}

.imgareaselect-border1 {
  border: 3px dashed #ff0000 !important;
  background: none !important;
}

.imgareaselect-border2 {
  border: 3px dashed #ff0000 !important;
  background: none !important;
}

.imgareaselect-border3 {
  border: 3px dashed #ff0000 !important;
  background: none !important;
}

.imgareaselect-border4 {
  border: 3px dashed #ff0000 !important;
  background: none !important;
}

#reset-time {
  width: 50% !important;
  display: inline-block !important;
}

.slider.slider-horizontal{
  width: 50% !important;
}

.alert {
  margin-bottom: 0px !important;
}

#save-md-settings {
  float: right;
  margin-right: 2em !important;
  display: inline-block;
}

#motion-toggle,#alert-toggle {

  .toggle .toggle-control {
    -webkit-transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: 0.05s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    width: 3.2em;
    height: 1.5em;
    display: inline-block;
    border: 2px solid #8E8E93;
    border-radius: 0.8em;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    cursor: pointer;
  }

  .toggle .toggle-control::after {
    -webkit-transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: 0.05s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    content: "";
    width: 1em;
    height: 1.15em;
    display: inline-block;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 3px 2px rgba(0, 0, 0, 0.4);
    position: relative;
    top: 0;
    left: -1em !important;
    cursor: pointer;
  }

  .toggle input {
    display: none;
  }

  .toggle input:checked + .toggle-control {
    border-color: #428bca;
    background-color: #428bca;
  }

  .toggle input:checked + .toggle-control::after {
    left: 1em !important;
  }

  .label {
    position: relative;
    width: 100px;
    padding-left: 1em;
    top: 0.3em;
  }
}

tr#email {

  #md-alert-email {
    display: inline-block;
    width: 50%;
  }

  #save-email {
    float: right;
    margin-right: 2em !important;
    display: inline-block;
  }
}
