#shares a {
  text-decoration: none;
}

#shares h5 {
  margin-top: 0px;
}

#shares .gravatar {
  border-radius: 50%;
  max-width: 30px;
}

#shares .font-size-17 {
  font-size: 17px;
}

#shares .gravatar-placeholder {
  display: inline-block;
  vertical-align: top;
}

#shares .username-id {
  display: inline-block;
  line-height: 1;
  margin-top: 2px;
}

#shares .username-id-margin {
  display: inline-block;
  line-height: 1;
  margin-left: 3px;
  margin-top: 2px;
}

#shares .reveal {
  padding: 6px 12px 6px 0px;
}

#transfer {
  display: block;
}
#sharing_list_table {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#sharing_list_table .form-control {
  border: none;
  color:$main-color;
  background-color: $white;
  font-size: 15px;
}

#change_owner input {
  width: 300px;
  margin: 10px 0 0;
}
input#new_owner_email {
  min-width: 250px;
  font-size: 15px;
}
.note-link {
  font-size: 12px;
  border-left: 2px solid $main-color;
  padding: 3px 8px;
  background-color: #f9f9f9;
  clear:both;
  float: left;
  margin-top: 8px;
}
#shares .radio-inline + .radio-inline {
  margin-left: 0;
}
#shares .radio-inline{
  padding-left: 0;
  height: 36px;
}

.table-bordered-top {
  border-bottom:1px solid $main-grey;
}
#shares .table > tbody > tr > td {
  vertical-align: middle;
}
#shares small {
  color:#a0a0a0;
}
.sharing {
  margin-top: -9px;
}
.modal-footer {
  text-align: left;
}
.delete-share-control {
  cursor: pointer;
}
span.delete-share-control, span.delete-share-request-control, span.resend-share-request {
  color:$main-color;
}
span.delete-share-control:hover, span.delete-share-request-control:hover, span.resend-share-request:hover {
  color:#2a6496;
}

#shares .form-horizontal .control-label {
  text-align: left;
  margin-left: -10px;
  padding-right: 0px;
}
#shares .form-group {
  margin-bottom: 0;
}
#myModal .form-group {
  margin-left: -16px;
  margin-top: 10px;
}

.glyphicon-remove {
  margin-right: 5px;
}
.delete-share-request-control, .resend-share-request {
  margin-top: 4px;
  cursor: pointer;
}
#shares .radio input[type="radio"] {
  width: 20px;
}
#shares .radio {
  min-height:24px;
}
.share-section {
  margin-bottom: 15px;
}
#sharing-user-email {
  min-width: 220px;
}
#sharing-message {
  min-width: 500px;
}
#sharing-user-email, #sharing-message {
  width:100%;
  margin-top: 1px;
  background-color: $white;
}
.email-input {
  float: left;
}
.glyphicon-remove {
  cursor: pointer;
}

#shares .note.note-info {
  margin-top: -20px;
}
.modal-body {
  overflow: auto;
}

.desc {
  padding: 18px 5px 10px;
}
#shares i {
  margin-right: 4px;
}
.change {
  margin-left: 30px;
}
td.owner-email {
  height: 51px;
}

td .share-camera {
  padding-left: 5px;
}
.add-user  {
  background-color: $secondary-grey;
}
.share {
  font-family: $bold-family;
  float: left;
  margin: 0px;
  margin-right: 15px;
}

@media (max-width: 767px) {

  td.email,
  th.email,
  tr.share-request {
    display: none !important;
  }

  .email-input {
    float: left;
    width: 100%;
    .input-group{
      width: 100%;
    }

    #sharing-message{
      min-width: 0;
    }
  }
}

@media (max-width: 480px) {
  td.share-by,
  th.share-by {
    display: none !important;
  }
}
