  .tab-content #recordings {
    margin: 0px -15px;
  }

  #recording-tab {
    .ui-datepicker-trigger {
      float: right;
      right: 0%;
      margin-right: 2px;
      width: 31px;
      border: none;
      background: $black-opacity-background;
      position: absolute;
      font-size: 20px;
      z-index: 999999999;
      border-radius: 0px !important;

      i {
        color: $white;
        margin-top: 0px;
      }
    }

    .ui-snapshot-magnifier {
      float: right;
      right: 0%;
      margin-right: 33px;
      font-size: 20px;
      width: 31px;
      border: none;
      background: $black-opacity-background;
      position: absolute;
      z-index: 999999999;
      border-radius: 0px !important;

      i {
        color: $white;
        margin-top: 0px;
      }
    }

    .ui-snapshot-magnifier:active,
    .ui-datepicker-trigger:active,
    .ui-snapshot-magnifier:focus,
    .ui-datepicker-trigger:focus {
      outline: none;
    }

    .enabled .magnifier-icon {
      color: $hover-blue;
    }

    #imgPlayback {
      border: none;
    }
    .playback-slider-outer {
      margin-top: 0px;
    }
    .playback-buttons-bar {
      background-color: #f5f5f5;
    }
    .snapshot-date {
      position: absolute;
      right: 10px;
    }
  }

  .playback-buttons-bar {
    text-align: center;
    width: 100%;
  }

  td.active.day.has-snapshot {
    text-shadow: none;
  }
  #recording-tab,  {
    input {
      font-size: 16px;
    }
    .no-snapshot {
      color: #666;
    }
    .has-snapshot {
      color: #428bca;
      font-family: proxima-nova-bold;
      font-weight: bold;
    }

    .table-condensed > tbody > tr > td {
      padding: 0px;
      border-radius: 0px;
    }

    .datepicker td {
      width: 25px;
      height: 25px;
    }

    .setting-heading {

      .btn {
        padding: 4px 12px;
        border: 1px solid $hover-blue;
        margin-left: 5px;
        margin-right: 5px;
      }

      .info-icon {
        font-size: 12px;
        position: relative;
        margin-left: 6px;
        top: 6px;
        color: $white;
      }

      .show-image-info {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50px;
      }
    }

    .modal-dialog .schedule-cancel {
      border: 1px solid $border-black;
    }

    .btn-padding-tab {
      padding: 9px 14px !important;
    }
    .table-condensed tbody {
      background-color:#fff;
      border: none;
    }
    thead {
      background-color: #f6f6f6;
      border: 1px solid #e5e5e5;
    }

  }

.info-schedule .width-250 {
  max-width: 220px;
  min-width: 220px;
  position: absolute;
  margin-top: -300px;
}

.modal-backdrop.fade.in {
  display: none;
}

.font-size-12 {
  font-size: 12px;
}

.datepicker table {

  width: 100%;

  tr td.disabled {
    opacity: 0.5;
  }

  tr td.disabled:hover {
    background-color: transparent;
    color: $calendar-text-color;
  }
}

  #btnFRwd i, #btnFFwd i {
    font-size: 16px;
  }
  #btnRwd i, #btnFwd i {
    font-size: 14px;
    margin-top: 3px;
  }

  #btnPlayRec {
    padding-top: 2px;
  }

  .left-column {
    float: left;
    margin-bottom: 5px;
    padding-right: 5px;
    width: 80%;
  }
  .right-column {

    float: left;
    vertical-align: top;
    width: 220px;

    .datepicker-bg {
      background-color: $calendar-background;
    }

    .datepicker-day {
      background-color: $white;
    }
  }

  .time-div {
    background-color: rgba(238, 238, 238, 0.8);
    color: #000000;
    margin-top: -10px;
    position: relative;
    height: 11px;
  }

  @media (max-width: 480px) {
    .left-column {
      margin-bottom: 10px;
      padding-left: 0;
      padding-right: 15px;
      width: 100%;
    }
    .right-column {
      padding-left: 0;
    }

  }

  #snapshot-notes {
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.75);
    border: 0px;
    color: #fff;
    padding: 11px;
    transition: all 0.4s ease;
  }

  .snapshot-info:hover + #snapshot-notes {
    opacity: .75;
    transition: all 0.4s ease;
  }
  .snapshot-info-i .icon-info {
    font-size: 22px;
  }
  .snapshot-info {
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: $white;
    opacity: 0;
    transition: all .2s linear;
    z-index: 10000000000;
  }
  .snapshot-info-i {
    float: left;
    background: rgba(0, 0, 0, .65);
    padding: 7px 8px 4px 9px;
    border-radius: 50% !Important;
    margin-right: 5px;
    cursor: pointer;
    transition: all .2s linear;
  }

  #fullscreen:hover .snapshot-info,
  #fullscreen:hover .btn-live-player,
  #tr_fullscreen:hover .play-options {
    opacity: 1;
  }

  .snapshots {
    position: relative;
    overflow:hidden;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;

    .navbar-section {
      position: fixed;
      z-index: 2;
      bottom: 0;
      top: inherit;
      left: inherit;
      margin: 0px;
    }

    .slider {
      display: block;
    }

    .no-recording-message {
      background-color: $white;
      width: 100%;
      border-radius: 2px;
      box-sizing: border-box;
      color: $evercam-black;
      font-size: 16px;
      font-weight: 700;
      opacity: .80;
      padding: 12px;
      text-align: center;
      margin-top: 0px;
      position: absolute;
      z-index: 9999999;
    }
  }
  .snapshots i {
    color: #ffffff;
    cursor: pointer;
  }
  .tri-option {
    top: 18px;
    right: 15px;
    position: absolute;
    opacity: 1;
    cursor: pointer;
  }
  .menu-right.menu-open .tri-option {
    opacity: 0;
  }

  .top{top:0}

  .right{right:0;}
  .float-right {
    float: right;
  }

  .snapshot-menu-bar li i {
    margin: 24px auto;
    display: block;
  }
  .snapshot-menu-bar a:hover {
    text-decoration: none;
  }
  .snapshot-menu-bar {
    background: #428bca;
    position: fixed;
    width: 60px;
    height: 100%;
    top: 0;
    z-index: 1000;
    border: 1px solid transparent;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  .snapshot-menu-bar-2 {
    background: #68A2D5;
  }

  .loader-bg{
    background: asset-url("trans-grey.png") 0px;
    display: none;
    left: 2px;
    position: absolute;
    top: 2px;
    z-index: 1;
  }

  .playback-slider-outer{
    width: 100%;
    height: 1.12em;
    cursor: pointer;
    margin-top: 2px;
    background: #8cbae3 repeat-x -2px 0px;
  }

  .playback-slider-inner{
    background: #458cc7 repeat-x -2px 0px;
    width: 0px;
    height: 1.12em;
    float: left;
    position: relative;
  }

  .ui-slider-recordings{
    background: asset-url("p1.gif");
    height:1.12em;
  }

  .clear-f{
    clear: both;padding: 0px;margin: 0px;
  }

  .date-time {
    position: absolute;
    right:10px;
  }
  .playback-datepicker{
    border: solid 1px #999999;
  }

  .playback-info-bar {
    text-align: center;
    margin: 0;
    padding: 9.5px 0;
    background-color: $ever-background;
    position: relative;
  }

  .playback-buttons-padding {
    padding: 9.5px 0;

    .btn-group {
      padding: 0px 6px;
    }

  }

  #show-info {
    display: none;
  }

@media (max-width: 975px) {

  .tab-content #recordings {
    margin: 0px -14px;
  }

}

  @media (max-width: 480px) {

    .tab-content #recordings {
      min-height: 600px;
      margin: 0 0 0 -14px;

      .playback-info-bar {
        font-size: 14px;
      }

      #show-info {
        margin-top: -45px;
      }

      #snapshot-notes-text {
        font-size: 14px;
      }
    }

    .playback-info-bar {
      margin: 0px 0px;
      background-color: #34393d;
      position: relative;
      height: 30px;
      padding: 6px 0;
      display: block;
    }
    #show-info {
      cursor: pointer;
      display: block;
      margin-top: -16px;
      position: absolute;
      right: 25px;
      z-index: 99999;
    }
    #show-info i.icon.icon-info {
      font-size: 18px;
      color: #fff;
      margin-top: -8px;
    }
  }

  .MDSlider-outer{
    background-color: #e2e2e2;
    border: 0px solid #b6b6b6;
    height: 75px;
    padding: 0px;
  }

  .MDSlider{
    overflow-y: hidden;
    overflow-x: scroll;
    height: 74px;
  }

  .MDSlider::-webkit-scrollbar {
    border-radius: 3px;
    height: .5em;
  }

  #divSliderMD ul, ol{
    margin-top: 5px;
    padding-left: 3px;
  }

  #MDSliderItem li{
    cursor: pointer;
    font-size: 10px;
    float: left;
    list-style: none;
    padding-left: 1.6px;
    text-align: center;
    color: #2a6496;
  }

  .md-Img {
    background-image: asset-url("metronic/input-spinner.gif");
    background-position: center center;
    background-repeat: no-repeat;
  }

  .label-noMD{
    position: relative;
    text-align: center;
    top: 30px;
    width: 100%;
    z-index: 100;
  }

  #divPopup{
    position: absolute;
    text-align: center;
    display: none;
    background-color: #FFFFE1;
    border: 1px solid #000000;
    font-size: 8pt;
    padding-left: 3px;
    padding-right:3px;
    z-index: 1000001;
  }

  .datepicker-bg{
    background-color: #fff;
    display: block;
  }

  @media (max-width: 845px) {
    .datepicker-bg {
      background-color: #fff;
      float: left;
      margin: 0 auto;
      margin-right: 15px;
      width: 100%;
    }
    .datepicker-inline, .datepicker table {
      width: 100%;
    }
    .left-column {
      margin-bottom: 10px;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }

  .datepicker{
    border: 1px solid #efefef;
    font-size: 12px;
  }

  .table-condensed th {
    font-size: 14px;
  }

  .table-condensed tbody{
    border: 1px solid #dddddd;
    background-color: #f6f6f6;
  }

  @media screen and (max-height: 26.375em){

    .snapshot-menu-bar {
      font-size: 90%;
      width: 190px;
    }

    .menu-left,
    .menu-push-toleft {
      left: -190px;
    }

    .menu-right {
      right: -190px;
    }

    .menu-push-toright {
      left: 190px;
    }
  }
  .snapshots:hover .snapshot-sidebar {
    opacity: 1;
  }
  @media (max-width: 480px) {
    #recordings {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  /*Update stylesheet*/
  #recording-tab {
    .grey.btn:hover {
      background-color: #f5f5f5;
    }
    #imgPlayback {
      border: none;
    }
    .playback-slider-outer {
      margin-top: 0;
    }
    .playback-buttons-bar {
      background-color: $ever-background;
    }
    .snapshot-date {
      position: absolute;
      right: 10px;
    }
    @media (max-width: 480px) {
      .snapshot-date {
        left: 0;
        right: 0;
      }

      .playback-info-bar {
        text-align: center;
      }

      .snapshot-frame {
        float: left;
        left: 7px;
        position: absolute;
        top: 6px;
      }
      .datepicker {
        left: 0;
        margin-bottom: 10px;
        margin: 0 auto;
        right: 0;
        width: 99%;
      }
      .table-condensed {
        width: 100%;
      }
      .datepicker.datepicker-bg.datepicker-inline.show {
        margin-bottom: 10px;
        width: 100%;
      }
      .datepicker-inline, .datepicker table {
        width: 100%;
      }
      div#LblRecordedStatus {
        bottom: -51px;
        display: none;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
      }
    }
  }

  #snapshot-notes-text {
    display: block;
    margin-top: 8px;
    padding-left: 10px;
    position: absolute;
    z-index: 10;
  }

  @media (max-width: 480px) {
    #snapshot-notes-text {
      background: rgba(52, 57, 61, 0.7);
      color: #fff;
      margin-top: -26px;
      padding: 4px 8px;
      transition: all 1s ease-in-out;
      width: 100%;
    }

    #recording-tab {

      .ui-datepicker-trigger {
        display: none !important;
      }

      .ui-snapshot-magnifier {
        margin-right: 3px;
      }
    }
  }

  @media (max-width: 600px) {
    #snapshot-notes-text {
      background: rgba(52, 57, 61, 0.7);
      color: #fff;
      margin-top: -26px;
      padding: 4px 8px;
      transition: all 1s ease-in-out;
      width: 100%;
      position: relative;
    }
    .playback-info-bar {
      text-align: left;
      margin-top: 0px;
    }
  }

  #recording-toggle {
    margin-bottom: 5px;
  }

  #cloud-recording-calendar th {
    font-size: 1.2em;
  }

  #cloud-recording-calendar table {
    font-size: 0.8em;
  }

  #cloud-recording-calendar .fc-toolbar,
  #cloud-recording-calendar .fc-content {
    display: none;
  }

  #cloud-recording-calendar .fc-axis {
    text-align: center;
  }

  #cloud-recording-calendar{
    overflow-y: hidden;
    position: relative;
    &.open{
      max-height: 100%;
      overflow-y: inherit;
      position: relative;
      #cloud-recording-collaps{
        display: none;
        width: 100%;
        padding: 5px 0;
        text-align: center;
        position: relative;
        bottom: 0;
        z-index: 99;
      }
    }
  }


  #cloud-recording-calendar.open span.glyphicon-chevron-down{
      transform: rotate(-180deg);
    }

  #cloud-recording-collaps{
    display: none;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    z-index: 99;
    transition: 0.5s;
    background: rgba(246, 246, 246, 1);
    background: -moz-linear-gradient(top, rgba(246, 246, 246, 0.7) 0%, rgba(246, 246, 246, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(246, 246, 246, 0.7) 0%, rgba(246, 246, 246, 1) 100%);
    background: -o-linear-gradient(top, rgba(246, 246, 246, 0.7) 0%, rgba(246, 246, 246, 1) 100%);
    background: -ms-linear-gradient(top, rgba(246, 246, 246, 0.7) 0%, rgba(246, 246, 246, 1) 100%);
    background: linear-gradient(to bottom, rgba(246, 246, 246, 0.7) 0%, rgba(246, 246, 246, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6f6f6", endColorstr="#f6f6f6", GradientType=0);
    span{
      color: #000;
      cursor: pointer;
    }
  }

.setting-schedule {
  display: block;
}

.margin-left-15 {
  margin-left: 15px;
}

.padding-left-5 {
  padding-left: 5px;
}

.schedule-label {
  font-size: 14px;
}

.margin-topbottom-10 {
  margin: 10px 0px;
}

.recording-heading {
  font-size: 16px;
  font-weight: bold;
}

.width-135 {
  width: 135px;
}

.width-100 {
  width: 100px;
}

.color-grey {
  color: $pop-up-text;
}

.no-display {
  display: none;
}

.select-schedule-presets {
  width: 74%;
}

@media (min-width: 768px) {

  .setting-schedule .modal-dialog {
    max-width: 575px;
  }
}

@media (max-width: 768px) {

  .select-schedule-presets {
    width: 66%;
  }
}

@media (max-width: 480px) {

  .select-schedule-presets {
    width: 175px;
  }
}

@media (max-width: 380px) {

  .select-schedule-presets {
    width: 100%;
  }
}

.button-prev-next {
  background-color: $background-gray;
  color: $evercam-black;
  padding: 3px;
}

.btn-style {
  width: 14px;
}

.change-view {
  float: right;
}

.float-left {
  float: left;
}

.calendarfull-wrap .fc-icon {
  padding: 3px;
  margin-top: 1px;
}

.margin-top-25 {
  margin-top: 25px;
}

.calendar-width {
  max-width: 600px;
}

.navbar-settings {

  span {
    color: $white;
  }

  .btn {
    color: $white;
  }

}

.fc-event .fc-bg {
  opacity: 0.5;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: $evercam-black;
}

.cloud-info span {
  font-size: 11px;
  margin-top: 1px;
}

.recording-text,
.old-new-snapshot-link {
  border: 1px solid $evercam-grey;
  padding: 5px;
  border-radius: 5px;
}

.fc-center-date {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.off-status {
  font-size: 12px;
  font-weight: bold;
}

.opacity-transparent {
  opacity: 0.2;
}

.img-loader-calendar2 {
  position: absolute;
  margin-top: 60px;
}

.center-gif {
  position: absolute;
  margin-top: 64px;
  margin-left: 100px;
}

.align-center {
  text-align: center;
}

.padding-none {
  padding: 0px;
}

.get-image {
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  color: $main-color;
}

.width-50 {
  width: 50%;
  float: left;
}

.border-right {
  border-right: 1px solid $main-grey;
}
