.tab-content #recordings {
  margin: -20px -14px;
}

#recording-tab {
  #imgPlayback {
    border: none;
  }
  .playback-slider-outer {
    margin-top: 0px;
  }
  .playback-buttons-bar {
    background-color: #f5f5f5;
  }
  .snapshot-date {
    position: absolute;
    right: 10px;
  }
}

.playback-buttons-bar {
  text-align: center;
  width: 100%;
}

td.active.day.has-snapshot {
  text-shadow: none;
}
#recording-tab,  {
  input {
    font-size: 16px;
  }
  .has-snapshot {
    color: #428bca;
    font-family: proxima-nova-bold;
    font-weight: bold;
  }
  .table-condensed > tbody > tr > td {
    padding: 0px;
  }
  .datepicker td {
    width: 25px;
    height: 25px;
    border-radius: 0;
  }
  .btn {
    padding: 9px 14px;
    border:none !important;
  }
  .btn-padding-tab {
    padding: 9px 14px !important;
  }
  .table-condensed tbody {
    background-color:#fff;
    border: none;
  }
  thead {
    background-color: #f6f6f6;
    border: 1px solid #e5e5e5;
  }
}

#btnFRwd i, #btnFFwd i {
  color: #777777;
  font-size: 16px;
}
#btnRwd i, #btnFwd i {
  color: #777777;
  font-size: 13px;
  margin-top: 3px;
}
#btnPauseRec i {
  color: #777777;
}

#btnPlayRec {
  padding-top: 2px;
}

.left-column {
  float: left;
  margin-bottom: 20px;
  padding-right: 10px;
  width: 80%;
}
.right-column {
  float: left;
  vertical-align: top;
  width: 220px;
}

@media (max-width: 480px) {
  .left-column {
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .right-column {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

#snapshot-notes {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.75);
  border: 0px;
  color: #fff;
  padding: 11px;
  transition:all 0.4s ease;
}

.snapshot-info:hover + #snapshot-notes {
  opacity: .75;
  transition:all 0.4s ease;
}
.snapshot-info-i .icon-info {
  font-size: 22px;
}
.snapshot-info {
  position: absolute;
  bottom: 4px;
  right: 4px;
  color: $white;
  opacity: 0;
  transition: all .2s linear;
  z-index: 10000000000;
}
.snapshot-info-i {
  float: left;
  background: rgba(0, 0, 0, .65);
  padding: 7px 8px 4px 9px;
  border-radius: 50% !Important;
  margin-right: 5px;
  cursor: pointer;
  transition: all .2s linear;
}

#fullscreen:hover .snapshot-info,
#fullscreen:hover .btn-live-player {
  opacity: 1;
}

.snapshots {
  position: relative;
  overflow:hidden;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
.snapshots i {
  color:#ffffff;
  cursor: pointer;
}
.tri-option {
  top:18px;
  right:15px;
  position: absolute;
  opacity: 1;
  cursor: pointer;
}
.menu-right.menu-open .tri-option {
  opacity: 0;
}

.top{top:0}

.right{right:0;}
.float-right {
  float: right;
}

.snapshot-menu-bar li i {
  margin: 24px auto;
  display:block;
}
.snapshot-menu-bar a:hover {
  text-decoration: none;
}
.snapshot-menu-bar {
  background: #428bca;
  position: fixed;
  width: 60px;
  height: 100%;
  top: 0;
  z-index: 1000;
  border:1px solid transparent;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.snapshot-menu-bar-2 {
  background: #68A2D5;
}

.loader-bg{
  left: 2px;
  top: 2px;
  position: absolute;
  display: none;
  background: asset-url('trans-grey.png') 0px;
}

.playback-slider-outer{
  width:100%;
  height:1.12em;
  cursor:pointer;
  margin-top:2px;
  background:#8cbae3 repeat-x -2px 0px;
}

.playback-slider-inner{
  background:#458cc7 repeat-x -2px 0px;
  width:0px;
  height:1.12em;
  float:left;
  position:relative;
}

.ui-slider-recordings{
  background: asset-url('p1.gif');
  height:1.12em;
}

.clear-f{
  clear: both;padding: 0px;margin: 0px;
}

.date-time {
  position: absolute;
  right:10px;
}
.playback-datepicker{
  border:solid 1px #999999;
}

.playback-info-bar {
  text-align: center;
  margin: 0;
  padding: 8px 0;
  background-color: #f3f3f3;
  position: relative;
}

.playback-buttons-padding {
  padding: 8px 0;
}

#show-info {
  display: none;
}

@media (max-width: 480px) {
  #recordings {
    min-height: 600px;
    .playback-info-bar {
      font-size: 14px;
    }
    #show-info {
      margin-top: -45px;
    }
    .btn {
      font-size: 15px !Important;
    }
    #snapshot-notes-text {
      font-size: 14px;
    }
  }

  .playback-info-bar {
    margin: 0px 0px;
    background-color: #34393d;
    position: relative;
    height: 30px;
    padding: 6px 0;
    display: block;
    color: #fff;
  }
  #show-info {
    cursor: pointer;
    display: block;
    margin-top: -16px;
    position: absolute;
    right: 25px;
    z-index: 99999;
  }
  #show-info i.icon.icon-info {
    font-size: 18px;
    color: #fff;
    margin-top: -8px;
  }
}

.width100{
  width: 100%;
}

.MDSlider-outer{
  background-color: #e2e2e2;
  border: 1px solid #b6b6b6;
  max-width: 66em;
  height: 105px;
  padding: 5px 10px;
}

.MDSlider{
  max-width: 66em;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 93px;
}

#divSliderMD ul, ol{
  margin: 0;
}

#MDSliderItem li{
  width: 75px;
  height: 85px;
  font-size: 10px;
  text-align: center;
  list-style: none;
  padding-right: 5px;
  float: left;
  cursor: pointer;
}

.label-noMD{
  position:relative;
  top:30px;
  text-align:center;
  width:100%;
  z-index:100;
}

#divPopup{
  position: absolute;
  text-align: center;
  display: none;
  background-color: #FFFFE1;
  border: 1px solid #000000;
  font-size: 8pt;
  padding-left: 3px;
  padding-right:3px;
  z-index: 1000001;
}

.datepicker-bg{
  background-color: #fff;
}

@media (max-width: 845px) {
  .datepicker-bg {
    background-color: #fff;
    float: left;
    margin: 0 auto;
    margin-right: 15px;
    width: 100%;
  }
  .datepicker-inline, .datepicker table {
    width: 100%;
  }
  .left-column {
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

.datepicker{
  border: 1px solid #efefef;
  font-size: 12px;
}

.table-condensed th {
  font-size: 14px;
}

.table-condensed tbody{
  border: 1px solid #dddddd;
  background-color: #f6f6f6;
}

@media screen and (max-height: 26.375em){

  .snapshot-menu-bar {
    font-size: 90%;
    width: 190px;
  }

  .menu-left,
  .menu-push-toleft {
    left: -190px;
  }

  .menu-right {
    right: -190px;
  }

  .menu-push-toright {
    left: 190px;
  }
}
.snapshots:hover .snapshot-sidebar {
  opacity: 1;
}
@media (max-width: 480px) {
  #recordings {
    margin-left: -20px;
    margin-right: -20px;
  }
}

/*Update stylesheet*/
#recording-tab {
  .grey.btn:hover {
    background-color: #f5f5f5;
  }
  #imgPlayback {
    border: none;
  }
  .playback-slider-outer {
    margin-top: 0;
  }
  .playback-buttons-bar {
    background-color: #f5f5f5;
  }
  .snapshot-date {
    position: absolute;
    right: 10px;
  }
  @media (max-width: 480px) {
    .snapshot-date {
      left: 0;
      right: 0;
    }

    #recording-toggle{
      display: none;
    }

    .playback-info-bar {
      text-align: center;
    }

    .snapshot-frame {
      float: left;
      left: 7px;
      position: absolute;
      top: 6px;
    }
    .datepicker {
      left: 0;
      margin-bottom: 10px;
      margin: 0 auto;
      right: 0;
      width: 99%;
    }
    .table-condensed {
      width: 100%;
    }
    .datepicker.datepicker-bg.datepicker-inline.show {
      margin-bottom: 10px;
      width: 100%;
    }
    .datepicker-inline, .datepicker table {
      width: 100%;
    }
    div#LblRecordedStatus {
      bottom: -51px;
      display: none;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
    }
  }
}

#snapshot-notes-text {
  display: block;
  margin-top: 8px;
  padding-left: 10px;
  position: absolute;
  z-index: 10;
}

@media (max-width: 480px) {
  #snapshot-notes-text {
    background: rgba(52, 57, 61, 0.7);
    color: #fff;
    margin-top: -26px;
    padding: 4px 8px;
    transition: all 1s ease-in-out;
    width: 100%;
  }
  .mobile-hide {
    display: none;
  }
}

@media (max-width: 600px) {
  #snapshot-notes-text {
    background: rgba(52, 57, 61, 0.7);
    color: #fff;
    margin-top: -26px;
    padding: 4px 8px;
    transition: all 1s ease-in-out;
    width: 100%;
    position: relative;
  }
  .mobile-hide {
    display: none;
  }

  .playback-info-bar {
    text-align: left;
  }
}

@media (max-width: 975px) {
  .tab-content #recordings {
    margin: 0px -14px;
  }
}

#recording-toggle {
  margin-bottom: 5px;
}

#cloud-recording-calendar th {
  font-size: 1.2em;
}

#cloud-recording-calendar table {
  font-size: 0.8em;
}

#cloud-recording-calendar .fc-toolbar,
#cloud-recording-calendar .fc-content {
  display: none;
}

#cloud-recording-calendar .fc-axis {
  text-align: center;
}
