// Place all the styles related to the live controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vjs-default-skin .vjs-play-control {
  height: 3em;
}
.vjs-default-skin .vjs-fullscreen-control {
  height: 3em;
  margin-right: 5px;
}
.vjs-default-skin .vjs-volume-control {
  margin-right: 10px;
}
.video-js {
  padding-top: 56.25%;
}