.tab-content #timelapse-recordings {
  margin: 0px -15px;
}

#timelapse-recording-tab {
  .ui-datepicker-trigger {
    float: right;
    right: 0%;
    margin-right: 2px;
    font-size: 20px;
    border: none;
    background: $black-opacity-background;
    position: absolute;
    z-index: 1;
    border-radius: 0px !important;

    i {
      color: $white;
      margin-top: 0px;
    }
  }

  .ui-snapshot-magnifier {
    float: right;
    right: 0%;
    margin-right: 30px;
    font-size: 20px;
    border: none;
    background: $black-opacity-background;
    position: absolute;
    z-index: 1;
    border-radius: 0px !important;

    i {
      color: $white;
      margin-top: 0px;
    }
  }

  .ui-snapshot-magnifier:active,
  .ui-datepicker-trigger:active,
  .ui-snapshot-magnifier:focus,
  .ui-datepicker-trigger:focus {
    outline: none;
  }

  .magnifier-icon {
    color: $white;
  }

  .enabled .magnifier-icon{
    color: $hover-blue;
  }

  #tr_calendar .fa {
    color: white;
    margin-top: 0px;
  }

  #tr_imgPlayback {
    border: none;
  }
  .playback-slider-outer {
    margin-top: 0px;
  }
  .playback-buttons-bar {
    background-color: #f5f5f5;
  }
  .snapshot-date {
    position: absolute;
    right: 10px;
  }

  input {
    font-size: 16px;
  }
  .no-snapshot {
    color: #666;
  }
  .has-snapshot {
    color: #428bca;
    font-family: proxima-nova-bold;
    font-weight: bold;
  }

  .table-condensed > tbody > tr > td {
    padding: 0px;
    border-radius: 0px;
  }

  .datepicker td {
    width: 25px;
    height: 25px;
  }

  .setting-heading .btn {
    padding: 5px 12px;
    border: 1px solid $hover-blue;
    margin-left: 5px;
  }

  .modal-dialog .schedule-cancel {
    border: 1px solid $border-black;
  }

  .btn-padding-tab {
    padding: 9px 14px !important;
  }
  .table-condensed tbody {
    background-color:#fff;
    border: none;
  }
  thead {
    background-color: #f6f6f6;
    border: 1px solid #e5e5e5;
  }

  .playback-buttons-bar {
    background-color: $ever-background;
  }
}

.tr-popup{
  position: absolute;
  text-align: center;
  display: none;
  background-color: #FFFFE1;
  border: 1px solid #000000;
  font-size: 8pt;
  padding-left: 3px;
  padding-right:3px;
  z-index: 1000001;
}

  #tr-recording-calendar th {
    font-size: 1.2em;
  }

  #tr-recording-calendar table {
    font-size: 0.8em;
  }

  #tr-recording-calendar .fc-toolbar,
  #tr-recording-calendar .fc-content {
    display: none;
  }

  #tr-recording-calendar .fc-axis {
    text-align: center;
  }

  #tr-recording-calendar{
    overflow-y: hidden;
    position: relative;
    &.open{
      max-height: 100%;
      overflow-y: inherit;
      position: relative;
      #tr-recording-collaps{
        display: none;
        width: 100%;
        padding: 5px 0;
        text-align: center;
        position: relative;
        bottom: 0;
        z-index: 99;
      }
    }
  }


  #tr-recording-calendar.open span.glyphicon-chevron-down{
      transform: rotate(-180deg);
    }

  #tr-recording-collaps{
    display: none;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    z-index: 99;
    transition: 0.5s;
    background: rgba(246, 246, 246, 1);
    background: -moz-linear-gradient(top, rgba(246, 246, 246, 0.7) 0%, rgba(246, 246, 246, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(246, 246, 246, 0.7) 0%, rgba(246, 246, 246, 1) 100%);
    background: -o-linear-gradient(top, rgba(246, 246, 246, 0.7) 0%, rgba(246, 246, 246, 1) 100%);
    background: -ms-linear-gradient(top, rgba(246, 246, 246, 0.7) 0%, rgba(246, 246, 246, 1) 100%);
    background: linear-gradient(to bottom, rgba(246, 246, 246, 0.7) 0%, rgba(246, 246, 246, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6f6f6", endColorstr="#f6f6f6", GradientType=0);
    span{
      color: #000;
      cursor: pointer;
    }
  }
