.tab_timelapse {
  background-color: $white;

  .nav-tabs {
    border-bottom: 0px;
    border-radius: 3px 3px 0 0;
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    border-bottom-color: $white;
    border-left: solid 1px $main-grey;
    border-right: solid 1px $main-grey;
    border-top: solid 1px $main-grey;
  }

  .video-js .vjs-big-play-button {
    border-radius: 1em !important;
    height: 1.6em;
    left: 50%;
    margin: -25px 0 0 -25px;
    top: 50%;
    width: 1.7em;
  }

  .vjs-big-play-button {
    margin-top: 0;
  }

  .card {
    border: solid 1px $main-grey;
    background: white;
    border-radius: 0 2px 2px 2px;
    font-weight: normal;
    overflow: auto;
    user-select: none;
    animation: fly-in-from-left .5s 1s ease both;
    transform-origin: top left;
    padding: 1.5rem;
    margin-bottom: 30px;
    min-height: 565px !Important;
  }

  .card:nth-child(3n) {
    margin: 0rem 0rem 1rem 0rem;
  }

  .card:after {
    position: absolute;
    font-size: .9rem;
    top: 1.5rem;
    right: 1rem;
    border: thin solid gray;
    color: gray;
    width: 1rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 50%;
    pointer-events: none;
  }

  .card .snapstack {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    min-height: 100px;
    height: 280px;
    margin-bottom: 10px;
    overflow-y: hidden;
  }

  .card .snapstack-loading {
    width: 100%;
    height: 300px;
    text-align: center;
    vertical-align: middle;
    min-height: 100px;
    margin-bottom: 10px;
    overflow-y: hidden;
    background-image: asset-url('ajaxloader1.gif');
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card .snapstack-error {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    min-height: 100px;
    height: 280px;
    margin-bottom: 10px;
    overflow-y: hidden;
    background-image: asset-url('cams.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  .hash-label {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .camera-time {
    color: $form-medium-grey;
    font-size: 14px;
    height: 35px;
  }

  .margin-top-5 {
    margin-top: 5px;
  }

  .spn-label {
    color: $grey;
    float: left;
    margin-right: 5px;
    width: 112px;
  }

  .camera-name {
    color: $grey;
    font-size: 12px;
    margin-left: 5px;
  }

  .div-snapmail-values {
    float: left;
    width: 70%;
  }

  .timelapse-edit {
    color: $main-color;
    cursor: pointer;
    float: right;
    margin-right: 19px;
    margin-top: 0;
  }

  .timelapse-pause {
    color: $main-color;
    cursor: pointer;
    float: right;
    margin-right: 10px;
  }

  .green {
    color: green;
  }

  .btn-green {
    color: $white;
    background-color: $green;
    border-color: $green;
  }

  .btn-green:hover,
  .btn-green:focus,
  .btn-green:active,
  .btn-green.active {
    background-color: $green-hover;
    border-color: $green-hover;
  }

  .radio {
    min-height: 37px;
  }

  .radio-inline {
    padding-top: 0;
  }

  .padding-left0 {
    padding-left: 0;
  }

  .padding-top5 {
    padding-top: 5px;
  }

  .padding-bottom10 {
    padding-top: 10px;
    clear: both;
  }

  .txt-width {
    width: 90%;
    border-right: 0;
  }

  .header-bg{
    background-color: $white;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

  }

  .box-header-padding {
    background-color: $modal-grey;
    cursor: pointer;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .box-content-padding {
    clear: both;
    padding: 14px 28px 10px;
  }

  .tbl-tab {
    width: 100%;
    font-size: 14px;
    color: $form-dark-grey;
  }

  .timelapse-label {
    font-size: 18px;
    color: $form-dark-grey;
  }

  .timelapse-camera-name {
    font-size: 13px;
    color: $form-dark-grey;
  }

  .timelapse-label-status {
    font-size: 18px;
    color: $form-dark-grey;
    width: 25%;
    float: right;
  }

  .tbl-tab thead tr {
    border-bottom: 1px solid $light-grey;
  }

  .tbl-hd1 {
    width: 28%;
    text-align: left;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  .tbl-hd2 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  .video-bg-width{
    background-color: $evercam-black;
    width: 100%;
    height: 100%;
  }

  .timelapse-recordhd{
    float: left;
    width: 50%;
  }

  .timelapse-labelhd{
    float: left;
    width: 50%;
  }

  .camera-online {
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
  }

  .camera-offline {
    background-color: $evercam-red;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
  }

  .copy-to-clipboard {
    background-color: $secondary-grey;
    background-image: none;
    filter: none;
    border: 0;
    padding: 9px 6px 9px;
    margin-left: -4px;
    border-top: solid 1px $main-grey;
    border-right: solid 1px $main-grey;
    border-bottom: solid 1px $main-grey;
    border-left: 0;
    font-size: 14px;
    color: $form-dark-grey;
    cursor: pointer;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
  }

  .copy-to-clipboard:hover,
  .copy-to-clipboard:focus,
  .copy-to-clipboard:active,
  .copy-to-clipboard.active,
  .copy-to-clipboard[disabled],
  .copy-to-clipboard.disabled {
    color: $form-dark-grey;
    background-color: #d8d8d8;
  }

  .timelapse-content-box{
    border: 1px solid $light-grey;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    display: block;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 9.5px;
    word-break: break-all;
    word-wrap: break-word;
  }

  .table,
  .table > tbody > tr > td {
    border-top-width: 0px;
    border-color: transparent;
    vertical-align: middle;
  }

  .tab-a{
    text-decoration: none;
    font-weight: normal;
    color: $form-dark-grey;
  }

  .tab-a:hover{
    text-decoration: none;
    font-weight: normal;
    color: $form-dark-grey;
  }

  .tab-a:active{
    text-decoration: none;
    color: $form-dark-grey;
  }

  .tab-a:visited{
    text-decoration: none;
    font-weight: normal;
    color: $form-dark-grey;
  }

  .tab-a:link{
    text-decoration: none;
    color: $form-dark-grey;
  }

  .custom-file-upload {
    border: 1px solid $border-black;
    display: inline-block;
    padding: 0px 12px;
    height: 36px;
    cursor: pointer;
    width: 130px;
    font-size: 16px;
  }

  .custom-file-upload:hover,
  .custom-file-upload:focus,
  .custom-file-upload:active,
  .custom-file-upload.active {
    background-color: $form-grey;
  }

  .margin-top-9 {
    margin-top: 9px;
  }

  .range-input-field {
    min-width: 100px;
  }

  .width20 {
    width: 20px;
  }

  .min-width-140 {
    min-width: 140px;
  }

  .padding-right0 {
    padding-right: 0px;
  }

  .select2-container,
  .select2-container .select2-selection--single {
    height: 40px;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 5px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
  }
}

.timelapse-heading {
  font-size: 15px;
  font-family: "proxima-nova-bold", "Open Sans", Arial, Helvetica, sans-serif;
  margin-bottom: 6px;
  margin-top: 5px;
}

@media (min-width: 480px) {

  .min-width-325 {
    min-width: 325px;
  }
}
