<div class="page-container">
  <!-- sidebar menu start-->
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">

      <ul id="nav-accordion" class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
        <!--<li class="sidebar-toggler-wrapper">
          <div class="sidebar-toggler">
          </div>
        </li>-->
        <li>
          <a href="/"><i class="icon-camera"></i>My Cameras</a>
        </li>
        <li>
          <a class="public-cam" href="/publiccam"><i class="icon-map"></i>Public Cameras</a>
        </li>

        <li>
          <a href="/cameras/new"><i class="icon-plus"></i>Add Camera</a>
        </li>
        <li>
          <a href="javascript:;" class="active">
            <i class="icon-briefcase"></i><span class="title open">Developer <i class="fa fa-angle-down"></i></span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="/dev">
                API</a>
            </li>
            <li>
              <a href="/widgets" class="active">
                <span class="title open">Widgets <i class="fa fa-angle-down"></i></span>
              </a>
              <ul class="sub-menu">
                <li class="active">
                  <a href="/widgets-new">
                    Live View</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
  <!-- sidebar menu end-->
  <div class="page-content-wrapper">
    <div class="page-content">
      <!--main content start-->


      <script type="text/javascript">
        var cCode = "";
        var newImageUrl = "";
        var IsHover = false;
        var s = 0;
        function ShowCamImage(idimg, idmain, camstatus, CamCode) {
          return;
          $(this).delay();
          var p = $("#" + idmain);
          var position = p.position();
          $("#" + idimg).css("left", (position.left + 165) + "px");
          $("#" + idimg).css("top", position.top + "px");
          $("#" + idimg).slideDown(0);
          IsHover = true;
          s = setTimeout("callfunction('" + CamCode + "');", 3000);
        }
        function OnHoveChangeImg() {
          IsHover = true;
          s = setTimeout("callfunction('" + cCode + "');", 3000);
        }

        function callfunction(cameraCode) {
          var obj = { cameraCode: cameraCode };
          var jsonData = JSON.stringify(obj);
          $.ajax({
            type: "POST",
            url: "WebService/CameraWS2.asmx/GetLastSnapshot",
            data: jsonData,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            context: cameraCode,
            success: ChangeImageSuccess,
            error: ChangeImageError
          });
        }
        function ChangeImageSuccess(data, textStatus, XMLHttpRequest) {
          newImageUrl = data.d + "?" + Math.random();
          cCode = this;
          $("#imgLoadOnHover").attr("src", data.d+"?"+ Math.random());
          $('#imgLoadOnHover').onImagesLoad({
            selectorCallback: ChangeOnHoverImage
          });
        }
        function ChangeImageError(XMLHttpRequest, textStatus, errorThrown) {
          var obj = jQuery.parseJSON(XMLHttpRequest.responseText)
          //$("#ddd").html("An error occured: " + obj.Message);
        }
        function ChangeOnHoverImage() {
          $("#img" + cCode).attr("src", $("#imgLoadOnHover").attr("src"));
          /*if (IsHover)
           callfunction(cCode);*/
          if (IsHover)
            s = setTimeout("callfunction('" + cCode + "');", 3000);
          else
            clearTimeout(s);
        }

        function HideCamImage(id, camstatus, CamCode) {
          return;
          $("#" + id).slideUp(0);
          clearTimeout(s);
          IsHover = false;
          cCode = "";
        }

        function RedirectUrl(url) {
          window.location = url;
        }
        function RestartCamraFLeft(code, IsCallFun) {
          if (!IsCallFun)
            return;
          $.ajax({
            type: "POST",
            url: "/WebService/CameraWS2.asmx/RestartCamera",
            data: JSON.stringify({ cameraCode: code }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            context: { code: code },
            success: RestartCamraFLeftSuccess,
            error: function(XMLHttpRequest, textStatus, errorThrown) {/* alert(XMLHttpRequest.responseText);*/ }
          });
        }
        function RestartCamraFLeftSuccess(data, textStatus, XMLHttpRequest) {
          alert(this.code);
          if (data == "Active") {
            //cssclass = CheckAndGetClass("divStatus" + cameraCode);
            //$("#divStatus" + cameraCode).removeClass(cssclass).addClass("leftmenu-itemon-img");
          }
          else if (data == "Paused") {
            //cssclass = CheckAndGetClass("divStatus" + cameraCode);
            //$("#divStatus" + cameraCode).removeClass(cssclass).addClass("leftmenu-itempau-img");
          }
          else if (data == "Offline") {
            //cssclass = CheckAndGetClass("divStatus" + cameraCode);
            //$("#divStatus" + cameraCode).removeClass(cssclass).addClass("leftmenu-itemoff-img");
          }
        }
      </script>


      <!--main content end-->


    </div>
  </div>
  <script>
    $(document).ready(function() {
      /** TODO - fix and move to widgets.js.coffee
       var copy_sel = $('.code-block a.code-copy');

       // Disables other default handlers on click (avoid issues)
       copy_sel.on('click', function(e) {
      e.preventDefault();
    });

       // Apply clipboard click event
       copy_sel.clipboard({
      path: '/path/to/flashes/jquery.clipboard.swf',

      copy: function() {
        var this_sel = $(this);

        // Hide "Copy" and show "Copied, copy again?" message in link
        this_sel.find('.code-copy-first').hide();
        this_sel.find('.code-copy-done').show();

        // Return text in closest element (useful when you have multiple boxes that can be copied)
        return this_sel.closest('.code-block').text();
      }
    });*/
    });
  </script>
<%= javascript_include_tag "widgets" %>