<!-- sidebar menu start-->
<aside>
  <div id="sidebar" class="nav-collapse">
    <div class="leftside-navigation">
      <ul class="sidebar-menu" id="nav-accordion">
        <li>
          <a href="/cameras/new"><span class="glyphicon glyphicon-plus"></span>Add IP Camera</a>
        </li>
        <li>
          <a class="active" href="/add-android"><span class="glyphicon glyphicon-plus"></span>Add Android Camera</a>
        </li>
        <li>
          <a href="/publiccam">Public Cameras</a>
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
            <span>My Cameras</span>
          </a>
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
            <span>My Shared Cameras</span>
          </a>
        </li>
      </ul></div>
  </div>
</aside>

<section id="main-content">
<section class="wrapper site-min-height">
<div class="col-md-12">
  <div class="col-md-12">
    <h3>Adding an Android Camera</h3>
  </div>
  <div class="col-md-11">
    <table class="table table-borderless">
      <tr>
        <td class="col-md-1">
          <strong>Step 1:</strong>
        </td>
        <td class="col-md-10">
          <p>Download and Install our App <a href="http://www.evercam.io/apps/evercam-capture" target="_blank">Evercam Capture</a> onto the Android Device you would like to add the Cameras from. <br>You can find our App in the <a href="https://play.google.com/store/apps/details?id=io.evercam.capture" target="_blank">Google Play Store</a></p>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Step 2:</strong>
        </td>
        <td>
          <p>Sign In to Evercam Capture with your Evercam Username and Password.</p>
        </td>
      </tr>
      <tfoot>
      <tr>
        <td>
          <strong>Step 3:</strong>
        </td>
        <td>
          <p>The App will prompt you to select the Cameras you would like to add to Evercam. You can choose your Front Camera, Back camera or both from the options and then add them to Evercam.</p>
          <p>That's it. Your Cameras should now be in your Camera Dashboard under <a href="/">My Cameras.</a></p>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
</section>
</section>

      <!--main content end-->

