<div class="boxed-page">
  <div class="container clearfix">
    <section id="camera-dash">

      <!--sidebar start-->
      <div id="sidebar" class="col-md-2 col-xs-12">
        <ul class="sidebar-menu">
          <li class="menu-item">
            <a href="/" class="">
              <span>My Cameras</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/" class="">
              <span>Cameras Shared With Me</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/cameras/new"><span class="glyphicon glyphicon-plus"></span>Add IP Camera</a>
          </li>
          <li class="menu-item active">
             <a href="/cameras/new"><span class="glyphicon glyphicon-plus"></span>Add Android Camera</a>
           </li>
          <li class="menu-item">
            <a href="/publiccam"><span class="glyphicon glyphicon-plus"></span>Add Public Camera</a>
          </li>
        </ul>

      </div>
      <!--sidebar end-->
      <div class="col-md-10 col-xs-12 wrapper">
        <section id="main-content">
          <div class="col-md-12">
            <div class="row add-android-header">
              <div class='col-md-12'>
                <h3>Adding an Android Camera</h3>
                <p>Connect your Android Camera to Evercam</p>
              </div>
            </div>
            <div class="col-md-11">
              <table class="table table-borderless">
                <tr>
                  <td class="col-md-1">
                    <strong>Step 1:</strong>
                  </td>
                  <td class="col-md-10">
                    <p>Download and Install our App <a href="http://www.evercam.io/apps/evercam-capture" target="_blank">Evercam Capture</a> onto the Android Device you would like to add the Cameras from. <br>You can find our App in the <a href="https://play.google.com/store/apps/details?id=io.evercam.capture" target="_blank">Google Play Store</a></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Step 2:</strong>
                  </td>
                  <td>
                    <p>Sign In to Evercam Capture with your Evercam Username and Password.</p>
                  </td>
                </tr>
                <tfoot>
                <tr>
                  <td>
                    <strong>Step 3:</strong>
                  </td>
                  <td>
                    <p>The App will prompt you to select the Cameras you would like to add to Evercam. You can choose your Front Camera, Back camera or both from the options and then add them to Evercam.</p>
                    <p>That's it. Your Cameras should now be in your Camera Dashboard under <a href="/">My Cameras.</a></p>
                  </td>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </section>
      </div>
      <!--main content end-->
    </section>
  </div>
</div> <!--boxed page end-->
