<div class="page-container">
<!-- sidebar menu start-->
<div class="page-sidebar-wrapper">
  <!-- sidebar menu start-->
  <div class="page-sidebar navbar-collapse collapse">

    <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
      <li class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler">
        </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
      </li>
      <li>
        <a href="/dev">Developer</a>
      </li>
      <li>
        <a class="active" href="/">My Cameras</a>
      </li>
      <li>
        <a class="public-cam" href="/publiccam">Public Cameras</a>
      </li>

      <li>
        <a href="/cameras/new">Add IP Camera</a>
      </li>
      <li>
        <a href="/add-android">Add Android Camera</a>
      </li>

    </ul>
  </div>
</div>
  <!-- sidebar menu end-->

  <div class="page-content-wrapper">
    <div class="page-content" id="add-ip">
<div class="col-md-12">
  Download our Android App from the Google Play Store to connect your Android Camera.
  <a href ="https://play.google.com/store/apps/details?id=io.evercam.capture" target="_blank">
    Evercam Capture
  </a>
</div>


</div>
</div>
      <!--main content end-->

</div>