<!-- sidebar menu start-->
<aside>
  <div id="sidebar" class="nav-collapse">
    <div class="leftside-navigation">
      <ul class="sidebar-menu" id="nav-accordion">
        <li>
          <a href="/cameras/new"><span class="glyphicon glyphicon-plus"></span>Add IP Camera</a>
        </li>
        <li>
          <a class="active" href="/add-android"><span class="glyphicon glyphicon-plus"></span>Add Android Camera</a>
        </li>
        <li>
          <a href="/publiccam">Public Cameras</a>
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
            <span>My Cameras</span>
          </a>
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
            <span>My Shared Cameras</span>
          </a>
        </li>
      </ul></div>
  </div>
</aside>

<section id="main-content">
<section class="wrapper site-min-height">

<div class="row">
<div class="col-sm-12">
<div class="timeline">
<article class="timeline-item alt">
  <div class="text-right">
    <div class="time-show first">
      <a href="#" class="btn btn-primary">Adding an Android Camera</a>
    </div>
  </div>
</article>
<article class="timeline-item alt">
  <div class="timeline-desk">
    <div class="panel">
      <div class="panel-body">
        <span class="arrow-alt"></span>

                                    <span class="timeline-icon blue">
                                        1
                                    </span>

        <h1 class="blue">Step 1</h1>
        <p>Download and Install our App <a href="http://www.evercam.io/apps/evercam-capture" target="_blank">Evercam Capture</a> onto the Android Device you would like to add the Cameras from. <br><br>You can find our App in the <a href="https://play.google.com/store/apps/details?id=io.evercam.capture" target="_blank">Google Play Store</a></p>
      </div>
    </div>
  </div>
</article>
<article class="timeline-item ">
  <div class="timeline-desk">
    <div class="panel">
      <div class="panel-body">
        <span class="arrow"></span>
                                    <span class="timeline-icon blue">
                                          2
                                    </span>
        <h1 class="blue">Step 2</h1>
        <p>Sign In to Evercam Capture with your Evercam Username and Password.</p>
      </div>
    </div>
  </div>
</article>
<article class="timeline-item alt">
  <div class="timeline-desk">
    <div class="panel">
      <div class="panel-body">
        <span class="arrow-alt"></span>
                                    <span class="timeline-icon blue">
                                        3
                                    </span>

        <h1 class="blue">Step 3</h1>
        <p>The App will prompt you to select the Cameras you would like to add to Evercam. You can choose your Front Camera, Back camera or both from the options and then add them to Evercam.</p>
        <br>
        <p>That's it! Your Cameras should now be in your Camera Dashboard under <a href="/">My Cameras.</a></p>

      </div>
    </div>
  </div>
</article>

</div>
</div>
</div>


</section>
</section>

      <!--main content end-->

