<div class="row user-profile">
  <div class="col-xs-10 col-xs-offset-1">
    <form role="form" id="apikeys" class="form-horizontal center-block">

      <div class="form-group">
        <label for="userForename" class="col-sm-2 control-label">API ID</label>
        <div class="col-sm-10">
          <input type="text" value="<%= current_user.api_id -%>" class="form-control" id="userForename" readonly="readonly">
        </div>
      </div>

      <div class="form-group">
        <label for="userLastname" class="col-sm-2 control-label">API Key</label>
        <div class="col-sm-10">
          <input type="text" value="<%= current_user.api_key -%>" class="form-control" id="userLastname" readonly="readonly">
        </div>
      </div>

    </form>

  </div>
</div>