<%= stylesheet_link_tag "good_bye" %>

<div id="good-bye">
  <div class="container">
    <div class="good-bye-content col-sm-12 col-md-12">
      <div class="col-sm-12 col-md-12 poem">
        <ul>
            <li>And fear not lest Existence closing your</li>
            <li>Account, and mine, should know the like no more;</li>
            <li>The Eternal Saki from that Bowl has pour’d</li>
            <li>Millions of Bubbles like us, and will pour.</li>
        </ul>
        <p>-- Omar Khayyam</p>
      </div>
    </div>
  </div>
</div>
