<div id='ec-container-<%= @camera['id'] %>' style='width: 100%'></div>
<script src='/live.view.widget.js?refresh=1&camera=<%= @camera['id'] %>&private=<%= (!@camera["is_public"]).to_s %>' async></script>

