<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>

<div class="page-container" id="public-index">
  <!-- sidebar menu start-->
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">

      <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
        <!--<li class="sidebar-toggler-wrapper">
          <div class="sidebar-toggler">
          </div>
        </li>-->
        <li>
          <a href="/">Camera Dashboard</a>
        </li>
        <li>
          <a class="active" href="/publiccam">Public Cameras</a>
        </li>

        <li>
          <a href="/cameras/new">Add Camera</a>
        </li>
        <li>
          <a href="/dev">Developer</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- sidebar menu end-->
  <div class="page-content-wrapper">
    <div class="page-content">

      <div class="col-md-12">
        <!-- BEGIN GEOCODING PORTLET-->
        <div class="portlet box blue">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-gift"></i>Geocoding
            </div>
            <div class="tools">
              <a href="javascript:;" class="collapse">
              </a>
              <a href="#portlet-config" data-toggle="modal" class="config">
              </a>
              <a href="javascript:;" class="reload">
              </a>
              <a href="javascript:;" class="remove">
              </a>
            </div>
          </div>
          <div class="portlet-body">
            <form class="form-inline margin-bottom-10" action="#">
              <div class="input-group">
                <input type="text" class="form-control" id="gmap_geocoding_address" placeholder="address...">
									<span class="input-group-btn">
									<button class="btn blue" id="gmap_geocoding_btn"><i class="fa fa-search"></i>
									</span>
              </div>
            </form>
            <div id="gmap_geocoding" class="gmaps">
            </div>
          </div>
        </div>
        <!-- END GEOCODING PORTLET-->
      </div>





    </div>
  </div><!-- #PUBLICCAMS -->

</div>

<%= javascript_include_tag "publiccam" %>
<script>
  $(window.Evercam.Publiccam.initialize);

  Notification.init(".bb-alert");
  <% if flash[:error] %>
  Notification.show('<%= flash[:error] %>');
  <% end %>

  $(document).ready(function() {
    MapsGoogle.init();
  });
</script>



