<div class="boxed-page">
  <div class="container clearfix">
    <section id="dev-dash">

      <!--sidebar start-->
      <div id="sidebar" class="col-md-2 col-xs-12">
        <ul class="sidebar-menu">
          <li class="menu-item">
            <a href="/dev" class="">
              <span>Developer Tools</span>
            </a>
          </li>
          <li class="menu-item active">
            <a href="/widgets" class="">
              <span>My Widgets</span>
            </a>
          </li>
        </ul>


      </div>
      <!--sidebar end-->
      <!--main content start-->
      <div class="col-md-10 col-xs-12 wrapper">
        <section id="main-content">
          <div class="row widget-header">
            <div class='col-md-12 widget-article-header'>
              <div class="col-md-4 pull-right">
                <a href="/widgets-new" type="submit" id="new_widget" class="btn btn-primary btn-sm pull-right">Create New Widget<br>&#123;coming soon&#125;</a>

              </div>
              <h3>Widget Area</h3>
              <p>Welcome to our Widget area</p>
            </div>
          </div>
            <div class="widget-article">
                <h3>Live View Widget</h3>
                <p> Our Live View Widget allows you to easily embed a Live View (refreshing JPEGs) from any connected camera, straight onto your site or in your app.</p>
                <p>The first step to getting the live view on your website is to put the following 2 lines of code inside the the &lt;head&gt; tag on your site:</p>
                <pre><code>&lt;script src="<a href="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" target="_blank">http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js</a>"&gt;&lt;/script&gt;
                &lt;script src="<a href="http://cdn.evercam.io/js/v1/evercam.js'" target="_blank">http://cdn.evercam.io/js/v1/evercam.js</a>"&gt;&lt;/script&gt;</code></pre>
                <p>Then all you need to do is output the following code between the &lt;body&gt; tags on your site and you have your live view widget:</p>
                <pre><code>&lt;img evercam="{your camera id here}" width="640" height="100%" refresh="2000"&gt;</code></pre>
            </div>
            <div class="widget-article">
                <h3>Recorded Widget</h3>
                <p>Coming soon.</p>

            </div>


        </section>
      </div>
      <!--main content end-->
    </section>
  </div>
</div> <!--boxed page end-->
