//= require bootstrap
//= require base/fonts.css
//= require metronic/uniform.default.css
//= require metronic/bootstrap-switch.min.css
//= require metronic/jquery.gritter.css
//= require metronic/daterangepicker-bs3.css
//= require metronic/fullcalendar.css
//= require metronic/dataTables.bootstrap.css
//= require metronic/jqvmap.css
//= require metronic/tasks.css
//= require metronic/components.css
//= require metronic/plugins.css
//= require metronic/layout.css
//= require metronic/portfolio.css
//= require metronic/profile.css
//= require metronic/default.css
//= require metronic/custom.css
//= require_self

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img {
  width: 18px;
  height: 18px;
}

table.dataTable thead .sorting { background: image-url('metronic/sort_both.png') no-repeat center right; }
table.dataTable thead .sorting_asc { background: image-url('metronic/sort_asc.png') no-repeat center right; }
table.dataTable thead .sorting_desc { background: image-url('metronic/sort_desc.png') no-repeat center right; }

table.dataTable thead .sorting_asc_disabled { background: image-url('metronic/sort_asc_disabled.png') no-repeat center right; }
table.dataTable thead .sorting_desc_disabled { background: image-url('metronic/sort_desc_disabled.png') no-repeat center right; }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler,
.page-sidebar .sidebar-toggler {
  background: image-url('metronic/sidebar_inline_toggler_icon_default.jpg');
}

.page-logo{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#admin-dash_users-show .camera-snapshot{
  .img-responsive{
    width: 100%;
  }
  a.mix-link{
    margin-right: -20px;
  }
  .mix-details{
    opacity: 0.9;
  }
}

.profile-nav .img-responsive{
  width: 100%;
}

#admin-dash_cameras-index,
#admin-dash_users-index{
  .table td a{
    display: block;
  }
}

#map_canvas{
  min-height: 600px;
  height: 100%;
  width: 100%;
}

.dashboard_label{
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

.white{
  color: #fff;
}

.non-editable{
  background-color: transparent !important;
  border: 0;
  cursor: default !important;
}

.btn-menu{
  margin-right: -5px;
  margin-top: -35px;
}

.bb-alert {
  position: fixed;
  top: 14px;
  left: 50%;
  padding: 0.8em 1em;
  z-index: 100000000000;
  font-size: 13px;
  margin-left: -155px;
  width: 315px;
  text-align: center;
}
#signin .bb-alert {
  position: absolute;
  top: 68px;
}

#user-rights-modal{
  font-family: "proxima-nova-bold","Open Sans",sans-serif;
}
#user-rights-modal .radio {
  min-height:24px;
}
#user-rights-modal .radio-inline + .radio-inline {
  margin-left: 0;
}
#user-rights-modal .radio-inline{
  padding-left: 0;
}
#user-rights-modal div.radio {
  margin-top: 5px;
}
.modal-footer {
  text-align: left;
}
#user-rights-modal .form-group {
  margin-bottom: 0;
}
#user-rights-modal .modal-header {
  padding: 9px;
}
#user-rights-modal h5 {
  font-size: 16px;
  font-weight: 500;
}
#user-rights-modal label{
  font-size: 13px;
  font-weight: normal;
}
.change{
  margin-left: 30px;
}

#user-rights-modal .user-table{
  border: 0;
  margin-bottom: 0;
  width: 100%;
}
.user-table td{
  height: 38px;
}
#user-rights-modal .control-label{
  margin-top: 7px;
}
#user-rights-modal .col-md-4{
  padding-left: 5px;
  padding-right: 5px;
}
.form-control{
  background-color: #f0f0f0;
  border: 1px solid #e5e5e5;
  box-shadow: none;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  border-radius: 2px !important;
  -moz-border-radius: 2px !important;
}
div.radio{
  margin-left: 0;
}
#user-rights-modal .form-error{
  font-size: 11px;
}
.btn-edit {
  font-size: 14px !important;
  color: #428bca;
  transition: all .2s linear;
  background-color: #ffffff;
  border-radius: 2px !important;
  border: 1px solid #428bca;
  padding: 0px 5px;
  margin-left: 10px;
}
.btn-edit:hover {
  transition: all .2s linear;
  color: #428bca;
}
.caption{
  font-size: 18px;
  font-weight: 400;
}
#add-vendor-modal .table-borderless > tbody > tr > td, #add-vendor .table-borderless > tbody > tr > td{
  border-top: 0px;
  padding: 2px;
  line-height: 1.42857;
  vertical-align: top;
}
#add-vendor-modal .alert, #add-vendor .alert{
  padding: 7px 10px;
}
#add-vendor-modal .form-group .table .alert, #add-vendor .form-group .table .alert{
  margin-bottom: 0px;
}