/*section - header */
.page-header.navbar {
  height: 33px;
  min-height: 33px;
  background: $secondary-color;
}
.page-header-fixed .page-container {
  margin-top: 33px;
}
.navbar-nav > li > a {
  padding: 6px 5px 0px 0px;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
  padding-top: 7px;
}
.top-menu {
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 992px) {
  /* Page container */
  .page-header-fixed.page-header-fixed-mobile .page-container {
    margin-top: -20px !important;
  }
  .page-header.navbar .page-logo {
    background-color: lighten($secondary-color, 5%);
  }
}
@media (max-width: 480px) {
  /* 480px */
  /* Fixed header for mobile */
  .page-header-fixed.page-header-fixed-mobile .page-header.navbar {
    height: 33px;
  }
}
.evercam-e-header {
  margin:5px 14px 2px;
}
@media (max-width: 992px) {
  .evercam-e-header {
    margin:5px 0px 2px;
  }
}
.evercam-e-header img {
  max-height: 24px;
}
.navbar .dropdown-menu {
  background: lighten($secondary-color, 5%);
}
.top-menu .dropdown-menu {
  left:-140px;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu {
    background: lighten($secondary-color, 5%);
  }
  .navbar-nav .open .dropdown-menu > li > a {
    padding:6px 13px 6px 13px;
  }
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background:none;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu {
  margin-top: -22px;
  padding: 10px 0px;
  border:none;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu:after, .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu:before {
  border-bottom:6px solid transparent;
  border-right:6px solid transparent;
  border-left:6px solid transparent;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu > li > a {
  line-height: 21px;
  color:$white;
}
.navbar .dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color:lighten($secondary-color, 10%);
  color: #f5f5f5;
}
.dropdown-menu li > a {
  padding: 6px 13px 6px 13px;
  text-align:right;
  color:#f5f5f5;
}
.dropdown-toggle {
  font-size: 18px;
}
.camera-switch {
  margin: 0 auto;
  max-width: 250px;
  text-align: center;
  height: 32px;
  padding-top: 4px;
  .sub-menu-item a {
    padding:4px 14px 4px 0px !important;
  }
  .status-circle {
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }
  .camera-name {
    padding-top:3px;
  }
  .camera-switch .fa-caret-down {
    margin-left: 6px;
  }
  .camera-caret {
    padding-left: 9px;
  }
}
@media (max-width: 992px) {
  .camera-switch {
    padding-top: 3px;
  }
  .top-menu .nav > li > a {
    padding:6px 5px;
  }
  .page-header.navbar .top-menu .navbar-nav {
    margin-right:3px;
  }
}
.green-bg {
  background-color: $green;
}
.red-bg {
  background-color: $evercam-red;
}
.page-header.navbar .top-menu .navbar-nav {
  margin-right: 15px;
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .camera-switch .fa-caret-down {
  display: none;
  }
}


.page-header a,
.page-header a:hover {
  color:$white;
}
.page-header .fa,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > i {
  font-size: 23px;
}

.cameras-back {
  margin-top:0px;
}
.cameras-back a {
  color:#333333;
}

.section-header {
  background: #fff;
  border-bottom: 1px solid #E7E7EC !important;
  overflow: hidden;
  margin: 0px 15px 5px;
  padding: 10px 15px;
  max-height: 40px;
  min-height: 40px;
}

#sidebar {
  position: fixed !important;
  overflow-y: scroll !Important;
  top: 40px;
  bottom: 10px;
  z-index: 10000;
}

.page-sidebar-menu {
  z-index: 10000 !important;
}
.tooltip-inner {
  background-color: lighten($secondary-color, 5%) !important;
  color: #ffffff !important;
  opacity: 1 !Important;
  font-family: $regular-family;
}
#sidebar .tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 10%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #fff !Important;
}
.tooltip.top .tooltip-arrow {
  border-top-color: lighten($secondary-color, 5%) !important;
}
.sidebar-toggler-wrapper {
  width: 24px;
  overflow: auto;
  height: 24px;
  margin-top: 17px;
  margin-right: -13px;
  float: right;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  display:none;
}

li .dev-menu-title:hover {
  background-color: lighten($secondary-color, 5%);
  cursor: default !important;
}
ul .widgets-menu {
  margin-bottom: -11px;
  margin-top: -3px;
}
li span {
  margin-top: 5px;
}
.dev-menu-title {
  text-transform: uppercase;
  padding-left: 15px;
  color:$main-grey;
  font-size: 12px;
  margin: 15px 0 5px;
}

@media (max-width: 980px) {
  .sidebar-toggler-wrapper {
    display: none;
  }
}
.sidebar-toggler {
  padding: 10px 0px 14px 3px;
  z-index: 10000;
  cursor: pointer;
}

#main-content {
  position: relative !important;
}
#offline-menu {
  float: right;
}

.header-add-camera {
  margin-right: 10px;
  margin-top: 10px;
}
.header-add-camera i.icon-plus {
  font-size: 28px;
}
.hide-left-bar {
  margin-left:-236px !important;
}
.merge-left {
  margin-left:0px !important;
}
.section-header .page-title, .section-header .camera-title {
  font-family: $bold-family;
  font-size: $body-main;
  color:$secondary-color;
  letter-spacing: 0;
}
h5.camera-title {
  margin-top: 2px;
}
.section-header .online-status {
  margin-top: 4px;
}

a.grey {
  color: #777 !important;
}