.page-header a {
  color:$white;
}
.page-header a:hover {
  color:$white;
}
.dashboard-title {
  color: $white;
  font-size: 17px;
  font-family: $bold-family;
  margin-top: 17px;
}
@media (max-width: 980px) {
  .dashboard-title {
    display: none;
  }
}

.nav-title .icon-refresh {
  font-weight:bold;
}
.nav-title a:hover {
  color: $main-grey !important;
}

#sidebar {
  position: fixed !important;
  overflow-y: scroll !Important;
  top: 46px;
  bottom: 10px;
  z-index: 10000;
}

.page-sidebar-menu {
  z-index: 10000 !important;
}
.tooltip-inner {
  background-color: lighten($secondary-color, 5%) !important;
  color: #ffffff !important;
  opacity: 1 !Important;
  font-family: $regular-family;
}
#sidebar .tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 10%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #fff !Important;
}
.tooltip.top .tooltip-arrow {
  border-top-color: lighten($secondary-color, 5%) !important;
}
.sidebar-toggler-wrapper {
  width: 24px;
  overflow: auto;
  height: 24px;
  margin-top: 17px;
  margin-right: -13px;
  float: right;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  display:none;
}
.page-sidebar .page-sidebar-menu > li.active > a {
  color: #ffffff;
  font-size: 16px;
}
li .dev-menu-title:hover {
  background-color: lighten($secondary-color, 5%);
  cursor: default !important;
}
ul .widgets-menu {
  margin-bottom: -11px;
  margin-top: -3px;
}
li span {
  margin-top: 5px;
}
.dev-menu-title {
  text-transform: uppercase;
  padding-left: 15px;
  color:$main-grey;
  font-size: 12px;
  margin: 15px 0 5px;

}
@media (max-width: 980px) {
  .sidebar-toggler-wrapper {
    display: none;
  }
}
.sidebar-toggler {
  padding: 10px 0px 14px 3px;
  z-index: 10000;
  cursor: pointer;
}
#main-content {
  position: relative !important;
}
#offline-menu {
  float: right;
}

.page-sidebar .page-sidebar-menu .sub-menu-item a {
  padding: 7px 15px;
  color: #bdbdbd;
}

.hide-left-bar {
  margin-left:-236px !important;
}
.merge-left {
  margin-left:0px !important;
}
