.page-content-wrapper .page-content {
  padding: 0px;
  margin-left: 210px;
}

.tabbable-custom > .tab-content {
  background-color: #fff;
  border: 1px solid $secondary-grey;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 7px 0px 8px 15px;
  overflow: auto;
  margin-right: 0px;
  margin-left: 0px;
}
@media (max-width: 980px) {

  .tabbable-custom > .tab-content {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 0px;
  }

}
.tab-content {
  background: #fafafa;
  padding: 20px;
}

.portlet.solid > .portlet-title {
  border-bottom: 0px solid $main-grey;
}
.portlet > .portlet-title > .caption {
  font-family: $bold-family;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 6px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border:none;
  border-bottom:1px solid $secondary-color;
  background-color: transparent;
  font-family: $bold-family;
}

#camera-single .tabbable-custom > .nav-tabs > li > a {
  color:#444444;
}

@media (max-width: 667px) {

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    border-bottom: none;
  }

}
