.page-sidebar {
  background-color: #f5f5f5;
  z-index:10000;
  width:210px;
  border-right: none;
  background-color: rgb(16, 28, 39);
}

.page-sidebar-fixed .page-sidebar {
  top: 33px;
}

.camera-icon {
  width: 18px;
  margin-right: 5px;
}

.evercam-e-sidebar {
  margin: 12px 5px 0px 19px;
  float: left;
}
.evercam-e-sidebar img {
  max-height: 21px;
}
.page-sidebar .page-sidebar-menu .sub-menu li > a {
  font-size: 12px;
  display: inline-block;
  color: #FFFFFF;
}

.page-sidebar .page-sidebar-menu li a:hover {
  background-color: rgb(66, 23, 22);
}

.page-sidebar .page-sidebar-menu .sub-menu li:hover {
  background-color: rgb(66, 23, 22);
}

#hello a i {
  margin-right: 5px;
}

#hello {
  padding-left: 5px;
}

.page-sidebar .page-sidebar-menu .sub-menu-item a {
  padding: 7px 15px;
  color: $secondary-color;
}
.page-sidebar .page-sidebar-menu > li > a {
  color: rgba(255, 255, 255, 0.77);
  font-size: 12px;
  padding: 8px 4px 4px;
 font-family: $bold-family;
}

#sidebar {
  position: fixed !important;
  overflow-y: scroll !Important;
  top: 46px;
  bottom: 10px;
  z-index: 10000;
}

.sidebar-offline a {
  opacity: .60;
}
.page-sidebar-menu {
  z-index: 10000 !important;
}

.sidebar-title a {
  color: rgba(255, 255, 255, 0.77);
  font-size: 14px;
  padding: 8px 4px 4px;
  font-family: $bold-family;
}

.sidebar-title {
  padding-top: 10px;
  padding-bottom: 8px;
  position: relative;
}

.sidebar-title .tooltip {
  font-size: 15px;
  width: 150px;
  margin-top: 2px;
  left: 35px !important;
}

.sidebar-title .tooltip-arrow {
  display: none;
}

#total-offline-cameras {
  cursor: pointer;
}

.sidebar-line {
  border-top: 1px solid rgba(170, 170, 170, 0.13) !important;
  margin-top: 5px !important;
}

.pull-right {
  float: right;
  margin-top: 0px;
}

.setting-list {
  display: none;
  padding-left: 0px;

  .width-20 {
    width: 20px;
  }
}

.developer-list li:hover,
.setting-list li:hover {
  background-color: rgb(66, 23, 22);
}

.developer-list li a,
.setting-list li a {
  color: #FFFFFF;
  font-size: 12px;
}

.left-nav-submenu {
  list-style: none;
  background-color: #06111B;
}

.left-nav-submenu li {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 35px;
}

.cameralist-height {
  overflow: auto;
  overflow-y: hidden;
  margin-right: 2px !important;
  background-color: rgba(0, 11, 21, 0.65);
  display: none;
}

.cameralist-height:hover {
  overflow-y: auto;
}

.camera-fadrop {
  position: absolute;
  margin-top: 0px;
  cursor: pointer;
  right: 8px;

  .fa-caret-down {
    display: none;
  }

}

.camera-fadrop:hover {
  background-color: rgb(66, 23, 22);
}

.tooltip-inner {
  background-color: lighten($secondary-color, 5%) !important;
  color: #ffffff;
  opacity: 1 !Important;
  font-family: $regular-family;
}
#sidebar .tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 10%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #fff !Important;
}
.tooltip.top .tooltip-arrow {
  border-top-color: lighten($secondary-color, 5%) !important;
}
.sidebar-toggler-wrapper {
  width: 24px;
  overflow: auto;
  height: 24px;
  margin-top: 17px;
  margin-right: -13px;
  float: right;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  display:none;
}
.page-sidebar .page-sidebar-menu > li {
  color: #FFFFFF;
}

.page-sidebar-menu {
  background-color: #101C27;
}

.page-sidebar .page-sidebar-menu > li.active > a {
  color: #34393d;
  font-size: 16px;
}
li .dev-menu-title:hover {
  background-color: lighten($secondary-color, 5%);
  cursor: default !important;
}
ul .widgets-menu {
  margin-bottom: -11px;
  margin-top: -3px;
}
li span {
  margin-top: 5px;
}
.menu-title {
  text-transform: uppercase;
  padding-left: 23px;
  color:$main-grey;
  font-size: 12px;
  margin: 15px 0 5px;
}
.menu-title a {
  color:$main-grey;
}
.menu-title a:hover {
  color:$main-grey;
}
.snapimg {
  margin-top: -4px !important;
}

.snapmail-text {
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
}

@media (max-width: 980px) {
.menu-title {
  text-transform: capitalize;
  padding-left: 23px;
  color:$main-grey;
  font-size: 16px;
  margin: 16px 0 7px;
  padding-bottom: 10px;
  box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);
}
}
.dev-menu-title {
  text-transform: uppercase;
  padding-left: 15px;
  color:$main-grey;
  font-size: 12px;
  margin: 15px 0 5px;
}
@media (max-width: 980px) {
  .sidebar-toggler-wrapper {
    display: none;
  }
}
.sidebar-toggler {
  padding: 10px 0px 14px 3px;
  z-index: 10000;
  cursor: pointer;
}
#main-content {
  position: relative !important;
}
#offline-menu {
  float: right;
}

.hide-left-bar {
  margin-left:-236px !important;
}
.merge-left {
  margin-left:0px !important;
}

/*SUB MENU */
.page-sidebar .page-sidebar-menu .sub-menu {
  margin: 0;
  padding-bottom: 8px;

}

.sub-menu.cam-active .sidebar-offline{
  display: none;
}

.cameralist-height::-webkit-scrollbar {
  width: 7px;
}

.cameralist-height::-webkit-scrollbar-thumb {
  background-color: rgba(16, 28, 39, 0.67);
}

@media (max-width: 990px) {
  .page-sidebar .page-sidebar-menu .sub-menu {
    display: none !important;
  }
  .mobile-hide {
    display: none;
  }
}
@media (max-width: 480px) {
  .page-sidebar .page-sidebar-menu .sub-menu {
    display: none !important;
  }
}
.sub-menu-item a {
  border: none !important;
  color: $secondary-color;
  padding: 5px 0px 2px 0px !important;
}

@media (max-width: 980px) {
  .desktop-user {
    display: none !Important;
  }
  .evercam-e-sidebar {
    display: none;
  }
}

li.inactive a {
  color:$light-grey !important;
}

#siderbar {

  .toggle .toggle-control {
    -webkit-transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: 0.05s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    width: 3.2em;
    height: 1.4em;
    display: inline-block;
    border: 2px solid #8E8E93;
    border-radius: 0.8em;
    background-color: rgba(0, 0, 0, 0.06);
    position: absolute;
    cursor: pointer;
    margin-top: 3px;
  }

  .toggle .toggle-control::after {
    -webkit-transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: 0.05s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    content: "";
    width: 1em;
    height: 1.15em;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 3px 2px rgba(0, 0, 0, 0.4);
    position: relative;
    top: 0;
    left: -1em !important;
    cursor: pointer;
  }

  .toggle input {
    display: none;
  }

  .toggle input:checked + .toggle-control {
    border-color: rgba(44, 62, 78, 0.53);
    background-color: rgba(44, 62, 78, 0.53);
  }

  .toggle input:checked + .toggle-control::after {
    left: 1em !important;
  }

  .label {
    position: inherit;
    text-align: center;
    margin-left: -10px;
  }

  #lbl {
    display: inline-block ;
    position:absolute;
    right: 8px;
    top: 15px;
  }

  #offline-btn{
    display: block;
  }

}

@media only screen and (max-width: 990px) {
  .page-sidebar {
    background-color: #f5f5f5;
    z-index: 10000;
    position: fixed;
    width: 100%;
    border-right: none;
    background-color: rgb(16, 28, 39);
  }

  #siderbar {
    position: absolute;
  }

  #siderbar .toggle .toggle-control {
    position: absolute;
    margin-top: -19px;
    margin-left: 105px;
  }

  #siderbar .label {
    position: initial;
  }

  #siderbar #lbl {
    left: 145px;
    top: -17px;
  }

  #hello .camera-fadrop {
    display: none;
  }

  .page-sidebar .page-sidebar-menu {
    padding: 10px;
  }
}

@media (min-width: 992px) {

  .page-sidebar-fixed .page-sidebar {
    top: 0px;
  }

  .slimScrollDiv {
    height: 100vh !important;
  }

  .page-sidebar-menu {
    height: 100vh !important;
  }

}

.offline-span {
  font-size: 12px;
  margin-top: 5px;
}

.active-color {
  background-color: $hover-blue;
}

.status-list {
  cursor: pointer;
}

.status-report-submenu {

  display: none;
  padding-left: 0px;

  li {
    padding-left: 55px;
  }
}

.right-margin {
  margin-right: 1em;
  margin-top: 6px;
}

.sidebar {
  float: right;
  width: 20%;

  .label {
    margin-top: 0px;
    width: 16px;
  }

  .sidebar-chk-span {
    display: inline-block;
    margin-right: -1px;
    position: relative;
    margin-top: -1px;
  }

  .sidebar-checked {
    border-color: transparent transparent $main-color $main-color;
    border-style: solid;
    border-width: 0px 0px 4px 2px;
    outline-color: $ever-background;
    opacity: 1;
    top: -5px;
    right: 6px;
    height: 14px;
    width: 14px;
    outline: 0px;
    -webkit-transform: rotate(-45deg) scaleY(0.5);
    transform: rotate(-45deg) scaleY(0.5);
  }

  .sidebar-checked:focus {
    box-shadow: none;
    outline: 0px;
    outline-color: $ever-background;
  }

  .sidebar-type-label {
    border: 1px solid $evercam-grey;
    color: $evercam-grey;
    cursor: pointer;
    float: right;
    border-radius: 0px;
    margin-right: 12px;
    height: 16px;
    margin-top: 3px;
    width: 16px;
  }

}
