<div class="panel-body camera-preview">
  <div>
    <a href="#" id="live-refresh" class="refresh"><span class="glyphicon glyphicon-refresh">  </span>  Refresh</a>
  </div>
  <% if @camera['is_online'] %>
    <%= preview(@camera, true) %>
  <% else %>
    <div class="tint"><%= preview(@camera, true ) %></div>
  <% end %>
</div>


<script type="text/javascript">
  $(window.Evercam.Live.initializeTab);
</script>