<div class="camera-preview">
  <a href='#' onclick='location.reload(true); return false;' class="refresh"><span class="glyphicon glyphicon-refresh">  </span>  Refresh</a>
  <!--remove id="live-refresh" from above temporarily-->
  <% if @camera['is_online'] %>
    <%= preview(@camera, true) %>
  <% else %>
    <div class="tint"><%= preview(@camera, true ) %></div>
  <% end %>
</div>



<script type="text/javascript">
  $(window.Evercam.Live.initializeTab);
</script>