<div class="col-lg-12">
  <!--<div class="col-lg-3">
    <h4>Live View</h4>
  </div>-->

  <div class="col-lg-12">
    <a href="#" id="live-refresh" class="refresh"><span class="glyphicon glyphicon-refresh">  </span>  Refresh</a>
    <img src="<%= @camera['jpg'] %>" alt="Camera appears to be offline" width="100%" height="auto">
  </div>
</div>


<script type="text/javascript">
  $(window.Evercam.Live.initializeTab);
</script>