<div class="col-lg-12">
    <div class="col-lg-12">
      <%= preview(@camera, true) %>
      <a href="#" id="live-refresh" class="refresh"><span class="glyphicon glyphicon-refresh">  </span>  Refresh</a>
  </div>
</div>


<script type="text/javascript">
  $(window.Evercam.Live.initializeTab);
</script>