<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <ul class="page-breadcrumb breadcrumb">
          <li>
            <i class="fa fa-home"></i>
            <a href="/admin">Home</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a href="#">Vendors & Models</a>
          </li>
          <li>
            <div href="#" class="btn btn-edit" data-toggle="modal" data-target="#add-vendor-modal">
              Add Model
            </div>
          </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
      </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- modal -->
    <div id="add-vendor-modal" class="modal fade">
      <div class="modal-dialog" style="width:500px;">
        <div class="modal-content">
          <div class="modal-header">
            <div class="caption">Add a Model</div>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <table class="table table-fixed table-borderless">
                <tr>
                  <td class="col-md-5"><label class="control-label">Id:</label></td>
                  <td><input type="text" id="model-id" name="model-id" placeholder="Unique identifier for the model" class="form-control"/></td>
                </tr>
                <tr>
                  <td class="col-md-5"><label class="control-label">Vendor:</label></td>
                  <td><select id="vendor" name="vendor" class="form-control is-required"></select></td>
                </tr>
                <tr>
                  <td class="col-md-5"><label class="control-label">Name:</label></td>
                  <td><input type="text" id="name" name="name" placeholder="Name of the model" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="col-md-5"><label class="control-label">JPG Url:</label></td>
                  <td><input type="text" id="jpg-url" name="jpg-url" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="col-md-5"><label class="control-label">MJPG Url:</label></td>
                  <td><input type="text" id="mjpg-url" name="mjpg" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="col-md-5"><label class="control-label">MPEG4 Url:</label></td>
                  <td><input type="text" id="mpeg4-url" name="mpeg4-url" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="col-md-5"><label class="control-label">Mobile Url:</label></td>
                  <td><input type="text" id="mobile-url" name="mobile-url" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="col-md-5"><label class="control-label">H264 Url:</label></td>
                  <td><input type="text" id="h264-url" name="h264-url" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="col-md-5"><label class="control-label">Low Res Url:</label></td>
                  <td><input type="text" id="lowres-url" name="lowres-url" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="col-md-5"><label class="control-label">Default Username:</label></td>
                  <td><input type="text" id="default-username" name="default-username" class="form-control" /></td>
                </tr>
                <tr>
                  <td class="col-md-5"><label class="control-label">Default Password:</label></td>
                  <td><input type="text" id="default-password" name="default-password" class="form-control" /></td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="alert alert-danger model-alert" style="display:none;">

                    </div>
                  </td>
                </tr>
              </table>

            </div>
          </div>

          <fieldset>
            <div class="modal-footer">
              <button type="submit" id="save-model" name="save-model" class="push btn btn-primary">Save</button>
              <button type="button" id="close-dialog" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <!-- /.modal -->

    <!-- BEGIN PAGE CONTENT-->
    <div id="vendor-model-list-row" class="row">
      <input type="hidden" id="total_vendors" value="<%= @total_vendors %>"/>
      <input type="hidden" id="total_cameras" value="<%= @total_cameras %>"/>
      <ul id="columns-vis" class="nav navbar-nav" style="display:none">
        <li class="dropdown">
          <a id="columns-toggle" class="dropdown-toggle" data-toggle="dropdown" title="Select columns" href="#">Columns <span class="caret"></span></a>
          <ul id="columns-list" class="dropdown-menu">
            <li><input type="checkbox" class="columns-visible" data-column="0" checked="true" /> Model ID</li>
            <li><input type="checkbox" class="columns-visible" data-column="2" checked="true" /> Vendor</li>
            <li><input type="checkbox" class="columns-visible" data-column="3" checked="true" /> Model</li>
            <li><input type="checkbox" class="columns-visible" data-column="4" checked="true" /> Snapshot</li>
            <li><input type="checkbox" class="columns-visible" data-column="5" checked="true" /> H264</li>
            <li><input type="checkbox" class="columns-visible" data-column="6" checked="true" /> MJPG</li>
            <li><input type="checkbox" class="columns-visible" data-column="7" checked="true" /> MPEG4</li>
            <li><input type="checkbox" class="columns-visible" data-column="8" checked="true" /> Mobile</li>
            <li><input type="checkbox" class="columns-visible" data-column="9" checked="true" /> Low Res</li>
          </ul>
        </li>
      </ul>
      <div class="col-md-12 table-container">
        <div class="table-actions-wrapper">
          <span></span>
          Search: <input type="text" placeholder="Vendor/Model" class="table-group-action-input form-control input-inline input-small input-sm"/>
        </div>
        <table class="table table-striped table-bordered table-hover" id="datatable_vendor_models">
          <thead>
          <tr role="row" class="heading">
            <th width="10%" name="order_model_id" class="sorting">Model ID</th>
            <th width="15%" name="order_vendor" class="sorting">Vendor</th>
            <th width="15%" name="order_model" class="sorting">Model</th>
            <th width="20%" name="order_snapshot_url" class="sorting">Snapshot</th>
            <th width="20%" name="order_h264_url" class="sorting">H264</th>
            <th width="20%" name="order_mjpg_url" class="sorting">MJPG</th>
            <th width="20%" name="order_mpeg_url" class="sorting">MPEG4</th>
            <th width="20%" name="order_mobile_url" class="sorting">Mobile</th>
            <th width="20%" name="order_lowres_url" class="sorting">Low Res</th>
            <th width="20%" name="order_lowres_url" class="sorting">Username</th>
            <th width="20%" name="order_lowres_url" class="sorting">Password</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
    <!-- END PAGE CONTENT-->
  </div>
</div>
<!-- END CONTENT -->

<script>
  $(document).ready(function () {
    window.initializeVendorModel();
  });
</script>