<div class="row">
  <div class="col-md-8">
    <table class="table">
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <th>Add-on</th>
        <th>Monthly Price</th>
        <th>Annual Price</th>
      </tr>
      <tr>
        <td>Snapmail</td>
        <td>€9.99 <%= button_to 'Add', line_items_path(type: 'add_on', product_id: 'snapmail'), remote: true, class: 'btn btn-default'  %></td>
        <td>€99.00 <%= button_to 'Add', line_items_path(type: 'add_on', product_id: 'snapmail-annual'), remote: true, class: 'btn btn-default'  %></td>
      </tr>
    </table>

  </div>
</div>