<section class="cart">
  <ul>
    <% unless session[:cart].empty? %>
      <% session[:cart].each do |item| %>
        <li><%= item.name %></li>
        <li><%= item.quantity %></li>
        <li><%= cents_to_currency item.price %></li>
        <li><%= button_to 'Remove', line_item_path(item.id), method: :delete, remote: true %></li>
        <% end %>
        <li>Sub Total: </li>
      <% end %>
  </ul>
</section>w