<section>
  <div class="row">
  <div class="col-md-12">
  <h3>Add Ons</h3>
  <p>Current Add-ons:</p>
  <p><%= @snapmails %> Snapmail add-on</p>
  <p><%= @timelapses %> Timelapse add-on</p>
</div>
</div>
</section>