<div class="custom_licences">
  <h3 class="margin-left-15">Custom Invoices</h3>
  <div class="col-md-12">
    <table id="custom-invoices" style="width:100%;" class="table table-full-width">
      <thead>
      <tr>
        <th class="col-md-2">Inv #</th>
        <th class="col-md-2">Date</th>
        <th class="col-md-2">Reference</th>
        <th class="col-md-2">Amount €</th>
        <th class="col-md-2">Due €</th>
        <th class="col-md-2">Next Create Date</th>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<input id="insight-custom-url" type="hidden" value=<%= @insight_url %>>
<input id="insight-id" type="hidden" value=<%= current_user.insight_id %>>

