<section class="navigation">
  <div class="row">
    <div class="col-md-4 col-md-offset-8">
      <ul>
        <li><%= link_to 'My Subscription', subscriptions_path %></li>
        <li><%= link_to 'Edit Subscription', edit_subscription_path %></li>
        <li><%= link_to 'Edit Add-ons', edit_add_ons_path %></li>
        <li><%= link_to 'Checkout', new_checkout_path %></li>
      </ul>
    </div>  
  </div>
</section>