<div class="navigation">
  <ul class="nav nav-tabs">
    <li><%= link_to 'Billing', billing_path(current_user.username) %></li>
    <li><%= link_to 'Plans', plans_path(current_user.username) %></li>
    <li><%= link_to 'Add-ons', add_ons_path(current_user.username) %></li>
    <!--<li><%# link_to 'Checkout', new_checkout_path %></li>-->
  </ul>
</div>