<div class="navigation">
  <ul class="nav nav-tabs">
    <% billing_tab = request.path.sub('/','').split('/').last %>

    <% if billing_tab.eql?("billing") %>
      <li class="active"><a>Overview</a></li>
    <% else %>
      <li><%= link_to 'Overview', billing_path(current_user.username) %></li>
    <% end %>

  </ul>
</div>