<div class="navigation">
  <div class="col-md-6">
    <ul class="list-inline">
      <li><%= link_to 'Overview', subscriptions_path %></li>
      <li><%= link_to 'Change Plan', edit_subscription_path %></li>
      <li><%= link_to 'Get Add-ons', edit_add_ons_path %></li>
      <!--<li><%# link_to 'Checkout', new_checkout_path %></li>-->
    </ul>
  </div>
</div>