<div class="navigation">
 <div class="row">

    <ul class="nav nav-tabs">
      <li><%= link_to 'Billing', subscriptions_path %></li>
      <li><%= link_to 'Plans', edit_subscription_path %></li>
      <li><%= link_to 'Add-ons', edit_add_ons_path %></li>
      <!--<li><%# link_to 'Checkout', new_checkout_path %></li>-->
    </ul>

 </div>
</div>