<div class="navigation">
  <div class="col-md-6 pull-right text-right">
    <ul class="list-inline">
      <li><%= link_to 'My Subscription', subscriptions_path %></li>
      <li><%= link_to 'Upgrade Subscription', edit_subscription_path %></li>
      <li><%= link_to 'Add-ons', edit_add_ons_path %></li>
      <li><%= link_to 'Checkout', new_checkout_path %></li>
    </ul>
  </div>
</div>