<div class="navigation">
  <ul class="nav nav-tabs">
    <% billing_tab = request.path.sub('/','').split('/').last %>

    <% if billing_tab.eql?("billing") %>
      <li class="active"><a>Overview</a></li>
    <% else %>
      <li><%= link_to 'Overview', billing_path(current_user.username) %></li>
    <% end %>

    <% if billing_tab.eql?("plans") %>
      <li class="active"><a>Plans & Add-ons</a></li>
    <% else %>
      <li><%= link_to 'Plans & Add-ons', plans_path(current_user.username) %></li>
    <% end %>

    <% if billing_tab.eql?("history") %>
      <li class="active"><a>History</a></li>
    <% else %>
      <li><%= link_to 'History', billing_history_path(current_user.username) %></li>

    <% if billing_tab.eql?("invoices") %>
      <li class="active"><a>Invoices</a></li>
    <% else %>
      <li><%= link_to 'Invoices', invoices_path(current_user.username) %></li>
    <% end %>

  </ul>
</div>