<div class="subscriptions">
  <div class="col-md-4">
    <% if @subscriptions.present? %>
      <h3 class="marg">Subscriptions</h3>
    <% elsif has_credit_cards? == false %>
      <h4>Please add a credit card</h4>
    <% else %>
      <h4>Add a new subscription</h4>
    <% end %>
  </div>
  <div class="col-md-8 licence-alert alert alert-danger" style="display:none">
    <span id="licence-message">You require <span class="licence-message-7"> (7 days) ,</span><span class="licence-message-30"> (30 days) ,</span><span class="licence-message-90"> (90 days) ,</span><span class="licence-message-infinity"> (infinity) </span> additional Plans.</span>
  </div>
  <% if @subscriptions.present? %>
  <div class="col-md-12">
    <table id="subscription_data" class="subscription-table table table-striped table-bordered" cellspacing="0" width="100%">
      <tr>
        <div id="img-subscription-loader" class="img-subscription-loader middle-gif hide">
          <%= image_tag('loader3.gif', alt: 'Loading') %>
        </div>
        <thead>
        <th class="col-md-2">Plan</th>
        <th class="col-md-1">Quantity</th>
        <th class="col-md-1">Price (<i class='fa fa-eur'></i>)</th>
        <th class="col-md-2">Created On</th>
        <th class="col-md-1">Period</th>
        <th class="col-md-2">Auto-Renewal</th>
        <th class="col-md-2">Next Renewal On</th>
        <th class="col-md-1">Options</th>
      </tr>
      </thead>
    </table>
  </div>
  <% end %>
  <div class="col-md-12 margin-bottom-40">
    <input id="open-modal" class="btn btn-primary save-sub-button" value="Add Subscription" type="button">
  </div>
</div>
