<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div class="subscriptions page-content-wrapper">
  <div class="page-content">
    <div class="portlet-body">
      <%= render 'subscriptions/navigation' %>
      <div class="col-md-12 margin-top-20">
        <div class="card">
          <%= render 'billing_history' %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    Notification.init(".bb-alert")
    <% if flash[:message] %>
    Notification.show('<%= flash[:message] %>');
    <% end %>
  });
</script>