<div class="page-content-wrapper">
  <div class="page-content">
    <%= render partial: "users/section_header", locals: {section_header_title: "Subscriptions"} %>
    <div class="portlet-body">
      <div id="subscription">
        <div class="row">
          <div class="col-md-2">
            <%= render "current_plan" %>
            <%= render "current_add_ons" %>
          </div>
          <div class="col-md-10">
            <%= render "plans_comparison" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>