<div class="subscriptions page-content-wrapper">
  <div class="page-content">
    <%= render partial: "users/section_header", locals: { section_header_title: "Subscriptions" } %>
    <div class="portlet-body">
      <div class="plans">
        <div class="row">
          <div class="col-md-10">
            <%= render "plans_comparison" %>
            <%= render "select_plan_buttons" %>
          </div>
          <div class="col-md-2">
            <h3>Cart</h3>
            <%= render "cart" %>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>