$main-color: #428bca;
$secondary-color: #34393d;
$evercam-red: #DC4C3F;
$dark-grey: #888888;
$dark-blue: #2a6496;
$text-grey: #515254;
$grey: #aaaaaa;
$main-grey: #e5e5e5;
$secondary-grey: #f5f5f5;
$white: #ffffff;
$light-blue: #8bbbff;
$light-grey: #ddd;
$lighter-grey: #eee;
$green: #2ECC71;
$hover-blue: #68a2d5;
$small-grey: #a0a0a0;
$ever-background: rgba(0, 0, 0, 0.65);

$regular-family:'proxima-nova-regular', "Open Sans", Arial, Helvetica, sans-serif;
$bold-family:'proxima-nova-bold', "Open Sans", Arial, Helvetica, sans-serif;

$body-main:14px;
$border-radius :2px;
$box-shadow:0 1px 0 rgba(0,0,0,0.05);

.grey {
  color: $grey;
}
