/* Colors */
$main-color: #428bca;
$secondary-color: #34393d;
$evercam-red: #DC4C3F;
$main-grey: #e5e5e5;
$secondary-grey: #f1f1f1;
$white: #ffffff;

/* Font-Stack */
$regular-family:'proxima-nova-regular', "Open Sans", Arial, Helvetica, sans-serif;
$bold-family:'proxima-nova-bold', "Open Sans", Arial, Helvetica, sans-serif;

/* Typography */
$body-main:16px;