$main-color: #428bca;
$secondary-color: #34393d;
$evercam-red: #DC4C3F;
$dark-grey: #888888;
$dark-blue: #2a6496;
$text-grey: #515254;
$grey: #aaaaaa;
$main-grey: #e5e5e5;
$secondary-grey: #f5f5f5;
$white: #ffffff;
$light-blue: #8bbbff;
$light-grey: #ddd;
$lighter-grey: #eee;
$green: #2ECC71;

$regular-family:'proxima-nova-regular', "Open Sans", Arial, Helvetica, sans-serif;
$bold-family:'proxima-nova-bold', "Open Sans", Arial, Helvetica, sans-serif;

$body-main:16px;
$border-radius :2px;

