$main-color: #428bca;
$secondary-color: #34393d;
$modal-grey: #e1e1e1;
$evercam-red: #DC4C3F;
$dark-grey: #888888;
$dark-blue: #2a6496;
$text-grey: #515254;
$grey: #aaaaaa;
$main-grey: #e5e5e5;
$secondary-grey: #f5f5f5;
$white: #ffffff;
$light-blue: #8bbbff;
$label-color: #999;
$light-grey: #ddd;
$lighter-grey: #eee;
$green: #2ECC71;
$green-hover: rgba(46, 204, 113, 0.79);
$hover-blue: #68a2d5;
$small-grey: #a0a0a0;
$ever-background: rgba(0, 0, 0, 0.65);
$evercam-grey: #f3f3f3;
$border-black: #ccc;
$white-transparent-background: rgba(255, 255, 255, 0.85);
$line-end-white-background: rgba(255, 255, 255, 0);
$line-end-gredient-background: rgba(0, 0, 0, 0);
$pop-up-text:#666;
$background-gray: #dddddd;
$evercam-black: #0c0c0c;
$form-grey: #f0f0f0;
$form-dark-grey: #333333;
$form-medium-grey: #414042;
$menu-text-color: #c8cbcd;
$menu-background-color: rgba(16, 28, 39, 0.4);
$border-grey: rgba(16, 28, 39, 0.58);
$background-hover-red: rgb(66, 23, 22);
$help-block-color: #a94442;

$regular-family:'proxima-nova-regular', "Open Sans", Arial, Helvetica, sans-serif;
$bold-family:'proxima-nova-bold', "Open Sans", Arial, Helvetica, sans-serif;

$body-main:14px;
$border-radius :2px;
$box-shadow:0 1px 0 rgba(0,0,0,0.05);

.grey {
  color: $grey;
}
