//= require bootstrap
//= require ladda
//= require uniform.default.min.css
//= require metronic/metronic-components.css
//= require metronic/metronic-layout.css
@import "base/font-awesome-v5.0.4";
@import "base/glyphicons";

body{
  font-family: 'proxima-nova-regular';
  background-color: #e5e5e5;
  padding: 0px;
  margin: 0px;
  font-size: 15px;
}

#add-camera-widget {
  min-height: 392px;
  padding:24px 13px 0px;
}
#camera-info {
  margin-top: 20px;
  margin-bottom: -26px;
  .input-group {
    min-width: 265px;
  }
}
#user-create {
  margin-top:15px;
  .input-group {
    min-width: 265px;
  }
}

.control-label {
  margin-top: 0px;
}
.center-tabs{
  text-align: center;
}
.visibility-hidden{
  visibility: hidden;
}
.visibility-visible{
  visibility: hidden;
}
.nav-steps{
  width: 100%;
  background-color: #ffffff;
  height: 55px;
  margin-bottom: 5px;
  padding-left: 0px;
}
.nav-steps li{
  height: 60px;
  list-style: none;
  display: inline-block;
  min-width: 266px;
  text-align: center;
  border-bottom: 5px solid #becdd9;
  cursor: pointer;
  padding-top: 13px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media (max-width: 991px) {
  .nav-steps li{
    min-width: 32%;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .nav-steps{
    height: 42px;
  }
  .nav-steps li{
    height: 47px;
  }
}
.nav-steps li.active{
  border-bottom: 5px solid #428bca;
  font-family: 'proxima-nova-bold';
}
.page-content{
  background-color: #fff;
  margin-top: 3px
}
.help-font-size{
  font-size: 13px;
}
.help-text{
  color: #428bca;
}
.image-placeholder{
  border: 1px solid #e5e5e5;
  max-height: 137px;
  padding: 5px;
  text-align: center;
  background-image: asset-url('camera.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#model-image {
  max-width: 100%;
  height: 129px;
}
#vemdor-image{
  position: absolute;
  top: -8px;
  left: -4px;
  max-width: 100%;
  height: 22px;
}
.info-box{
  background-color: #f5f5f5;
  padding: 20px;
  height: 100%;
  min-height: 320px;
  margin-top: 5px;
}
.info-header{
  font-family: "proxima-nova-bold";
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.info-text{
  margin-top: 10px;
  font-size: 16px;
  color: #bbbbbb;
}
.clear-f{
  clear: both;
  padding: 0px;
}
.padding-top-20{
  padding-top: 20px;
  padding-bottom: 40px;
}
.form-control {
  font-size: 16px;
  padding: 6px 0px;
}
.form-control:focus {
  border-color:#428bca;
}
input.form-control{
  border: none;
  border-bottom: 2px solid #aaaaaa;
  border-radius: 0px;
  -moz-border-radius: 0px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  color:#e0e0e0;
  border-bottom:2px solid #e0e0e0 !Important;
}
.form-control[readonly]{
  background-color: #ffffff !important;
}
.form-control:focus label {
  color:#428bca;
}
.valid{
  border-bottom-color: #5ab57a !important;
}
.valid label {
  color:#5ab57a !Important;
}
.invalid{
  border-bottom-color: #ff0000 !important;
}
.test-img-settings {
  background-color: #ffffff;
  height: 200px;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
}
#testimg{
  height: auto;
  max-width: 300px;
}
.test-snapshot{
  margin-top: 10px;
}
.btn{
  text-align: center;
  border: 1px solid #428bca;
  background-color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.05em;
  font-family: 'proxima-nova-bold';
  padding: 13px;
  color: #428bca;
  width:100%;
  border-radius: 3px
}
.btn:hover {
  color: #428bca;
}
#create-account {
  margin-top: 40px;
}
.test-snapshot {
  .btn-test-snap {
    max-width: 300px;
  }
}
.snapshot-msg{
  margin-top: 15px;
  margin-bottom: 2px;
  text-align: center;
  padding: 10px 0;
  position: relative;
  top: 70px;
}
.msg-error{
  background-color: #ffffff;
  border: 1px solid #db4a39;
  color: #db4a39;
  margin-top: 66px;
  border-radius: 2px;
}
.msg-success{
  background-color: #5ab57a;
  color: white;
  top: -150px;
  font-size: 14px;
  text-transform: uppercase;
}
.form-center{
  clear: both;
  display: inline-block;
  text-align: center;
}
.table > tbody > tr > td{
  border-top: none;
}
.margin-top-5 {
  margin-top: 5px;
}
#user-create, #camera-info, #continue-step2{
  display: none;
}
.input-group{
  text-align: left !important;
}
.camera-url {
  margin-left: 32px;
  margin-top: 20px;
  .col-md-4 {
   padding: 0px 3px 0px 10px;
  }
  .col-md-2 {
    padding: 0px 3px 0px 10px;
  }
  .col-md-5 {
    padding: 0px 3px 0px 10px;
  }
  .prepend-2 {
    font-family: "proxima-nova-bold";
    margin-left: -8px;
    margin-top: 6px;
    position: absolute;
  }
  .prepend-3 {
    font-family: "proxima-nova-regular";
    margin-left: -44px;
    margin-top: 6px;
    position: absolute;
    font-size: 16px;
  }
}
.authentication {
  margin-left: 40px;
  .input-group label {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:#aaaaaa;
  }
  input {
    margin-right: 5px;
  }
}
@media (max-width: 480px) {
  .authentication {
    margin-left: 10px;
  }
}
#authentication {
  margin-left: 14px;
}
* { box-sizing:border-box; }


.group {
  position: relative;
}
#user-create .group, #camera-info .group {
  margin-bottom: 15px;
}
.left {
  padding-left: 10px;
}

select {
  min-width: 210px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-appearance: none;
  text-indent: 0.01px;
  background: transparent;
  text-overflow: '';
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0px !important;
  border-bottom: 2px solid #aaaaaa !important;
}
.dropdown::after {
  background: transparent;
  color: #a0a0a0;
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  font-weight: 900;
  font-size: 12px;
  padding: 8px 0px;
  position: absolute;
  right: -11px;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.form-control[disabled] .dropdown:after {
  color: #e0e0e0;
}
.form-group {
  position: relative;
  margin-top: 15px;
  margin-bottom: 35px;
}
.form-group:last-child {
  margin-bottom: 15px;
}
.input-group {
  position: relative;
}
.form-control {
  display: block;
  height: 36px;
  width: 100%;
  border: none;
  border-radius: 0 !important;

  font-size: 16px;
  font-weight: 300;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #757575;
}
.input-group .form-control {
  position: relative;
  z-index: inherit;
  float: inherit;
  width: 100%;
  margin-bottom: 0;
}
.form-control:focus {
  border-color: #757575;
  outline: none;
  box-shadow: none;
}
/* -- label styles ---------------------------------- */
label {
  position: absolute;
  top: -18px;
  color: #999;
  font-size: 12px;
  font-weight: 300;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.form-horizontal .control-label {
  position: relative;
  top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    font-size: 16px;
  }
}
.float-label {
  left: 0;
  top: 7px;
  font-size: 16px;
  pointer-events: none;
}
.form-control:focus ~ .float-label, .form-control:valid ~ .float-label {
  top: -18px;
  font-size: 13px;
}
.form-control:focus {
  ~ label {
    color: #428bca;
  }
  ~ .form-bar:before, ~ .form-bar:after {
    background: #428bca;
  }
}
.form-control:valid ~ .control-label {
}
.form-group .help-block {
  position: absolute;
}
.help-block {
  color: #bdbdbd; // caption
  font-size: 12px;
  font-weight: 300;
}
.input-group-addon {
  border: none;
  background: transparent;
}
/* ------  inline ----*/
.input-group-addon, .form-inline .input-group {
  display: table-cell;
}
.input-group-addon, .input-group-btn {
  width: inherit;
}
.input-group {
  width: 100%;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    margin-top: 16px;
  }
  .input-group-btn, .input-group .form-control, .input-group-addon, .form-inline .input-group {
    display: inline-block;
  }
  .input-group {
    width: auto;
  }
}
/* -- bar styles -------------------------------------- */
.form-bar {
  position: relative;
  display: block;
  width: 100%;
}
.form-bar:before, .form-bar:after 	{
  content: '';
  height: 3px;
  width: 0;
  bottom: 0;
  position: absolute;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}
.form-bar:before {
  left: 50%;
}
.form-bar:after {
  right: 50%;
}
/* active state */
.form-control:focus ~ .form-bar:before, .form-control:focus ~ .form-bar:after {
  width: 50%;
}
/* -- highlighter styles ------------------------------ */
.form-highlight {
  position: absolute;
  height: 60%;
  width: 60px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.4;
}
/* active state */
.form-control:focus ~ .form-highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@media (min-width: 768px) {
  .form-inline .radio label, .form-inline .checkbox label {
    padding-left: 5px;
  }
}
.form-control-static {
  font-size: 16px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: transparent;
  border-bottom-style: dashed;
}
#focusedInput {
  border-color: #ccc;
  border-color: rgba(82,168,236,.8);
  outline: 0;
  box-shadow: none;
}

@media (max-width: 480px) {
  .mobile-hide {
    display: none;
  }
}
