// Place all the styles related to the live hikvision-widget here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Hikvision Widget */
#hikvision-widget .control-label {
  margin-top: 8px;
}

#hikvision-widget .help-block {
  width: 100%;
  font-size:12px;
}
#hikvision-widget #code {
  min-height: 160px;
}
#hikvision-widget .dropdown-padding-left{
  padding-left: 0px;
  padding-right: 1px;
}
#hikvision-widget .time-dropdown{
  min-width: 40px;
  padding: 0px 4px;
}
#hikvision-widget #code {
  min-height: 160px;
}
#hikvision-widget h5 {
  margin-top: 0px;
}
