// Place all the styles related to the live hikvision-widget here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Hikvision Widget */
#hikvision-widget .control-label {
  margin-top: 8px;
}

#hikvision-widget .help-block {
  width: 100%;
  font-size:12px;
}

#hikvision-widget .placeholder {
  border:1px solid #f5f5f5;
}
#hikvision-widget .dropdown-hours{
  padding-left: 0px;
}
#hikvision-widget .dropdown-minutes{
  padding-left: 7px;
}
#hikvision-widget #code {
  min-height: 160px;
}
#hikvision-widget .dropdown-padding-left{
  padding-left: 0px;
  padding-right: 1px;
}
.line-break{
  border-bottom: 1px solid #ffffff;
  margin-bottom: 15px;
  margin-top: 15px;
}
