.body-transparent{
    background-color: transparent;
}
@font-face {
    font-family: 'proxima-nova-regular';
    src: asset-url('proximanova-regular-webfont.eot');
    src: asset-url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
    asset-url('proximanova-regular-webfont.woff') format('woff'),
    asset-url('proximanova-regular-webfont.ttf') format('truetype'),
    asset-url('proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova-bold';
    src: asset-url('proximanova-semibold-webfont.eot');
    src: asset-url('proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    asset-url('proximanova-semibold-webfont.woff') format('woff'),
    asset-url('proximanova-semibold-webfont.ttf') format('truetype'),
    asset-url('proximanova-semibold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*///////////////////////////
// RECORDING - SNAPSHOT
///////////////////////////*/
th {
    font-family: "proxima-nova-bold", "Open Sans", sans-serif;
    font-weight: normal;
}

#recording input {
    font-size: 16px;
}
#recording .has-snapshot{
    color: #428bca;
    font-family: "proxima-nova-bold";
    font-weight: bold;
}
#recording-tab .table-condensed > tbody > tr > td {
    padding: 0px;
}
#recording-tab .datepicker td {
    width: 25px;
    height: 25px;
}
#recording-tab.row{
  margin-right: 0px;
  margin-left: 0px;
}
#recording-tab .btn {
    padding: 9px 14px;
    border:1px solid #ffffff;
}
@media (max-width: 480px) {
  #recording-tab .btn {
    padding: 9px 5px;
  }
}
#recording-tab .btn-padding {
    padding: 9px 14px;
}
#btnFRwd i, #btnFFwd i {
    font-size: 16px;
}
#btnRwd i, #btnFwd i {
    font-size: 13px;
}
#btnPlayRec {
    padding-top: 2px;
}
#recording-tab .table-condensed tbody {
    background-color:#fff;
    border: none;
}
#recording-tab thead {
    background-color: #f6f6f6;
    border: 1px solid #e5e5e5;
}
#imgPlayback {
    border: 1px solid #efefef;
}
.left-column {
    width: 100%;
    max-width: 906px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}
.right-column {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 100%;
}


@media (min-width: 850px) {
    .left-column {
        width: 70%;
    }
    .right-column {
        width: 30%;
    }
}
@media (max-width: 780px) {
    .left-column {
        width: 558px;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 20px;
    }
    .right-column {
        float: left;
    }
}
@media (max-width: 480px) {
  .left-column {
    width: 100%;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
  }
  .right-column {
    float: left;
  }
}

.snapshots {
    position: relative;
    overflow:hidden;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
.snapshots i {
    color:#ffffff;
    cursor: pointer;
}
.tri-option {
    top:18px;
    right:15px;
    position: absolute;
    opacity: 1;
    cursor: pointer;
}
.menu-right.menu-open .tri-option {
    opacity: 0;
}
.fa-ellipsis-v {
    padding: 10px 13px 8px 14px;
    background: rgba(0,0,0,.6);
    border-radius: 50%;
    font-size:17px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.top{top:0}

.right{right:0;}
.float-right {
    float: right;
}
ul li {
    padding-left: 0px;
    margin: 0;
    padding: 0;
}
.snapshot-menu-bar li i {
    margin: 24px auto;
    display:block;
}
.snapshot-menu-bar a:hover {
    text-decoration: none;
}
.snapshot-menu-bar {
    background: #428bca;
    position: fixed;
    width: 60px;
    height: 100%;
    top: 0;
    z-index: 1000;
    border:1px solid transparent;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.snapshot-menu-bar-2 {
    background: #68A2D5;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
/* Vertical menu that slides from the left or right */

.menu-right {
    right: -60px;
    position: absolute;

}

.menu-right.menu-open {
    right: 0px;
}


.menu-right2 {
    right: -60px;
    position: absolute;

}

.menu-right2.menu-open {
    right: 0px;
}


@media screen and (max-height: 26.375em){

    .snapshot-menu-bar {
        font-size: 90%;
        width: 190px;
    }

    .menu-left,
    .menu-push-toleft {
        left: -190px;
    }

    .menu-right {
        right: -190px;
    }

    .menu-push-toright {
        left: 190px;
    }
}
.snapshots:hover .snapshot-sidebar {
    opacity: 1;
}

/*Start Recording tab stylesheet*/
@media (min-width: 840px) {
    .col-recording-right {

    }
}
.loader-bg{
    left: 2px;
    top: 2px;
    position: absolute;
    display: none;
    background: asset-url('trans-grey.png') 0px;
}
.playback-slider-outer{
    width:100%;
    height:1.12em;
    cursor:pointer;
    margin-top:2px;
    background:asset-url('sel.jpg') repeat-x -2px 0px;
}

.playback-slider-inner{
    background:#0000FE asset-url('bar.jpg') repeat-x -2px 0px;
    width:0px;
    height:1.12em;
    float:left;
    position:relative;
}

.ui-slider-recordings{
    background: asset-url('p1.gif');
    height:1.12em;
}

.clear-f{
    clear: both;padding: 0px;margin: 0px;
}

.margin-top-10{
    margin-top: 10px;
}

.playback-info-bar{
    text-align: center;
    margin:4px 0px;
    padding: 8px 0px;
    background-color: #f3f3f3;
    position: relative;
}
.date-time {
    position: absolute;
    right:10px;
}
.playback-datepicker{
    border:solid 1px #999999;
}

.playback-buttons-bar{
    width: 100%;
    text-align: center;
}

.width100{
    width: 100%;
}

.MDSlider-outer{
    background-color: #e2e2e2;
    border: 1px solid #b6b6b6;
    max-width: 66em;
    height: 105px;
    padding: 5px 10px;
}

.MDSlider{
    max-width: 66em;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 93px;
}

#divSliderMD ul, ol{
    margin: 0;
}

#MDSliderItem li{
    width: 75px;
    height: 85px;
    font-size: 10px;
    text-align: center;
    list-style: none;
    padding-right: 5px;
    float: left;
    cursor: pointer;
}

.label-noMD{
    position:relative;
    top:30px;
    text-align:center;
    width:100%;
    z-index:100;
}

#divPopup{
    position: absolute;
    text-align: center;
    display: none;
    background-color: #FFFFE1;
    border: 1px solid #000000;
    font-size: 8pt;
    padding-left: 3px;
    padding-right:3px;
}

.datepicker-bg{
    background-color: #fff;
    width: 210px;
}
@media (max-width: 845px) {
    .datepicker-bg {
      background-color: #fff;
      float: left;
      margin: 0 auto;
      margin-right: 15px;
    }
}
@media (max-width: 480px) {
  .datepicker-inline {
    display: block;
    
  }
}
.datepicker{
    border: 1px solid #efefef;
    font-size: 12px;
}

.table-condensed th {
    font-size: 14px;
}

.table-condensed tbody{
    border: 1px solid #dddddd;
    background-color: #f6f6f6;
}

.red{
    color: #ff0000;
}
.green{
    color: green;
}
.day{
    font-size: 12px;
}
/*End Recording tab stylesheet*/
