<div class="portlet solid margin-top-40">
  <div class="portlet-body">
    <div class="info-preview">
      <div class="camera-preview">
        <% if @camera['is_online'] %>
        <%= preview(@camera, false) %>
        <% else %>
        <%= preview(@camera, true) %>
        <%end%>
      </div>
    </div>
  </div>
  <span class="bold">Last Snapshot</span>
</div>
