<div class="portlet solid margin-top-40">
  <span class="bold">Last Snapshot</span>
  <div class="portlet-body">
    <div class="info-preview">
      <div class="camera-preview">
        <span id="refresh-snapshot" class="refresh-detail-snap"><i class='fas fa-sync icon-font fa-spin fa-1x fa-fw refresh-gif'></i><i id="snaps" class="fas fa-sync still-icon icon-font"></i></span>
        <%= preview(@camera, true) %>
      </div>
    </div>
  </div>
</div>
