<div class="portlet solid margin-top-40">
  <div class="portlet-body">
    <div class="info-preview">
      <div class="camera-preview">
        <span id="refresh-snapshot" class="refresh-detail-snap"><img src="/assets/refresh.gif" class="refresh-gif"><i id="snaps" class="fa fa-refresh"></i></span>
        <%= preview(@camera, true) %>
      </div>
    </div>
  </div>
  <span class="bold">Last Snapshot</span>
</div>
