<div class="portlet solid margin-top-40">
  <div class="portlet-title">
    <div class="caption">Last Snapshot</div>
  </div>
  <div class="portlet-body">
    <div class="info-preview">
      <div class="camera-preview">
        <%= preview(@camera, false) %>
      </div>
    </div>
  </div>
</div>
