<div class="portlet solid margin-top-40">
  <div class="portlet-body">
    <div class="info-preview">
      <div class="camera-preview">
        <%= preview(@camera, true) %>
      </div>
    </div>
  </div>
  <span class="bold">Last Snapshot</span>
</div>
