<div class="info-location">
  <div class="portlet solid">
    <div class="portlet-title">
      <div class="caption">Location</div>
      <% if @has_edit_rights %>
        <div class="btn btn-edit edit-location" id='edit-location'>edit</div>
      <% end %>
    </div>
    <div class="portlet-body">
      <div class="row">
        <div class="col-md-12">
          <div id="map-info">
          </div>
        </div>
        <div class="col-md-12">
          <div id="co-ordinates">Location:
            <span id="coordinates-value">
              <%= @camera.deep_fetch('location', 'lat') {} %>, <%= @camera.deep_fetch('location', 'lng') {} %>
            </span>
          </div>
          <p id="testies" style="display: none;" class="note note-info marker-info margin-top-10">
            Drag the marker to re-locate the camera
          </p>
          <div id="location-settings" class="margin-top-10" style="display: none;">
            <% if @has_edit_rights %>
              <table class="table table-fixed table-borderless">
                <tr>
                  <td class="col-md-3">
                    <input id="cameraLats" name="cameraLat" class="form-control makeEditable" type="text" value="<%= @camera.deep_fetch('location', 'lat') {} %>">
                    <span class="help-block">Latitude</span>
                  </td>
                  <td class="col-md-3">
                    <input id="cameraLng" name="cameraLng" class="form-control makeEditable" type="text" value="<%= @camera.deep_fetch('location', 'lng') {} %>">
                    <span class="help-block">Longitude</span>
                  </td>
                  <td class="col-md-3">
                    <a id="save-map-location" class="btn btn-primary margin-right-10">Save</a>
                  </td>
                </tr>
              </table>
            <% else %>
              <p class="note note-info">You do not have permission to save edits to the camera location</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
