.user-applications {
  .app-box {
    border-bottom: 1px solid $secondary-grey;
    margin-top: 15px;
    padding: 15px 0;
  }

  .app-details {
    padding-bottom: 5px;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: transparent;
    border: 1px solid transparent;
  }
}