<div id="map-canvas"></div>

<%= javascript_tag do %>
  cameraLong = '<%= @camera.deep_fetch(:location, :lng) {} %>';
  cameraLat = '<%= @camera.deep_fetch(:location, :lat) {} %>';
<% end %>

<script type="text/javascript">
  $(window.Evercam.Location.initializeTab);
</script>