<div class="no-padding no-timelapse col-sm-12 col-md-8 margin-bottom-10 margin-top-20" id="divLoadingApps" style="display:none;">
  <div class="col-sm-12 col-md-7 padding-left-0">
    Snapmail is a scheduled email that contains a snapshot from your camera. Include as many emails and cameras as you like.<br><br>
    This clever feature sends you up-to-date, high-resolution images direct to your inbox.<br><br>
    Send images the day before a site meeting or send all project stakeholders a daily/weekly update.<br><br>
    Now everyone is updated, and you haven’t left your desk.
  </div>
  <div class="col-sm-12 col-md-5">
    <%= image_tag("scheduled-emails.jpg", :alt => "Schedule Snapmails", :class =>"snapmail-image") %>
  </div>
</div>
