<%= content_for(:title, "Evercam: Camera Dashboard") %>

<div class="page-content-wrapper">
  <div class="page-content" id="camera-index">

    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            Widget settings form goes here
          </div>
          <div class="modal-footer">
            <button type="button" class="btn blue">Save changes</button>
            <button type="button" class="btn default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <% @cameras.each do |camera| %>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 camera-index">
        <a class="" href="/v1/cameras/<%= camera['id'] %>">
          <div class="snapshot <% unless camera['is_online'] %> offline-snapshot <% end %>"> <%= preview(camera) %> </div>
          <div class="camera-info <% unless camera['is_online'] %> offline-grey <% end %>">
            <div class="camera-name">
              <%= camera['name'] %>
              <% unless camera['is_online'] %>
                <i class="red fa fa-chain-broken"></i>
              <% end %>
            </div>
          </div>
        </a>
      </div>
    <% end %>
    <a class="add-camera-index" href="/cameras/new">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 add-camera-outer">
        <div class="add-camera-info">
          <span class="add-camera-icon">+</span>
          <p class="add-camera">Add a Camera</p>
        </div>
      </div>
    </a>
  </div>
</div>

<script>
  $(document).ready(function () {
    window.initializeCameraIndex();
  });
</script>
