
<div class="boxed-page">
  <div class="container clearfix">
    <section id="container" >
      <!--header start-->
      <header class="header box-head">
        <div class="container">
          <div class="nav notify-row" id="top_menu">
            <div class="row">
              <div class="col-xs-10">
                <a class="btn btn-add" href="/cameras/new" role="button"><span class="glyphicon glyphicon-plus"></span>
                  <span>Add A Camera</span></a>
              </div>

            </div>
          </div>
        </div>
      </header>
      <!--header end-->
      <!--sidebar start-->

      <div id="sidebar" class="nav-collapse col-md-2 col-xs-12">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <li class="sub-menu">
            <a href="/" class="active">
              <span class="glyphicon glyphicon-camera"></span>
              <span>My Cameras</span>
            </a>
            <ul class="sub">
              <li><a href="">Mast Wicklow</a></li>
              <li><a href="single-camera.html">Remembrance Cam</a></li>
              <li><a href="">Rooftop Cam</a></li>
              <li><a href="">Reykjavik Harbour</a></li>
              <li><a href="">Washington Uni</a></li>
            </ul>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>

      <!--sidebar end-->
      <!--main content start-->
      <div class="col-md-10 col-xs-12 wrapper">
        <section id="main-content">
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12 cam">
                <section class="media">
                  <a href="#">
                    <img src="https://dashboard.evercam.io/v1/cameras/marcopublic/snapshot.jpg">
                  </a>
                </section>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 cam">
                <section class="media">
                  <a href="single-camera.html">
                    <img src="https://dashboard.evercam.io/v1/cameras/marcopublic/snapshot.jpg">
                  </a>
                </section>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 cam">
                <section class="media">
                  <a href="#">
                    <img src="https://dashboard.evercam.io/v1/cameras/washuni/snapshot.jpg">
                  </a>
                </section>
              </div>


              <div class="col-md-4 col-sm-6 col-xs-12 cam">
                <section class="media">
                  <a href="#">
                    <img src="https://dashboard.evercam.io/v1/cameras/marcoanto/snapshot.jpg">
                  </a>
                </section>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 cam">
                <section class="media">
                  <a href="#">
                    <img src="https://dashboard.evercam.io/v1/cameras/mast-wicklow/snapshot.jpg">
                  </a>
                </section>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 cam">
                <section class="media">
                  <a href="#">
                    <img src="https://dashboard.evercam.io/v1/cameras/mast-wicklow/snapshot.jpg">
                  </a>
                </section>
              </div>
            </div>
        </section>
      </div>
      <!--main content end-->
    </section>
  </div>
</div> <!--boxed page end-->