
<div class="boxed-page">
  <div class="container clearfix">
    <section id="camera-dash">

    <!--sidebar start-->
      <div id="sidebar" class="nav-collapse col-md-2 col-xs-12">
        <ul class="sidebar-menu" id="nav-accordion">
          <li class="sub-menu">
            <a href="/" class="active">
              <span>My Cameras</span>
            </a>
          </li>
          <li>
            <ul class="sub">
              <li>
                <!--<%# @cameras.each do |camera| %>
                <a href="/cameras/<%#= camera['id'] %>"><%#= camera['name'] %></a>
                <%# end %>-->
              </li>
            </ul>
          </li>
          <li>
            <a href="/cameras/new"><span class="glyphicon glyphicon-plus"></span>Add A Camera</a>
          </li>
        </ul>
      </div>
      <!--sidebar end-->
      <!--main content start-->
      <div class="col-md-10 col-xs-12 wrapper">
        <section id="main-content">
            <div class="row">

              <% @cameras.each do |camera| %>
              <div class="col-md-4 col-sm-6 col-xs-12 cam">
                <section class="media">
                  <a href="/cameras/<%= camera['id'] %>">
                  <div id="cam-name"><h5><%= camera['name'] %></h5></div>
                    <img src="<%= camera['jpg'] %>" onerror="this.style.display='none'"/>
                    <a href="#" id="cam-refresh" class="refresh"><span class="glyphicon glyphicon-refresh"></span></a>
                  </a>
                </section>
              </div>
              <% end %>


            </div>
        </section>
      </div>
      <!--main content end-->
    </section>
  </div>
</div> <!--boxed page end-->
<script type="text/javascript">
    $("img").error(function(){$(this).hide();});
    $( '.refresh' ).click(function() {
        location.reload();
    });

</script>