
<div class="boxed-page">
<div class="container clearfix">
<section id="container" >
<!--header start-->
<header class="header box-head">
  <div class="container ">
    <div class="nav notify-row" id="top_menu">
      <div class="row">
        <div class="col-xs-10">
          <a class="btn btn-add" href="add-camera.html" role="button"><i class="fa fa-plus"></i>
            <span>Add A Camera</span></a>
        </div>
        <div class="col-xs-2">
          <div class="sidebar-toggle-box">
            <div class="fa fa-bars"></div>
          </div>

        </div>
      </div>
    </div>

  </div>
</header>
<!--header end-->
<!--sidebar start-->
<aside>
  <div id="sidebar" class="nav-collapse">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <!-- <li>
       <a href="/" class="active">
           <i class="fa fa-dashboard"></i>
           <span>Dashboard</span>
       </a>
   </li>-->
      <li class="sub-menu">
        <a href="/">
          <i class="fa fa-camera"></i>
          <span>My Cameras</span>
        </a>
        <ul class="sub">
          <li><a href="">Mast Wicklow</a></li>
          <li><a href="single-camera.html">Rememberance Cam</a></li>
          <li><a href="">Rooftop Cam</a></li>
          <li><a href="">Reykjavik Harbour</a></li>
          <li><a href="#">Washington Uni</a></li>
        </ul>
      </li>

      <!--<li>
          <a href="#">
              <i class="fa fa-user"></i>
              <span>Login Page</span>
          </a>
      </li>-->
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
  <section class=" wrapper site-min-height">
    <div class="col-md-12">

      <h3>Add A Camera</h3>

      <form action="#" method="post">

        <!-- STEP 1 -->
        <fieldset>
          <hr>
          <div class='row'>

            <div class='col-md-2'>
              <p><span class="label label-primary">1.</span></p><h5>Evercam Camera Info</h5>
            </div>

            <div class='col-md-3 col-md-offset-1 form-group'>
              <label class="control-label" for="camera-name">Evercam Camera Name</label>
              <span data-toggle="tooltip" data-title="This is the friendly name you will give to your Camera to identify it in the Evercam Dashboard" class="label label-default">?</span>
              <input id="camera-name" name="camera-name" placeholder="Rooftop Camera" class="form-control input-sm" required="" type="text">
            </div>

            <div class='col-md-3 form-group'>
              <label class="control-label" for="camera-id">Evercam Camera ID</label>
              <span data-toggle="tooltip" data-title="This the ID you have to create for your Camera that will need to be Unique for Evercam." class="label label-default">?</span>
              <input id="camera-id" name="camera-id" placeholder="roof-cam" class="form-control input-sm" required="" type="text">
            </div>

          </div>
          </hr>
        </fieldset>

        <!-- STEP 2 -->
        <fieldset>
          <hr>
          <div class='row'>

            <div class='col-md-2'>
              <p><span class="label label-primary">2.</span></p><h5>Cameras Credentials</h5>
            </div>

            <div class='col-md-3 col-md-offset-1 form-group'>
              <label class="control-label" for="camera-username">Camera Username</label>
              <span data-toggle="tooltip" data-title="The camera you are trying to connect will already have a Username that you will need to enter here. It will have been created by the camera owner" class="label label-default">?</span>
              <input id="camera-username" name="camera-username" placeholder="admin" class="form-control input-sm" required="" type="text">
            </div>

            <div class='col-md-3 form-group'>
              <label class="control-label" for="camera-password">Camera Password</label>
              <span data-toggle="tooltip" data-title="The camera you are trying to connect will already have a Password that will have been created by the camera owner" class="label label-default">?</span>
              <input id="camera-password" name="camera-password" placeholder="12345" class="form-control input-sm" required="" type="text">
            </div>

          </div>
          </hr>
        </fieldset>

        <!-- STEP 3 -->
        <fieldset>
          <hr>
          <div class='row'>

            <div class='col-md-2'>
              <p><span class="label label-primary">3.</span></p><h5>Path to your Camera</h5>
            </div>

            <div class='col-md-5  col-md-offset-1'>

              <div class='row'>
                <div class='col-md-8 form-group'>
                  <label class="control-label" for="camera">Camera URL or IP</label>
                  <span data-toggle="tooltip" data-title="This will just contain the IP address in the form of 149.237.192.68 - http:// is already included" class="label label-default">?</span>
                  <div class="input-group">
                    <span class="input-group-addon">http://</span><input id="camera" name="camera" placeholder="149.237.192.68" class="form-control input-sm" required="" type="text">
                  </div>
                </div>

                <div class='col-md-4 form-group'>
                  <label class="control-label" for="port">Port</label>
                  <!--<span data-toggle="tooltip" data-title="The snapshot URL is the path to where the cameras snapshots are currently stored." class="label label-default">?</span>-->
                  <input id="port" name="port" placeholder="8901" class="form-control input-sm" required="" type="text">
                </div>
              </div>

              <div class='row'>
                <div class='col-md-12 form-group'>

                  <label class="control-label" for="snapshot">Snapshot URL</label>
                  <span data-toggle="tooltip" data-title="The snapshot URL is the path to where the cameras snapshots are currently stored." class="label label-default">?</span>
                  <input type="text" id="snapshot" name="snapshot" placeholder="/snapshot/jpg" class="form-control input-sm" required="" >

                </div>
              </div>

              <div class='col-md-12 panel panel-default panel-body'>
                <p>By now you should be able to see a preview of your camera!</p>
                <p>Still Can't See Your Camera?</p>
                <ul class="list-inline">
                  <li><a href="#">FAQ/common-connection-issues</a></li>
                  <li><a href="#">Get our Support Team to connect your Camera</a></li>
                </ul>
              </div>

            </div>

            <div class='col-md-3'>
              <div class="media">
                <img id="testimg" src="/" width="100%">
              </div>
              <p class="text-center"><a href="#" id="test" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-refresh"></span>  Test Snapshot</a></p>
              <p class="text-center"><span data-toggle="tooltip" data-placement="top" data-title="If you have entered the correct Credentials, Camera URL/IP and Port into the fields to the left, the image above should show you what your camera is seeing right now. If there is no preview, then some of the information you have entered could be incorrect. Please check the info or refer to your Camera's Manual." class="label label-default">?</span></p>
            </div>

          </div>

          </hr>
        </fieldset>


        <!-- FINISH & ADD -->

        <fieldset>
          <div class='row'>
            <div class='col-md-3'>
            </div>
            <!-- Button -->
            <div class='col-md-4'>
              <div class="form-group">
                <label class="control-label" for="add-button"></label>
                <button id="add-button" name="add-button" class="btn btn-success">Finish &amp; Add</button>
              </div>
            </div>
          </div>

        </fieldset>

      </form>




    </div>


  </section>
</section>
<!--main content end-->
</section>
</div>
</div> <!--boxed page end-->

<script>
  $(function () {
    $('body').popover({
      selector: '[data-toggle="popover"]'
    });

    $('body').tooltip({
      selector: 'a[rel="tooltip"], [data-toggle="tooltip"]'
    });

    $('#test').click(function(e) {
      var params = ['external_url=http://' + $('#camera').val() + ':' + $('#port').val(), 'jpg_url=' + $('#snapshot').val(),
        'cam_username=' + $('#camera-username').val(), 'cam_password=' + $('#camera-password').val()];
      e.preventDefault();
      $.getJSON('http://localhost:9292/v1/cameras/test.json?' + params.join('&'))
        .done(function(resp) {
          console.log('success');
          $('#testimg').attr('src', resp.data);
        })
        .fail(function() {
          console.log('error');
        })
    });

  });
</script>