<div class="page-content-wrapper">
  <div class="page-content">
    <div id="visavail_container">
      <p id="draw_report"></p>
    </div>
  </div>
</div>
<script>
  moment.locale('en');
  window.Evercam.logs = <%= @formated_data.to_json.html_safe %>;
  $(document).ready(function () {
    window.initializeOnlineOfflineReport();
  });
</script>
