<div class="boxed-page">
<div class="container clearfix">

<section id="container">
  <!--header start-->
  <header class="header box-head">
    <div class="nav notify-row col-md-12" id="top_menu">
      <div class="col-xs-10">
        <a class="btn btn-add" href="/cameras/new" role="button"><span class="glyphicon glyphicon-plus"></span>
          <span>Add A Camera</span></a>
      </div>
    </div>
  </header>
  <!--header end-->
</section>

<!--sidebar start-->
<div id="sidebar" class="nav-collapse col-md-2 col-xs-12">
  <ul class="sidebar-menu" id="nav-accordion">
    <li class="sub-menu">
      <a href="/">
        <span class="glyphicon glyphicon-camera"></span>
        <span>  My Cameras</span>
      </a>
      <ul class="sub">
        <li><a href="#">Mast Wicklow</a></li>
        <li class="active"><a href="single-camera.html">Remembrance Cam</a></li>
        <li><a href="#">Rooftop Cam</a></li>
        <li><a href="#">Reykjavik Harbour</a></li>
        <li><a href="#">Washington Uni</a></li>
      </ul>
    </li>
  </ul>
</div>
<!--sidebar end-->


<section class=" wrapper site-min-height col-md-10">
  <div class="row">
    <div class="col-md-12"><p class="hd-title">Remembrance Cam</p></div>
  </div>

  <div class="row">


    <div class="col-md-12">
      <!--tab nav start-->
      <section class="panel">
        <header class="panel-heading tab-bg-dark-navy-blue ">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#live">Live View</a>
            </li>
            <li class="">
              <a data-toggle="tab" href="#settings">Settings</a>
            </li>
            <li class="">
              <a data-toggle="tab" href="#permissions">Permissions</a>
            </li>
            <li class="">
              <a data-toggle="tab" href="#apps">Apps</a>
            </li>
            <li class="">
              <a data-toggle="tab" href="#acitivity">Activity</a>
            </li>
          </ul>
        </header>

        <div class="panel-body">
          <div class="tab-content">
            <div id="live" class="tab-pane active">
              <div class="col-md-8">
                <div class="panel media">
                  <img src="https://dashboard.evercam.io/v1/cameras/marcopublic/snapshot.jpg" width="100%" height="auto">
                </div>
                <div class='col-md-12'>
                  <p class="text-center"><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-refresh"></span>  Refresh Snapshot</a></p>
                </div>
              </div>
              <div class="col-md-4">
                Camera Info
              </div>
            </div>

            <div id="settings" class="tab-pane">
              <form action="#" method="post">
                <div class="col-md-8">
                    <!-- STEP 1 -->
                    <div class='row'>
                      <div class='col-md-12'>
                        <h5>Evercam Camera Info</h5>
                      </div>
                      <div class='form-group col-md-6'>
                        <label class="control-label" for="camera-name">Camera Name</label>
                                                <span data-toggle="tooltip"
                                                      data-title="This is the friendly name you will give to your Camera to identify it in the Evercam Dashboard"
                                                      class="label label-default">?</span>
                        <input id="camera-name" name="camera-name" placeholder="Rooftop Camera"
                               class="form-control input-sm" required="" type="text">
                      </div>
                      <div class='form-group col-md-6'>
                        <label class="control-label" for="camera-id">Camera ID</label>
                                                <span data-toggle="tooltip"
                                                      data-title="This the ID you have to create for your Camera that will need to be Unique for Evercam."
                                                      class="label label-default">?</span>
                        <input id="camera-id" name="camera-id" placeholder="roof-cam"
                               class="form-control input-sm" required="" type="text">
                      </div>

                    </div>
                    <!-- STEP 2 -->
                    <div class='row'>

                      <div class='col-md-12'>
                        <h5>Cameras Credentials</h5>
                      </div>

                      <div class='col-md-6 form-group'>
                        <label class="control-label" for="camera-username">Camera Username</label>
                                                <span data-toggle="tooltip"
                                                      data-title="The camera you are trying to connect will already have a Username that you will need to enter here. It will have been created by the camera owner"
                                                      class="label label-default">?</span>
                        <input id="camera-username" name="camera-username" placeholder="admin"
                               class="form-control input-sm" required="" type="text">
                      </div>

                      <div class='col-md-6 form-group'>
                        <label class="control-label" for="camera-password">Camera Password</label>
                                                <span data-toggle="tooltip"
                                                      data-title="The camera you are trying to connect will already have a Password that will have been created by the camera owner"
                                                      class="label label-default">?</span>
                        <input id="camera-password" name="camera-password" placeholder="12345"
                               class="form-control input-sm" required="" type="text">
                      </div>

                    </div>

                    <!-- STEP 3 -->
                    <div class='row'>

                      <div class='col-md-12'>
                        <h5>Path to your Camera</h5>
                      </div>

                      <div class='col-md-12'>

                        <div class='row'>
                          <div class='col-md-8 form-group'>
                            <label class="control-label" for="camera-url">Camera URL or IP</label>
                                                        <span data-toggle="tooltip"
                                                              data-title="This will just contain the IP address in the form of 149.237.192.68 - http:// is already included"
                                                              class="label label-default">?</span>

                            <div class="input-group">
                              <span class="input-group-addon">http://</span><input id="textinput"
                                                                                   name="textinput"
                                                                                   placeholder="149.237.192.68"
                                                                                   class="form-control input-sm"
                                                                                   required=""
                                                                                   type="text">
                            </div>
                          </div>

                          <div class='col-md-4 form-group'>
                            <label class="control-label" for="port-url">Port</label>
                            <!--<span data-toggle="tooltip" data-title="The snapshot URL is the path to where the cameras snapshots are currently stored." class="label label-default">?</span>-->
                            <input id="port" name="port" placeholder="8901"
                                   class="form-control input-sm" required="" type="text">
                          </div>
                        </div>

                        <div class='row'>
                          <div class='col-md-12 form-group'>

                            <label class="control-label" for="snapshot-url">Snapshot URL</label>
                                                        <span data-toggle="tooltip"
                                                              data-title="The snapshot URL is the path to where the cameras snapshots are currently stored."
                                                              class="label label-default">?</span>
                            <input type="text" id="textinput" name="textinput"
                                   placeholder="/snapshot/jpg" class="form-control input-sm"
                                   required="">

                          </div>
                        </div>
                      </div>

                    </div>
                    <!-- FINISH & ADD -->
                    <div class='row cam'>
                      <div class='form-group col-md-12'>
                          <label class="control-label" for="add-button"></label>
                          <button id="add-button" name="add-button"
                                  class="btn btn-success text-center">Save
                          </button>
                      </div>
                    </div>
                </div>
              </form>
            </div>

            <div id="permissions" class="tab-pane">
              Permissions
            </div>

            <div id="apps" class="tab-pane">
              Apps
            </div>

            <div id="acitivity" class="tab-pane">
              Activity
            </div>
          </div>
        </div>

      </section>
    </div><!-- 12 -->

  </div><!-- Row -->
</section><!-- Section Warpper -->





</div>
</div> <!--boxed page end-->