// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*///////////////////////////
// PUBLIC CAMS
///////////////////////////*/

#public-index .tab-content {
  padding-top: 0px;
  margin-top: 0px;
  background-color: #ffffff;
  overflow: auto;
  padding-bottom: 0px;
}
.public-cam-box {
  height: 350px;
  line-height: 250px;
  overflow: hidden;
  text-align: center;
}
.public-cam-box img {
  height:120%;
  margin-left: -15px;
}

#public-index .tabbable-line > .nav-tabs {
  position: absolute;
  top: 1px;
  z-index: 100;
  right: 0;
}

#public-index .tabbable-line > .nav-tabs > li {
  background: rgba(0,0,0,0.1);
}
#public-index .tabbable-line > .nav-tabs > li.active {
  border-bottom: none;
}
#public-index .nav-tabs > li.active > a {
  background: rgba(0,0,0,0.2) !important;
}
#public-index .tabbable-line > .nav-tabs > li:hover {
  border-bottom: none !important;
  background: rgba(0,0,0,0.2);
}
#list {
  margin-top: 20px;
}
#public-single .fa-arrow-left {
  margin-right: 6px;
  font-size: 16px;
}
#public-single .fa-plus-circle {
  margin-left: 12px;
  font-size: 20px;
}

.add-to-cams {
  position: absolute;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
  border-bottom-left-radius: 1px;
  cursor: pointer;
  padding: 10px 10px 5px;
  position: absolute;
  margin-left: -80px;
  left: 50%;
  top:50%;
  background-color: #428bca;
  margin-top: -12px;
  visibility: hidden;
  border-radius: 1px;
  opacity: 0;
  color: #fff;
}

.add-to-cams:hover {
  background-color: #3680c0;
}
.add-to-cams a {
  color: #FFFFFF;
}
.public-cam-box:hover .add-to-cams {
  visibility: visible;
  opacity:1;
  transition: visibility 0s linear 0.1s,opacity 0.3s linear;
}
.public-preview img {
  width: 100%;
}
#public-cam-single .glyphicon-plus {
  margin-left: 8px;
  float: right;
  border: 1px solid #428bca;
  border-radius: 56%;
  padding: 5px 5px 6px 6px;
  top: -5px;
  color: #428bca;
}

#public-info p {
  margin-top: 2px;
  color: #aaa;
}

/*MAP */
#map-canvas{
  width: 100%;
  height: 1000px;
  background: #e9e9e9;
}

/* Smartphones (portrait) ----------- */
@media screen and (max-width: 480px){
  #map-canvas{
    height: 300px;
  }
}
#public-map-canvas {
  width: 100%;
  height: 300px;
}

#map {
  width: 500px;
  height: 500px;
}
.hiddenRow {
  padding: 0 !important;
}
.modal-dismiss {
  position: absolute;
  top: -5px;
  right: -14px;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
}
table.dataTable {
  border-bottom: 1px solid #e5e5e5;
}
table.dataTable thead > tr > th {
  padding-left: 10px;
}
div.dataTables_filter input {
  margin-left: 6px;
}
/*MAP PUBLIC*/

#map-public {
  width: 100%;
  height: 250px
}
#public-index h5 {
  margin-top: 12px;
  margin-bottom: 5px;
  font-weight:600;
}
#public-index a {
  cursor: pointer;
  text-decoration: none;
}
#public-index tr {
  border-bottom: none;
}
#public-index tr td {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#public-index{
  padding: 0;
}
a[href^="http://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span {
  display:none !important;
}
.gmnoprint div {
  background:none !important;
}
