<div evercam="localstorage"></div>

<script type="text/javascript" src="https://s3.amazonaws.com/cdn.evercam.io/js/localstorage/0.0.1/hikvision.local.storage.mini.js"></script>
<script type="text/javascript">

  $('.tabbable-custom')
      .on('click','a[data-toggle="tab"]', function() {
        if ($(this).attr('href') == '#local') {
          // Set Evercam Camera ID
          LocalStorage.options.cameraId = '<%= @camera['id'] %>';

          // OR //
          // Using api_id and api_key
          LocalStorage.options.api_id = '<%= current_user.api_id -%>';
          LocalStorage.options.api_key = '<%= current_user.api_key -%>';

          // Finally Load the widget
          LocalStorage.Load();
        }
      });

</script>
