.btn-edit {
  font-size: 16px !important;
  color: #666666;
  padding: 1px 19px;
  transition: all .2s linear;
  background-color: $white;

}
.btn-edit:hover {
  transition: all .2s linear;
  color: $main-color;
}

.non-button {
  background-color: #ffffff !Important;
  border: none !Important;
  padding: 0 !Important;
  color: #428bca;
}
.non-button:hover {

}