.form-control[disabled] {
  background-color: $white;
  border:none;
  background-image: none !Important;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
.form-control[disabled] select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-short {
 max-width: 123px;
}