/*/////////////////////
//DEV
/////////////////////*/
#swagger-ui-container .container {
  float: left;
}
#apikeys {
  margin: 20px 4px 0px;
  border-bottom: 1px solid #f5f5f5;
  overflow: auto;
  padding-bottom: 20px;
}
#code {
  min-height: 130px;
  border: 2px solid #e5e5e5;
  padding: 7px;
  width: 100%;
}
