/*
 *= require_self
 *= require bootstrap-3.2.0.css.scss
 *= require bootstrap-theme
 *= require admin/fonts.css.scss
 *= require metronic-components.css
 *= require datepicker.css
 */


.body-transparent{
    background-color: transparent;
}
/*///////////////////////////
// RECORDING
///////////////////////////*/
#recording {

}
#recording .has-snapshot{
    color: #428bca;
    font-family: proxima-nova-bold;
}
#recording-tab .table-condensed > tbody > tr > td {
    padding: 0px;
}
#recording-tab .datepicker td {
    width: 25px;
    height: 25px;
}
#recording-tab .table-condensed tbody {
    background-color:#fff;
    border: none;
}
#recording-tab thead {
    background-color: #f6f6f6;
    border: 1px solid #e5e5e5;
}
#imgPlayback {
    border: 1px solid #efefef;
}
.left-column {
    width: 100%;
    max-width: 706px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}
.right-column {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 100%;

}

@media (min-width: 850px) {
    .left-column {
        width: 70%;
    }
    .right-column {
        width: 30%;
    }
}
@media (max-width: 700px) {
    .left-column {
        width: 70%;
    }
    .right-column {
        width: 30%;
    }
}
/*Start Recording tab stylesheet*/
@media (min-width: 840px) {
    .col-recording-right {

    }
}
.loader-bg{
    left: 2px;
    top: 2px;
    position: absolute;
    display: none;
    background: url('trans-grey.png') 0px;
}
.playback-slider-outer{
    width:100%;
    height:1.12em;
    cursor:pointer;
    margin-top:2px;
    background:url(sel.jpg) repeat-x -2px 0px;
}

.playback-slider-inner{
    background:#0000FE url(bar.jpg) repeat-x -2px 0px;
    width:0px;
    height:1.12em;
    float:left;
    position:relative;
}

.ui-slider-recordings{
    background: url(p1.gif);
    height:1.12em;
}

.clear-f{clear: both;padding: 0px;margin: 0px;}

.margin-top-10{margin-top: 10px;}

.playback-info-bar{
    text-align: center;
    margin-top: 6px;
    margin-bottom: 10px;
    padding: 5px 0px;
    background-color: #f3f3f3;
}

.playback-datepicker{
    border:solid 1px #999999;
}

.playback-buttons-bar{
    width: 100%;
    text-align: center;
}

.width100{width: 100%;}

.MDSlider-outer{
    background-color: #e2e2e2;
    border: 1px solid #b6b6b6;
    max-width: 66em;
    height: 105px;
    padding: 5px 10px;
}

.MDSlider{
    max-width: 66em;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 93px;
}

#divSliderMD ul, ol{
    margin: 0;
}

#MDSliderItem li{
    width: 75px;
    height: 85px;
    font-size: 10px;
    text-align: center;
    list-style: none;
    padding-right: 5px;
    float: left;
    cursor: pointer;
}

.label-noMD{
    position:relative;
    top:30px;
    text-align:center;
    width:100%;
    z-index:100;
}

#divPopup{
    position: absolute;
    text-align: center;
    display: none;
    background-color: #FFFFE1;
    border: 1px solid #000000;
    font-size: 8pt;
    padding-left: 3px;
    padding-right:3px;
}

.datepicker-bg{
    background-color: #fff;
    width: 210px;
}
@media (max-width: 845px) {
    .datepicker-bg {
        background-color: #fff;
        width: 210px;
        margin: 0 auto;
    }
}

.datepicker{
    border: 1px solid #efefef;
    font-size: 12px;
}

.table-condensed th {
    font-size: 14px;
}

.table-condensed tbody{
    border: 1px solid #dddddd;
    background-color: #f6f6f6;
}
.red{
    color: #ff0000;
}
.green{
    color: green;
}
.day{
    font-size: 12px;
}
/*End Recording tab stylesheet*/