/*/////////////////////
//CAMERA INDEX PAGE
/////////////////////*/
#camera-index .page-content-wrapper .page-content {
    padding:0;
}

#my-cameras .panel-body, #my-shared-cameras .panel-body {
    padding: 0px;
}

#cam-name {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.60);
    padding: 10px 10px 0px;
    position: absolute;
    right: 0;
    top: 0;
    cursor:pointer;
    border-bottom: 2px solid #303030;
    color: #303030;

}

.cam-box:hover #cam-refresh {
    visibility: visible;
    opacity: 1;
}

#cam-refresh {
    visibility: hidden;
    opacity: 0;
    color: #AAAAAA;
    margin-left: 5px;
    transition:visibility 0s linear 0.1s,opacity 0.4s linear;
}
#cam-refresh:hover {
    color: #428BCA;
}
.green {
    color:#2ECC71;
    margin-top: 10px;
    margin-right: 6px;
}
.red {
    color:#DC4C3F !important;
}
.grey {
    color:#aaa;
}
#offline {
    bottom: 5px;
    color: #AAAAAA;
    left: 50%;
    margin-left: -28px;
    position: absolute;
}

.cam-box {
    height: 357px;
    overflow: hidden;
    text-align: center;
background-color:#e5e5e5;

}
.cam-box:nth-child(3n+3) {
    margin-right: 0px;
}
@media (max-width: 480px) {
    .cam-box {
        width: 100%;
    }
}
.add-cam-box {
    padding-left: 0;
    padding-right: 0;
    width: 33.334%;
    height: 357px;
    line-height: 350px;
    overflow: hidden;
    text-align: center;

}
.add-cam-box p {
    border: 1px solid #f5f5f5;
    background-color: #fff;
}
@media (max-width: 480px) {
    .add-cam-box {
        width: 100%;
    }
}

.cam-box img {
    height: 120%;
    /*background-image: url("https://www.evercam.io/img/error.png");*/
    color:#ffffff;
    margin-left: -15px;

}
.logo-default img {
    max-width: 151px;
    margin-top: 9px;
}

/*/////////////////////
//ADD IP CAMERA PAGE
/////////////////////*/

#add-ip .tab-content {
padding: 20px 0px 0px 0px;
}
.additional {
    margin-bottom: -1px;
    margin-left: 5px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.settings {
    border-top: 1px solid #e5e5e5;
margin-bottom: 20px;
}
.label {
    margin-top: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 25px;
}
.info-sm {
    position: relative;
    right: 0;
    top: 33px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.test-snapshot {
     margin-top: 15px;
 }

#add-test .test-snapshot {
    margin-top: -4px;
}

#add-test {
    position: absolute;
    margin-left: -128px;
}
.test-img-holder {
    width: 200px;
    height: 200px;
    border:1px solid #e5e5e5;
    overflow: hidden;
}
#test-error {
     margin-top: 5px;
    text-align: center;
}
.testimg-add {
    height: 100%;
    width:auto;
}
#test {
    margin: 0 auto;
    width: 200px;
    display: block;
    margin: 0;

}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f5f5f5 inset;
}
.help {
    padding: 0px 15px;
    color: #428bca;
    border-left: 2px solid #428bca;
    margin-left: 15px;
    margin-top: 12px;
}
.help-sm {
    padding: 0px;
    color: #666666;
    border-left: 2px solid #428bca;
    padding-left: 12px;
    margin-bottom: 20px;
}
.help-block {
    font-size: 11px;
    width:110%;
    margin-bottom: 0;
    margin-top: 2px;
    color:#aaa;
}
#add-button {
    padding: 10px 30px;
    margin-top: 10px;
}



.media .test-snapshot a {
    color:#ffffff;
    font-weight: 600;
}
.add-row {
    /*border-top: 1px solid #F5F5F5;*/
    padding: 13px 0 10px;
}
.add-row-bottom {
    padding: 15px 0;
    /*border-top: 1px solid #F5F5F5;*/
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
    border: none;
    cursor: pointer;
    /*border-left: 1px solid #aaa !important;
    border-bottom: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;*/
    border-radius: 0px !Important;
    color:#428bca;
}
.form-control[disabled]:focus, .form-control[readonly]:focus, fieldset[disabled]:focus .form-control:focus {
    box-shadow: none;
    cursor:pointer;
}

.model {
    min-width: 259px;
}
.add-row .form-group {
    margin-bottom: 0px;
}
.vertical-align {
    display: inline-block;
    margin-left: -26px;

}

.glyphicon-arrow-right {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#ext-ip .form-error {
    display: none; /*temp-fix*/
}

.snap-end {
    min-width:173px;
}
.prepend {
    margin-left: -16px;
    margin-top: 6px;
    font-family: 'proxima-nova-bold';
    position: absolute;
}

/*///////////////////////////
// PUBLIC CAMS
///////////////////////////*/

.public-cam-box {
    height: 350px;
    line-height: 250px;
    overflow: hidden;
    text-align: center;

}
.public-cam-box img {
    height:120%;
    margin-left: -15px;

}
.add-to-cams {
    position: absolute;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border-bottom-left-radius: 1px;
    cursor: pointer;
    padding: 10px 10px 5px;
    position: absolute;
    margin-left: -80px;
    left: 50%;
    top:50%;
    background-color: #428bca;
    margin-top: -12px;
    visibility: hidden;
    border-radius: 1px;
    opacity: 0;
    color: #fff;
}

.add-to-cams:hover {
    background-color: #3680c0;
}
.add-to-cams a {
    color: #FFFFFF;
}

.public-cam-box:hover .add-to-cams {
    visibility: visible;
    opacity:1;
    transition: visibility 0s linear 0.1s,opacity 0.3s linear;
}
.create-share-button {
    margin-top: -14px;
}

#public-cam-single .glyphicon-plus {
    margin-left: 8px;
    float: right;
    border: 1px solid #428bca;
    border-radius: 56%;
    padding: 5px 5px 6px 6px;
    top: -5px;
    color: #428bca;
}
#public-cam-single {

}
.glyphicon-arrow-left {
    margin-right: 5px;
}

/*MAP */
#map-canvas {
    width: 100%;
    height: 680px;
}

#public-map-canvas {
    width: 100%;
    height: 650px;
}

#map {
    width: 500px;
    height: 500px;
}
/*MAP PUBLIC*/
#map-public {
    width: 100%;
    height: 166px;
    max-width: 332px;
}
#public-index h5 {
    margin-top: 12px;
    margin-bottom: 5px;
    font-weight:600;
}
/*SINGLE PUBLIC*/
.offline-public {
    display: table;
    border: 1px solid #e5e5e5;
    height: 418px;
    width: 100%;
    background-color: #f5f5f5;

}
.offline-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/***
Google Maps
***/
.gmaps {
    height: 300px;
    width: 100%;
    /* important!  bootstrap sets max-width on img to 100% which conflicts with google map canvas*/
}
.gmaps img {
    max-width: none;
}

#gmap_static div {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100%;
    display: block;
    height: 300px;
}

#gmap_routes_instructions {
    margin-top: 10px;
    margin-bottom: 0px;
}
#public-map .create-share-button {
    background-color: #428bca;
    color: #fff;
    width: 190px;
    margin: 0 auto;
}

/*/////////////////////
//SINGLE CAMERA PAGE
/////////////////////*/

.camera-title {

}

/*LIVE*/
#live img {
    width: 100%;
}

#live .panel-body {
    padding: 0px;
}
.tab-content h4 {

}
.camera-preview {
    position: relative;
}
#live .panel {
    width: auto;
}
.panel {
    margin-bottom: 20px;
    background: none;
    background-color: #fff;
    box-shadow:none;
    border: none;
}
#live .btn {
    padding: 14px 18px;
    margin-top: 1px;
    margin-left: 10px;
}
.offline {
    background-color: #DC4C3F;
    color: #fff;
}
.online {
    background-color: #2ECC71;
    color: #fff;
}
.green {
    color: #2ECC71;
    margin-top: 10px;
}
.red {
    color: #DC4C3F;
}
#live-refresh {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border-top-right-radius: 1px;
    font-weight: 600;
    padding: 5px 10px;
    position: absolute;
    left: 15px;
    text-transform: uppercase;
    bottom: 15px;
}
.tint img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}
.tint img:hover {
    -webkit-filter: grayscale(10%);
    -moz-filter: grayscale(10%);
    filter: grayscale(10%);
    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}
/* INFO */
.first-row {
max-width:200px;
    min-width:200px;
}
#info .table>tbody>tr>td {
    padding: 2px 10px;
}
#info .table>thead>tr>th {
    padding: 0px 0 4px;
}
/*EXPLORER */
#exp-swagger .container {
    width: 100%;
    margin-top: -40px;
 }
#unseen p {
    color: #aaaaaa;
    margin-bottom: 0px;
}
/*SHARING*/
.note-link {
    font-size: 12px;
    border-left: 2px solid #428bca;
    padding: 3px 8px;
    background-color: #f9f9f9;
    clear:both;
    float: left;
    margin-top: 8px;
}
#sharing .table > tbody > tr > td {
    vertical-align: middle;
}
.sharing {
    margin-top: -9px;
}
.glyphicon-remove {
    margin-right: 5px;
}
.delete-share-request-control {
    margin-top: 4px;
}
#sharing .radio input[type="radio"] {
    width: 20px;
}
#sharing .radio {
    min-height:24px;
}
.share-section {
    margin-bottom: 15px;
}
#sharingUserEmail {
    width:280px;
}
.email-input {
    margin-top: -25px;
}
.glyphicon-remove {
    cursor: pointer;
}

#sharing .note.note-info {
    margin-top: -20px;
}
.no-share-hide {
    display: none;
}

/*LOGS*/
#apply-types {
    margin: 20px 0px;
}
.glyphicon-cog {
    font-size: 16px;
}
.checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -19px;
    width: 18px;
    margin-top: 4px;
}

input:focus {
    box-shadow: none;
}

#explorer #resources {
    width: 100% !important
}

/*CAMERA SETTINGS*/

#camera-settings .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}
#camera-settings .input-group-addon {
    background-color: #fff;
    border: none;
    padding: 6px 0px 6px 12px;
}
#testimg {
    height: 100%;
    width:auto;

}
.test-img-settings {
    border: 1px solid #e5e5e5;
    width: 300px;
    height:300px;
    overflow: hidden;
}
.radio label {
    float:left;
}
.settings-id {
    width: 168px;
    padding-left: 10px;
    margin-top: 6px;
}
#camera-settings .test-snapshot{
    float: left;
}
#camera-settings #test-error {
    float: left;
    clear: both;
    display: none;
}
/*///////////////////////////
// BB ALERT STYLES
///////////////////////////*/
.bb-alert {
    position: fixed;
    top: 3.3%;
    left: 50%;
    padding: 0.8em 1em;
    z-index: 10000;
    font-size: 13px;
    margin-left: -155px;
    width: 315px;
    text-align: center;
}
#signin .bb-alert {
    position: absolute;
    top: 71px;

}
.bbb-alert {
    padding: 0.8em 1em;
    z-index: 2000;
    font-size: 13px;
    margin-left: -155px;
    width: 315px;
    text-align: center;
}
.alert-info {
    background-image: none;
    border-color: #428bca;
    border-radius: 2px;
}
/*/////////////////////
//DEV
/////////////////////*/
#swagger-ui-container .container {
    float: left;
}
#apikeys {
    margin: 20px 4px 0px;
    border-bottom: 1px solid #f5f5f5;
    overflow: auto;
    padding-bottom: 20px;
}
#code {
    max-width: 390px;
    min-height: 150px;
    border: 2px solid #e5e5e5;
    padding: 7px;
}
/*/////////////////////
//SIGN IN FORM
/////////////////////*/
#sign-in-section {
    background-color:#f5f5f5;
    min-height: 1000px;
}
#sign-in {
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 40px 0;
}
#sign-in .row {
    margin-top: 20px;
}
#sign-in label {
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 15px;
}
#signin .branding {
    margin: 30px auto 30px;


}
#signin .branding img {

    max-width: 200px;
}
#sign-in textarea, input {
    border: 1px solid #E5E5E5;
    background-color: #F5F5F5;
    border: 1px solid #E5E5E5;
    box-shadow: none;
    color: #404142;
    padding: 4px;
}
#sign-in textarea, input:focus {
    border-color: #428BCA;
    box-shadow: 0 0 5px rgba(66, 139, 202, 0.75), 2px 2px 3px rgba(255, 255, 255, 0.2) inset;
}
#sign-in input {
    width: 100%;
    margin: 0 auto;
}
.sign-in {
    margin-top: 34px;
}

/*CREATE ACCOUNT FORM - SIGNUP*/
#new-account {
    background-color:#f5f5f5;
}
#registration {
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 20px 0 40px;
}
#registration .row {
    margin-top: 12px;
}
#registration h3{
    padding-bottom:10px;
}
#registration label {
    font-weight: normal;
    margin-top: 7px;
    min-width: 106px;
    margin-left: -14px;
    text-align: left;
}
#registration textarea, input {
    border: 1px solid #E5E5E5;
    background-color: #F5F5F5;
    border: 1px solid #E5E5E5;
    box-shadow: none;
    color: #404142;
    padding: 4px;
    font-size: 14px;
    width: 100% ;
}
#registration textarea, input:focus {
    border-color: #428BCA;
    box-shadow: 0 0 5px rgba(66, 139, 202, 0.75), 2px 2px 3px rgba(255, 255, 255, 0.2) inset;
}

.create {
    margin-top: 20px !important;
}
.use {
    font-size:10px;
}
select {
    width: 100%;
}
@-moz-document url-prefix() {

    #country {
        background-image: none;
    }

}
/* Chrome fix for input colors */
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #f8f8f8 inset !important; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #f8f8f8 inset;
    -webkit-text-fill-color: #333;
    background-color: #f5f5f5 !important;
}

/* tooltip errors sign-in */
@media (min-width: 890px) {
    #registration .has-error .help-block {
        color: #a94442;
        position: absolute;
        display: inline;
        left: 99%;
        top: -6px;
        overflow: visible;
        width: 112%;
        background-color: #f2dede;
        padding: 5px 6px;
        border-radius: 2px;
        line-height: 16px;
        font-size: 14px;
    }
    .arrow_box {
        position: relative;
        background: #f2dede;
        border: 1px solid #dca7a7;
    }
    .arrow_box:after, .arrow_box:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box:after {
        border-color: rgba(242, 222, 222, 0);
        border-right-color: #f2dede;
        border-width: 5px;
        margin-top: -5px;
    }
    .arrow_box:before {
        border-color: rgba(220, 167, 167, 0);
        border-right-color: #dca7a7;
        border-width: 6px;
        margin-top: -6px;
    }
}

.has-error .form-control {
    background-color: #F5F5F5 !important;
    border: 1px solid #E5E5E5;
    box-shadow: none;
    padding: 6px;
    color: #404142;
}
/*/////////////////////
//SIDEBAR
/////////////////////*/
#offline-menu {
    float: right;
}
.red-dot {
    color: #DC4C3F;
    position: relative;
    right: -9px;
    top: -1px;
    border: 1px solid #4d4d4d;
    border-radius: 2px;
    padding: 0px 2px 1px 2px;
}
.green-dot {
    color: #2ECC71;
    position: absolute;
    right: -9px;
    top: 8px;
    border: 1px solid #e9eaed;
    border-radius: 2px;
    padding: 0px 2px 1px 2px;
}
.icon-briefcase {
    size: 16px;
}
.sub-menu-item a {
    border: none !important;
    padding-left: 40px !important;
}
.share-icon {
    background-image: url('https://www.evercam.io/img/share.png');
    width: 19px;
    display: block;
    background-size: 14px;
    background-repeat: no-repeat;
    height: 9px;
    float: left;
    margin-top: 16px;
    margin-left: 20px;
}

/*/////////////////////
//TABLE
/////////////////////*/

.table-borderless td {
    border-top:none !important;
    border-bottom:none !important;
    line-height:2.2 !Important;
}
.table-borderless th {
    border-top:none !important;
    border-bottom:none !important;
}
.table-borderless tfoot td {
    border-bottom:none;
}
.table-borderless-2 {
    border-bottom:none !important;
    width:auto;
}
.table-clean > tbody > tr > td{
    border-right: none !Important;
}
table.table-clean thead th {
    border-right: none !Important;
}
#offline-menu {
    float: right;

}

#main-content {
margin-left: 236px;}
.hide-left-bar {
    margin-left:-236px !important;
}
.merge-left {
    margin-left:0px !important;
}


/* USER SETTINGS */
#user-settings .form-horizontal .control-label {
    text-align: left;
}

/* PASSWORD RESET */
#pass-reset .branding .logo {
    height: 70px;
    display: block;
    margin-top: 20px;
}
#pass-reset .branding .logo img  {
    max-width: 200px;
}
#pass-reset .panel {
    padding: 20px 0px 30px 20px;
}


.page-sidebar .page-sidebar-menu .sub-menu-item a {
    padding: 7px 15px;
}

.hide {
    display: none;
}