.subscriptions {

  .page-content {
    overflow: auto;
  }

  .header {
    margin:0px 0px 40px;
  }

  .tab-content {
    background: #ffffff;
    padding: 30px 0 0;
  }

  h4 {
    font-family: $bold-family;
  }

  .table > tbody > tr > th {
    border-top:none;
    border-bottom: 1px solid $lighter-grey;
  }

  .nav-plans {
   max-width: 250px;
    margin:0 auto;
  }

  .temp {
    height: 40px;
  }

  .plans-select {
    margin-bottom: 25px;
  }

  .table {
    margin-bottom: 0px;
  }

  .note p {
    font-size: $body-main;
  }

  .note  {
    max-width: 300px;
    position: absolute;
    right: 15px;
    top: 20px;
    border-radius: 2px;
    padding: 20px;
  }

  .plans-comparison {
    li {
      line-height: 2em;
      list-style-type: none;
      text-align: center;
    }
    .list-group {
      margin-bottom: 0px;
      padding: 20px 0px 10px;
      border-top-left-radius:2px;
      border-top-right-radius:2px;
      border-top: 1px solid #e5e5e5;
      border-left: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
    }
  }

  .plans-select {
    p {
      text-align: center;
    }

    .btn {
      min-width: 150px;
    }
  }

  .plan-button {
    padding: 10px 10px 30px;
    margin: 0 auto;
    text-align: center;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    overflow: auto;
  }
  .cart-container {
    padding: 0px 10px 10px;
  }
  .cart {
    li {
      line-height: 1.5em;
      list-style-type: none;
    }
  }
}

.margin-left2 {
  margin-left: 2px;
}

.change-plan-desc {
  font-size: 20px;
  font-weight: 500;
}

.checkout {
  .sub-container {
    margin-top: 10px;
    padding-right: 8px;
  }
}

.checkout-container {
  margin-top: 30px;
}

.cart {
  margin-top: 20px;
  padding: 0px 0px 20px;
  z-index: 10000;
}

.sub-total {
  padding-right: 15px !important;
}

.table > tbody > tr > th {
  border-top:none;
  padding: 8px 0px 8px 8px;
}

.delete-credit-card {
  color: $main-color;
  text-shadow: none;
  background-color: $white;
  border: 0 none;
}

.delete-credit-card:hover {
  color: $dark-blue;
}

.stripe-button-el, .stripe-button-el span {
  background: $main-color !important;
  text-shadow: none !Important;
  box-shadow: none !Important;
  background-image: linear-gradient($main-color,$main-color) !Important;
  font-family: $regular-family !important;
  font-weight: normal !important;
}

.add-ons {
  form.button_to {
    float: left;
    width: 50% !important;
  }
}
