.subscriptions {
  color: $text-grey;

  .licence-alert {
    box-shadow: none;
    font-size: 15px;
    left: 45%;
    margin-left: -142px;
    padding: 0.4em 1em;
    position: fixed;
    text-align: center;
    top: 31px;
    width: 50%;
    z-index: 2;
  }

  .green {
    color: $green;
  }

  .icons {
    color: $main-color;
    font-size: 18px;
    cursor: pointer;
    margin-right: 12px;
  }

  .form-control {
    font-size: 14px;
    color: $main-color;
    background-color: $white;
    border: medium none;
  }

  .reveal {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 6px;
  }

  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
  }

  .marg {
    margin-left: 0;
  }

  .nav-tabs {
    margin-bottom: 20px;
    border-bottom: 1px solid $main-grey;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    /*border: 1px solid $light-grey;
    border-radius: 30px;*/
  }

  .save-sub-button {
    float: left;
    margin: 10px 0;
  }

  .page-content {
    overflow: auto;
    padding: 0 0 60px;
    background-color: $white;
  }

  .header {
    margin:0px 0px 40px;
  }

  .table-footer {
    border-top: 1px solid $main-grey;
  }

  .table-footer tr > td {
    padding-top: 10px;
  }

  .card {
    box-shadow: $box-shadow;
    border-radius:$border-radius;
    background-color: #f9f9f9;
    overflow: auto;
    padding: 10px;
    margin: 0 0 30px;
  }

  .tab-content {
    background: #ffffff;
    padding: 0;
  }

  .promo {
    position: absolute;
    left: -131px;
    top: 9px;
  }

  h4 {
    font-family: $bold-family;
  }
  .tooltip {
    position: absolute;
  }

  .table-border {
    border-bottom: 1px solid $lighter-grey;
    border-left: 1px solid $lighter-grey;
  }

  .tables-border-right {
    border-right: 1px solid $lighter-grey;
  }

  .table > tbody > tr > th {
    border-top:none;
    border-bottom: 1px solid $lighter-grey;
    padding: 8px 0px 8px;
  }

  .table > thead > tr > th,
  .table > tfoot > tr > td {
    padding: 8px 0;
  }

  .table > tbody > tr > td {
    border-top:none;
    padding: 8px 0px 0px 0px;
    vertical-align: top;
  }

  .table > tbody > tr > td {
    border-top: 1px solid $lighter-grey;
    border-bottom: none;
    padding: 8px 0px 8px;
  }

  .table > tbody > tr > td.cont {
    border-top:none !important;
  }

  .tabbable-custom,
  .nav-plans {
    margin-bottom: 0;
  }

  .checkout .table > tbody > tr > td {
    padding: 0px 0px 0px;
  }

  .nav-plans > li.active > a,
  .nav-plans > li.active > a:hover,
  .nav-plans > li.active > a:focus {
    background-color: transparent;
    border-color: $white !important;
    border-width: medium medium 2px;
    font-family: proxima-nova-regular,"Open Sans",Arial,Helvetica,sans-serif;
  }

  .remove-licence,
  .add-licence {
    cursor: pointer;
  }

  .nav-plans {
    margin-top: 0;
  }

  .nav-plans > li > a:hover {
    color: #555;
  }

  div#message-custom-licence {
    display: none;

    span {
      background-color: #F2DEDE;
      border: 1px solid #ebccd1;
      border-radius: 4px;
      box-shadow: none;
      color: #A94442;
      display: inline-block;
      font-size: 15px;
      margin-top: 3px;
      padding: 0.4em 1em;
      text-align: center;
    }

    i {
      color: #A94442;
    }
  }

  .nav-tabs > li > a {
    margin-right: 0;
  }

  .nav-plans > li.hover > a,
  .nav-plans > li.hover > a:hover{
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    border-color: $white;
    border: 0 none;
    border-right: solid 1px $lighter-grey;
    color: #555;
  }

  .nav-plans > li {
    border-right: 1px solid $main-grey;
    border-top: 1px solid $main-grey;
    margin-bottom: -2px;
    margin-right: 0;
  }

  .save-button {
    margin-bottom: 8px;
    margin-right: 8px;
  }

  .margin-left-15 {
    margin-left: 15px;
  }

  .table {
    margin-bottom: 20px;

    tbody  tr:hover {
      background-color: $form-grey;
    }
  }

  .toggle.btn {
    border-width: 1px;
  }

  .toggle-handle {
    height: 34px;
    margin-right: 16px;
    width: 15px;
  }

  .plan-table > tbody > tr > td {
    border: 0;
    height: 43px;
    padding: 5px 0;
  }

  .quantity-text {
    text-align: center;
    width: 50px;
  }

  .off .toggle-group .toggle-handle {
    margin-left: 13px;
    margin-right: 0;
    margin-top: 0;
  }

  .no-editable {
    background-color: transparent;
    border: 0;
  }

  .no-editable:focus {
    box-shadow: none;
  }

  .plans-comparison {

    h4 {
      color: $main-color;
    }

    h3 {
      margin-top: 5px;
      margin-bottom: -5px;
    }

    small {
      margin-bottom: 25px;
    }

    li {
      line-height: 2em;
      list-style-type: none;
      text-align: center;
    }

    .list-group {
      border-left: 1px solid $secondary-grey;
      border-right: 1px solid $secondary-grey;
      border-top: 1px solid $secondary-grey;
      border-top-left-radius:2px;
      border-top-right-radius:2px;
      margin-bottom: 0;
      padding: 20px 0px;
    }

    .current-plan-highlight {
      border-left: 1px solid $main-color;
      border-right: 1px solid $main-color;
      border-top: 1px solid $main-color;
    }

  }

  .plans-select {
    p {
      text-align: center;
    }

    .btn {
      min-width: 150px;
    }
  }

  .plan-button {

  }

  .plan-button .disabled {
    border: 1px solid $main-color;
    color: $main-color;
    opacity: 1;
  }

  .plan-button.highlight-plan-button {
    /*border-left: 1px solid $main-color;
    border-right: 1px solid $main-color;
    border-bottom: 1px solid $main-color;*/
  }
  .cart-container {
    padding: 0px 10px 10px;
  }

  .cart {
    li {
      line-height: 1.5em;
      list-style-type: none;
    }
  }

  .add-to-cart-link {
    color:$main-color;
    float: left;
    padding: 0 10px 0 0;
    background: none;
    border: none;
    font-size: 15px;
    min-width: 47px;
  }

  .cancel-add-on {
    margin-left: 10px;
  }

  .btn-edit {
    margin-left: 5px;
  }

}

.change-plan-desc {
  font-size: 20px;
  font-weight: 500;
}

.add-on-text {
  margin-left: 7px;
  margin-right: 5px;
  padding: 5px 10px;
  width: 42px;
  text-align: center;
}

.create-add-ons {
  cursor: pointer;
}

.checkout-page {

  .sub-container {
    margin-top: 10px;
  }
}

.checkout-container {
  margin-top: 30px;
}

.cart {
  padding: 0px 0px 20px;
  z-index: 10000;
}

.sub-total {
  padding-right: 15px !important;
}



.delete-credit-card {
  color: $white;
  text-shadow: none;
  background-color: $main-color;
  border: 0 none;
}

.delete-credit-card:hover {
  color: $dark-blue;
}

.stripe-button-el, .stripe-button-el span {
  background: $main-color !important;
  text-shadow: none !Important;
  box-shadow: none !Important;
  background-image: linear-gradient($main-color,$main-color) !Important;
  font-family: $regular-family !important;
  font-weight: normal !important;
}

.line-through {
  text-decoration: line-through;
}

.checkout {
  position: fixed;
  top: 33px;
  right: 0;
  z-index: 10;
  display: block;
  width: 67px;
  height: 45px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.checkout {

  .cart {
    color: $secondary-color;
  }

  i.fa-2.fa.fa-times {
    position: absolute;
    top: 12px;
    right: 26px;
  }

  .sub-container {
    padding-top: 25px;
    border-top:1px solid $lighter-grey;
  }

}

.checkout__button {
  position: relative;
  z-index: 10;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.checkout--active .checkout__button {
  cursor: default;
  -webkit-transform: translate3d(-490%, 0, 0);
  transform: translate3d(-490%, 0, 0);
}

.checkout__button:focus {
  outline: none;
}

.checkout__text {
  display: block;
  padding: 13px 0 0;
  color: #fff;
  font-weight: 400;
  font-size: 1.25em;
}

.cart-count {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 14px;
  font-family: $bold-family;
  color: $white;
  background-color: $main-color;
  border-radius: 21px;
  padding: 1px;
  height: 20px;
  width: 20px;
  transition: all, 0.2s, ease-in-out;
}

.checkout__icon {
  display: block;
  margin: 0 auto;
  font-size: 23px;
  color: #333;
}

.checkout__order {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  max-width: 100vw;
  width: 400px;
  text-align: right;
  pointer-events: none;
}

.checkout--active .checkout__order {
  pointer-events: auto;
}

.checkout__order::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $secondary-grey;
  -webkit-transform: translate3d(100%, -100%, 0) translate3d(-62px, 45px, 0);
  transform: translate3d(100%, -100%, 0) translate3d(-62px, 45px, 0);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
}

.checkout--active .checkout__order::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.checkout__order-inner {
  position: relative;
  padding: 4em 1.9em;
  opacity: 0;
}

.checkout--active .checkout__order-inner {
  opacity: 1;
  -webkit-transition: opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
}

.checkout__close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  overflow: hidden;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  color: transparent;
  text-indent: 100%;
  opacity: 0;
  -webkit-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);

  backface-visibility: hidden;
}

.checkout__close:focus {
  outline: none;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-indent: 0;
}

.icon:hover {
  color: #426a98;
}

.checkout__summary {
  margin: 2.5em 0 0.75em;
  width: 100%;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em;
  line-height: 1.5;
}

.checkout__summary tr {
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}

.checkout--active .checkout__summary tr {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
}

.checkout--active .checkout__summary tbody tr:nth-child(1) {
  -webkit-transition-delay: 0.015s;
  transition-delay: 0.015s;
}

.checkout--active .checkout__summary tbody tr:nth-child(2) {
  -webkit-transition-delay: 0.03s;
  transition-delay: 0.03s;
}

.checkout--active .checkout__summary tbody tr:nth-child(3) {
  -webkit-transition-delay: 0.045s;
  transition-delay: 0.045s;
}

.checkout--active .checkout__summary tbody tr:nth-child(4) {
  -webkit-transition-delay: 0.06s;
  transition-delay: 0.06s;
}

.checkout--active .checkout__summary tbody tr:nth-child(5) {
  -webkit-transition-delay: 0.075s;
  transition-delay: 0.075s;
}

.checkout--active .checkout__summary tbody tr:nth-child(6) {
  -webkit-transition-delay: 0.09s;
  transition-delay: 0.09s;
}

.checkout--active .checkout__summary tfoot tr {
  -webkit-transition-delay: 0.105s;
  transition-delay: 0.105s;
}

.checkout__summary thead th,
.checkout__summary tfoot th {
  color: #517cad;
  line-height: 2.5;
}

.checkout__total {
  color: #fff;
}

.checkout__summary tbody tr:first-child td {
  padding-top: 0.5em;
}

.checkout__summary tbody td {
  padding: 0.25em 0;
  font-weight: 700;
  font-size: 0.85em;
}

.checkout__summary tbody td:last-child,
.checkout__summary .checkout__total {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.checkout__summary tbody td span {
  color: #cfe6ff;
}

.checkout__summary th:last-child,
.checkout__summary td:last-child {
  text-align: right;
}

.checkout__option {
  display: inline-block;
  margin-top: 1em;
  padding: 0.5em 2em 0em;
  border: none;
  border-radius: 1px;
  background: #517cad;
  color: #fff;
  font-weight: 700;
  opacity: 0;
  -webkit-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);
}

.checkout__option:hover {
  background: #426a98;
}

.checkout__option--silent {
  background: none;
  font-size: 0.9em;
  font-weight: 500;
  color: $main-color;
}

.checkout__option--silent:hover {
  background: none;
  color: #426a98;
}

.checkout__option:focus {
  outline: none;
}

.checkout--active .checkout__option {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transition-delay: 0.18s;
  transition-delay: 0.18s

}

@media screen and (max-width: 26em) {
  .checkout--active .checkout__button {
    cursor: default;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.invoice {
  margin-top: 15px;

  .invoice-header {
    margin-bottom: 90px;
    margin-top: 85px;
  }

  .img-invoice {
    margin-left: 15px;
  }

  h3.invoice-title {
    text-transform: uppercase;
    margin-bottom: 45px;
  }
  .invoice-status {
    color:$green;
    text-transform: uppercase;
    font-family: $bold-family;
    margin-bottom: 45px;
  }

  .head-text {
    margin-bottom: 5px;
  }

  .invoice-no {
    font-size: 18pt;
    margin-top: 30px;
  }

  .footer-text {
    font-family: $bold-family;
    margin: 0px 0px;
  }

  .invoice-total {
    margin-bottom: 10px;
  }

  .address {
    padding-left: 0;
    padding-right: 0;
    margin-top: 85px;
  }

  .address-text {
    padding: 4px 0px;
  }

}
.invoices {

  .download-pdf {
    color:$main-color;
    margin-right: 30px;
  }

  .send-email {
    color:$main-color;
  }

  .fa {
    margin-left: 10px;
  }

}

.opacity-transparent {
  opacity: 0.2;
}

.middle-gif {
  position: absolute;
  z-index: 99999;
  margin-top: 5%;
  margin-left: 45%;
}

i.blue {
  color: $main-color;
}

.margin-left2 {
  margin-left: 2px;
}

.licence-alert .licence-message-30,
.licence-message-90,
.licence-message-infinity,
.licence-message-7 {
  display: none;
}

@media (min-width: 768px) {

  .edit-modal .modal-dialog {
    width: 500px;
    margin: 30px auto;
  }

}

@media only screen and (max-width: 580px) {

  .subscriptions .licence-alert {
    width: 70%;
  }

}

@media only screen and (max-width: 480px) {

  .subscriptions .licence-alert {
    width: 85%;
    margin-left: -130px;
  }

}

.margin-bottom-100 {
  margin-bottom: 100px;
}
