.subscriptions {

  h3 {
    margin: 35px 0px 15px;
  }

  .page-content {
    overflow: auto;
    padding: 0 0 60px;
    background-color: $secondary-grey;
  }

  .header {
    margin:0px 0px 40px;
  }

  .card {
    box-shadow: $box-shadow;
    border-radius:$border-radius;
    padding: 20px;
    background-color: #ffffff;
    overflow: auto;
  }

  .tab-content {
    background: #ffffff;
  }

  h4 {
    font-family: $bold-family;
  }

  .table > tbody > tr > th {
    border-top:none;
    border-bottom: 1px solid $lighter-grey;
    padding: 8px 0px 8px;
  }

  .table > tbody > tr > th {
    color: $grey;
  }

  .table > tbody > tr > td {
    border-top:none;
    padding: 8px 0px 0px 0px;
  }

  .table > tbody > tr > td {
    border-top: 1px solid $lighter-grey;
    border-bottom: none;
    padding: 8px 0px 8px;
  }

  .table > tbody > tr > td.cont {
    border-top:none !important;
  }

  .checkout .table > tbody > tr > td {
    padding: 0px 0px 0px;
  }

  .nav-plans {
    margin: 0px auto 10px;
    max-width: 236px;
  }

  .temp {
    height: 40px;
  }

  .table {
    margin-bottom: 20px;
  }

  .note p {
    font-size: $body-main;
  }

  .note  {
    border-radius: 2px;
    max-width: 300px;
    padding: 20px;
    margin-right: 10px;
  }

  .plans-comparison {

    h4 {
      color: $main-color;
    }

    h3 {
      margin-top: 5px;
      margin-bottom: 25px;
    }

    li {
      line-height: 2em;
      list-style-type: none;
      text-align: center;
    }

    .list-group {
      border-left: 1px solid $secondary-grey;
      border-right: 1px solid $secondary-grey;
      border-top: 1px solid $secondary-grey;
      border-top-left-radius:2px;
      border-top-right-radius:2px;
      margin-bottom: 0;
      padding: 20px 0px;
    }
  }

  .plans-select {
    p {
      text-align: center;
    }

    .btn {
      min-width: 150px;
    }
  }

  .plan-button {
    border-bottom: 1px solid $secondary-grey;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-left: 1px solid $secondary-grey;
    border-right: 1px solid $secondary-grey;
    margin: 0 auto;
    overflow: auto;
    padding: 10px 10px 30px;
    text-align: center;
  }
  .cart-container {
    padding: 0px 10px 10px;
  }

  .cart {
    li {
      line-height: 1.5em;
      list-style-type: none;
    }
  }

  .add-on-price {
    color: $grey;
  }

  h3.add-on-price-header {
    margin: -4px 0px 0px;
  }

  .add-on-price-header {
    font-family: $bold-family;
    color: $secondary-color;
    margin-top: -10px;
    position: absolute;
    margin-left: 13px;
  }

  .add-on-price-term {
    font-size: 14px;
    color:$grey;
  }

  .add-to-cart-link {
    color:$main-color;
    float: left;
    padding: 0 15px 0 0;
    background: none;
    border: none;
  }
}

.margin-left2 {
  margin-left: 2px;
}

.change-plan-desc {
  font-size: 20px;
  font-weight: 500;
}

.checkout-page {

  .sub-container {
    margin-top: 10px;
  }
}

.checkout-container {
  margin-top: 30px;
}

.cart {
  padding: 0px 0px 20px;
  z-index: 10000;
}

.sub-total {
  padding-right: 15px !important;
}



.delete-credit-card {
  color: $main-color;
  text-shadow: none;
  background-color: $white;
  border: 0 none;
}

.delete-credit-card:hover {
  color: $dark-blue;
}

.stripe-button-el, .stripe-button-el span {
  background: $main-color !important;
  text-shadow: none !Important;
  box-shadow: none !Important;
  background-image: linear-gradient($main-color,$main-color) !Important;
  font-family: $regular-family !important;
  font-weight: normal !important;
}

.line-through {
  text-decoration: line-through;
}

.checkout {
  position: fixed;
  top: 33px;
  right: 0;
  z-index: 10;
  display: block;
  width: 67px;
  height: 45px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.checkout {

  .cart {
    color: $secondary-color;
  }

  i.fa-2.fa.fa-times {
    position: absolute;
    top: 12px;
    right: 26px;
  }

  .sub-container {
    padding-top: 25px;
    border-top:1px solid $lighter-grey;
  }

}

.checkout__button {
  position: relative;
  z-index: 10;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.checkout--active .checkout__button {
  cursor: default;
  -webkit-transform: translate3d(-490%, 0, 0);
  transform: translate3d(-490%, 0, 0);
}

.checkout__button:focus {
  outline: none;
}

.checkout__text {
  display: block;
  padding: 12px 0 0;
  color: #fff;
  font-weight: 400;
  font-size: 1.25em;
}

.cart-count {
  position: absolute;
  top: 2px;
  right: 6px;
  font-size: 14px;
  color: #428bca;
  font-family: $bold-family;
}

.checkout__icon {
  display: block;
  margin: 0 auto;
  font-size: 23px;
  color: #333;
}

.checkout__order {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  max-width: 100vw;
  width: 400px;
  text-align: right;
  pointer-events: none;
}

.checkout--active .checkout__order {
  pointer-events: auto;
}

.checkout__order::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $light-grey;
  -webkit-transform: translate3d(100%, -100%, 0) translate3d(-62px, 45px, 0);
  transform: translate3d(100%, -100%, 0) translate3d(-62px, 45px, 0);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);

}

.checkout--active .checkout__order::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.checkout__order-inner {
  position: relative;
  padding: 4em 1.9em 2em;
  opacity: 0;
}

.checkout--active .checkout__order-inner {
  opacity: 1;
  -webkit-transition: opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
}

.checkout__close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  overflow: hidden;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  color: transparent;
  text-indent: 100%;
  opacity: 0;
  -webkit-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);

  backface-visibility: hidden;
}

.checkout__close:focus {
  outline: none;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-indent: 0;
}

.icon:hover {
  color: #426a98;
}

.checkout__summary {
  margin: 2.5em 0 0.75em;
  width: 100%;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em;
  line-height: 1.5;
}

.checkout__summary tr {
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}

.checkout--active .checkout__summary tr {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
}

.checkout--active .checkout__summary tbody tr:nth-child(1) {
  -webkit-transition-delay: 0.015s;
  transition-delay: 0.015s;
}

.checkout--active .checkout__summary tbody tr:nth-child(2) {
  -webkit-transition-delay: 0.03s;
  transition-delay: 0.03s;
}

.checkout--active .checkout__summary tbody tr:nth-child(3) {
  -webkit-transition-delay: 0.045s;
  transition-delay: 0.045s;
}

.checkout--active .checkout__summary tbody tr:nth-child(4) {
  -webkit-transition-delay: 0.06s;
  transition-delay: 0.06s;
}

.checkout--active .checkout__summary tbody tr:nth-child(5) {
  -webkit-transition-delay: 0.075s;
  transition-delay: 0.075s;
}

.checkout--active .checkout__summary tbody tr:nth-child(6) {
  -webkit-transition-delay: 0.09s;
  transition-delay: 0.09s;
}

.checkout--active .checkout__summary tfoot tr {
  -webkit-transition-delay: 0.105s;
  transition-delay: 0.105s;
}

.checkout__summary thead th,
.checkout__summary tfoot th {
  color: #517cad;
  line-height: 2.5;
}

.checkout__total {
  color: #fff;
}

.checkout__summary tbody tr:first-child td {
  padding-top: 0.5em;
}

.checkout__summary tbody td {
  padding: 0.25em 0;
  font-weight: 700;
  font-size: 0.85em;
}

.checkout__summary tbody td:last-child,
.checkout__summary .checkout__total {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.checkout__summary tbody td span {
  color: #cfe6ff;
}

.checkout__summary th:last-child,
.checkout__summary td:last-child {
  text-align: right;
}

.checkout__option {
  display: inline-block;
  margin-top: 1em;
  padding: 0.5em 2em 0em;
  border: none;
  border-radius: 1px;
  background: #517cad;
  color: #fff;
  font-weight: 700;
  opacity: 0;
  -webkit-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);
}

.checkout__option:hover {
  background: #426a98;
}

.checkout__option--silent {
  background: none;
  font-size: 0.9em;
  font-weight: 500;
  color: $main-color;
}

.checkout__option--silent:hover {
  background: none;
  color: #426a98;
}

.checkout__option:focus {
  outline: none;
}

.checkout--active .checkout__option {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transition-delay: 0.18s;
  transition-delay: 0.18s

}

@media screen and (max-width: 26em) {
  .checkout--active .checkout__button {
    cursor: default;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
