<!--PERMISSIONS-->
<div class="row">
  <div class="col-lg-12">
    <div class="col-md-7 sharing">
      <h4>Permissions</h4>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="public_discoverable" checked>
          <h5><span class="glyphicon glyphicon-globe"></span> Public on the web <small>Anyone on the internet can find access.</small></h5>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="public_undiscoverable">
          <h5><span class="glyphicon glyphicon-link"></span> Anyone with the link <small>Anyone who has the link can access. No sign in required.</small></h5>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="private">
          <h5><span class="glyphicon glyphicon-user"></span> Specific People <small>Only people explicitly granted permission.</small></h5>
        </label>
      </div>
      <div class="form-group">
        <div class="col-sm-8">
          <input type="hidden" name="camera_id" id="camera_id" value="<%= @camera["id"] %>"></input>
          <button type="submit" id="set_permissions_submit" class="btn btn-primary btn-sm">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--USER LIST-->
<div class="panel panel-body">
  <div class="row">
    <div class="col-md-12">
    <% if @shares && @shares.count > 0 %>
      <table class="table">
        <thead>
        <tr>
          <th>This Camera is Shared With</th>
          <th>Permissions</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @shares.each do |share| %>
          <tr>
            <td><%= share.sharer.fullname %></td>
            <td>
              <div class="input-group input-group-sm">
                <select class="form-control">
                  <option>Read Only</option>
                  <option>Full Rights</option>
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <div class="col-sm-8"></div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <div class="col-sm-8">
                  <span class="glyphicon glyphicon-remove"></span> Remove User
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
          </td>
        </tr>
        </tfoot>
      </table>
    <% else %>
      <center>You are not currently sharing this camera with anyone.</center>
    <% end %>
    </div>
  </div>
</div>

<!--ADD A USER-->
<div class="panel panel-body">
  <div class="row">
    <div class="col-md-12">
      <h5><span class="glyphicon glyphicon-plus"></span>  Add A User</h5>
    </div>
  </div>

  <div class="row add-user">
    <div class="col-md-5">
      <div class="input-group input-group-sm">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input type="email" placeholder="email@domain.com" class="form-control" id="inputEmail3">
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group input-group-sm">
        <select class="form-control">
          <option>Read Only</option>
          <option>Full Rights</option>
        </select>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm">Invite</button>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input type="checkbox"> Send Notification
      </div>
    </div>
  </div>
</div>

<!--LINK TO SHARE-->
<div class="panel panel-body">
  <div class="row">
    <div class="col-md-8">
      <h5><span class="glyphicon glyphicon-globe"></span>  Link to Share</h5>
      <div class="well well-sm">...</div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(window.Evercam.Share.initializeTab);
</script>