<table>
  <thead>
    <th>Name</th>
    <th>URL</th>
  </thead>

<% @cameras.each do |c| %>
  <tr>
    <td><%= link_to(c.name, "publiccam/#{c.exid}") %></td>
    <td><%= link_to(c.external_jpg_url, c.external_jpg_url, :only_path => false) %></td>
  </tr>
<% end %>
</table>
