<%= content_for(:title, "Evercam: Add Camera Widget") %>

<div class="page-content-wrapper">
  <div class="page-content" id="snapshot-widgets">
    <div class="row">
      <div class="section-header">
        <div class="camera-title">
          <div class="col-xs-12 col-md-12">
            Create a Camera Widget
          </div>
        </div>
      </div>
    </div>
    <div class="portlet-body margin-top-30">
      <div class="row">
        <div id="snapshot-widget" class="widget-config">

          <div class="col-md-12">
            <div class="row widget-code">
              <div class="col-md-12">
                <h5>Embed this code on your webpage:</h5>
                <textarea id="code" class="pretty-code col-md-12" type="text" readonly>
                </textarea>
              </div>
            </div>
          </div>

          <div class="clear-f"></div>

          <div class="col-md-12">
            <div class="line-break"></div>
            <div class="placeholder"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "widgets/add_camera" %>
<script type="text/javascript">
  var iframeWindow;
  $(document).ready(function () {
    window.initializeAddCamera();
  });
</script>
