<div class="payment-confirmation col-md-6">
  <h5>Thanks for your payment!</h5>
  <p>We're currently working on improving our payment system so please bare with us while we go through some teething problems.</p>
    <p>Rest assured it's as secure as houses - just not as user friendly as we plan to make it.</p>
  <p>Don't hesitate to contact support@evercam.io if you have any questions.</p>
  <p>The Evercam dev team</p>
</div>
