<div class="checkout page-content-wrapper">
  <div class="page-content">

      <div class="plans">
      <%= render 'subscriptions/navigation' %>
        <div class="col-md-12">
          <div classs="col-md-12">
            <h3>Checkout</h3>
          </div>
          <div class="row">
            <div class="col-md-6">
            <%= render "subscriptions/cart" %>
              <div class="margin-top-20 pull-right">
                <%= button_to "Pay Now", new_charge_path({ amount: @total_charge }), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
      </div>
      </div>

  </div>
</div>