.user-history {
  .container-margin {
    padding-left: 15px;
    padding-right: 15px;
  }
  .filter {
    padding: 5px 15px 3px 15px;
    margin-top: -13px;
    background-color: #e5e5e5;
  }

  .filter-button {
    font-size: 12px;
    height: 30px;
    padding: 5px 10px;
  }

  .heading {
    color: $form-dark-grey;
    padding: 10px;
    border-bottom: solid 1px $background-gray;
  }

  table th {
    border: solid 1px $background-gray;
  }

  table.dataTable.no-footer {
    border-bottom: solid 1px $background-gray;
  }

  table.dataTable.cell-border tbody tr th:first-child, table.dataTable.cell-border tbody tr td:first-child {
    /*border-left-width: 0px;*/
  }

  table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
    /*border-right-width: 0px;*/
  }

  table.dataTable.compact tbody th, table.dataTable.compact tbody td {
    padding: 4px 4px 4px 10px;
  }

  table.dataTable.compact thead th, table.dataTable.compact thead td {
    padding: 0px 17px 4px 10px;
    border-bottom: solid 1px $background-gray;
  }
}
