// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* PASSWORD RESET */
#pass-reset .branding {
  max-width: 200px;
  margin: 0 auto;
}
#pass-reset .branding .svg-logo {
  display: block;
  max-width: 200px;
}
#pass-reset .panel {
  padding: 15px 15px 15px 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius:2px;
}
#pass-reset .input-icon > i {
  margin: 8px 2px 4px 10px;
  font-style:normal;
}
.hide {
  display: none;
}

.reset-password-email {
  padding-left: 33px !important;
}
