// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* PASSWORD RESET */
#pass-reset .branding {
  padding-top: 0px;
}

#pass-reset .panel {
  padding: 40px 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius:2px;
}
#pass-reset .input-icon > i {
  margin: 8px 2px 4px 10px;
  font-style:normal;
}
.hide {
  display: none;
}

.input-icon.right > .form-control {
  height: 36px;
}

.reset-password-email {
  padding-left: 33px !important;
}

@media (max-width: 668px) {

  .form-group {
    margin-bottom: 15px;
  }
}
