// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* - Sign in & Create Account - */

#sign-in-section {
  background-color:#f5f5f5;
}
#sign-in-section div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#sign-in {
  h3 {
    margin-top: 0px;
  }
  .row {
    margin-top: 20px;
  }
  label {
    font-weight: normal;
    margin-bottom: 5px;
    color:#aaaaaa;
  }

  border: 1px solid #E5E5E5;
  border-radius: 2px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  padding: 40px 0;
}

#signin .branding img {
  max-width: 200px;
}
#sign-in textarea, input {
  border: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  border: 1px solid #E5E5E5;
  box-shadow: none;
  color: #404142;
  padding: 6px;
}
#sign-in textarea, input:focus {
  border-color: #428BCA;
  box-shadow: 0 0 5px rgba(66, 139, 202, 0.75), 2px 2px 3px rgba(255, 255, 255, 0.2) inset;
}
#sign-in input {
  width: 100%;
  margin: 0 auto;

}

/* - Create Account - */
#new-account {

  select {
    height: 34px;
    border-radius: 0px !important;
  }

  .grey-background {
    background-color: $evercam-grey;
  }

  .left-0 {
    left: 0px;
    top: -22px;
  }

}

#registration {
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  padding: 40px 0px;
}

#registration h3{
  padding-bottom:10px;
}
#registration label {
  font-weight: normal;
  margin-top: 7px;
  min-width: 106px;
  text-align: left;
  color: #aaa;
}
#registration textarea, input {
  border: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  border: 1px solid #E5E5E5;
  box-shadow: none;
  color: #404142;
  padding: 6px;
  font-size: 16px;
}
#registration textarea, input:focus {
  border-color: #428BCA;
  box-shadow: 0 0 5px rgba(255, 139, 202, 0.75), 2px 2px 3px rgba(255, 255, 255, 0.2) inset;
}

.use {
  font-size:12px;
  margin-top: 5px;
}
select {
  width: 100%;
}
#country {
  background-image: none;
}
/* Chrome fix for inputs */
input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px #f9f9f9 inset !important; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px #f9f9f9 inset;
  -webkit-text-fill-color: #333;
  background-color: #f9f9f9 !important;
}
/* tooltip errors sign-in */
@media (min-width: 890px) {
  #registration .has-error .help-block {
    color: #a94442;
    position: absolute;
    display: inline;
    left: 99%;
    top: -6px;
    overflow: visible;
    width: 112%;
    background-color: #f2dede;
    padding: 5px 6px;
    border-radius: 2px;
    line-height: 16px;
    font-size: 14px;
  }
  .arrow_box {
    position: relative;
    background: #f2dede;
    border: 1px solid #dca7a7;
  }
  .arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .arrow_box:after {
    border-color: rgba(242, 222, 222, 0);
    border-right-color: #f2dede;
    border-width: 5px;
    margin-top: -5px;
  }
  .arrow_box:before {
    border-color: rgba(220, 167, 167, 0);
    border-right-color: #dca7a7;
    border-width: 6px;
    margin-top: -6px;
  }
}

.has-error .form-control {
  background-color: #F5F5F5;
  border: 1px solid #E5E5E5;
  box-shadow: none;
  padding: 6px;
  color: #404142;
}

.margin-bottom15 {
  margin-bottom: 15px;
}

.width100 {
  width: 100%;
}

.info-icon {
  position: absolute;
  right: 0;
  top: 9px;
  color: $grey;
}

@media (max-width: 668px) {

  #registration label {
    min-width: 0px;
  }
  .form-group {
    margin-bottom: 0px;
  }

}

@media (max-width: 480px) {

  html {
    overflow: auto;
  }

  .evercam-video-section video {
    display: none;
  }

  .evercam-video-section {
    background-image: url("./poster.jpg");
  }

}
