.account .icon {
  font-size: 16px;
  margin-right: 8px;
  height: 0;
}
.payment-confirmation {
  margin-left: 250px;
  margin-top: 15px;
}
#user-settings {
  .page-content-wrapper .page-content {
    padding: 0px 20px 10px 20px;
  }
  .form-group {
    margin-bottom: 8px;
  }
  label {
    margin-bottom: 0px;
  }

  .alert-info {
    background-color: #ffffff;
    border-radius: 2px !important;
  }
  .form-control[disabled] {
    padding:0;
  }
}
#billing {
  .list {
    padding-left: 25px;
    margin-bottom: 10px;
  }
  .stripe-button-el span {
    margin-top: 0px;
  }
  .list-group-lg > .list-group-item {
    border-bottom: none;
  }
}
.close {
  text-indent: 0px;
  height: 20px;
}
.cancel  {
  margin-left: 10px;
  float: left;
}
#user-settings .help-inline .input-inline:hover {
  display: block;
}
#user-settings .blue.btn {
  float: left;
}
#user-settings .has-error .help-block {
  font-size: 12px;
  background-color: transparent;
}

#username {
  opacity: 0;
}
.form-group:hover #username {
  opacity: 1;
  transition: opacity .2s ease-in-out;
}
#user-settings .form-control[readonly] {
  background-color:#ffffff;
  border-bottom: 1px solid #e5e5e5;
  border:none;
  padding: 0px;
}
#user-settings .form-control {
  font-size: 16px;
}
.user-settings-portal {
  max-width: 465px;
}